# 14/02/2007 (EARLIEST v12.17.4, c.11/07/2003)

PKGNAME=sox
PKGVER=12.18.2
PKGVER=13.0.0
PKGREV=
#SRCDEP="s/ http://www.mirrorservice.org/sites/www.ibiblio.org/gentoo/distfiles/sox-12.18.2.tar.gz"
SRCDEP="s/ http://kent.dl.sourceforge.net/sourceforge/sox/sox-13.0.0.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#SRCXPATH=${PKGNAME}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
