# 04/07/2007 (EARLIEST v0.2, c.19/05/2003)

PKGNAME=ed
#PKGVER=0.2
#PKGREV=-eg2d
#PKGVER=0.3
#PKGVER=0.4
#PKGVER=0.6
#PKGVER=0.7-rc1
PKGVER=0.8-rc1
PKGREV=

#SRCDEP="e/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/ed/ed-${PKGVER}.tar.bz2"
SRCDEP="e/ http://es.geocities.com/ant_diaz2001/ed-0.8-rc1.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
