# 23/07/2003 (EARLIEST v1.15, c.23/03/2004)

PKGNAME=pam_unix2
PKGVER=1.15
SRCDEP1="p/ ftp://ftp.suse.com/pub/people/kukuk/pam/${PKGNAME}/${PKGNAME}-${PKGVER}.tar.bz2"
PREFIXES=
#
#TCDEP1=
#RTDEP= libX11.so.6
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
