# mctc-linux 2.0.40		[ since v2.0.??, c.????-??-?? ]
# last mod WmT, 2009-12-27	[ (c) and GPLv2 1999-2009 ]

PKG_SRC=${SRCDIR}/l/linux-${PKG_VER}.tar.bz2

PKG_URLS=SCHEME://SERVER/PATH/linux-${PKG_VER}.tar.bz2

[ "${BUILD_CTI}" = 'y' ] && DEPS=""

#[ "${BUILD_CTI}" = 'y' ] && METHOD=sh
[ "${BUILD_CTI}" = 'y' ] && METHOD=mak
