# 03/11/2007 (EARLIEST v2.4, c.17/03/2003)

PKGNAME=e3
#PKGVER=2.6.3 (frlx-0.6.6-2, 27/02/2005)
PKGVER=2.7.1
PKGREV=
SRCDEP="e/ http://mitglied.lycos.de/albkleine/e3-2.7.1.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: nasm

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-i386-${PKGVER}${PKGREV}
