# 2007-09-22 (EARLIEST v1.6.23, c.  2005-08-12)

PKGNAME=parted
PKGVER=1.6.24
PKGREV=
#	http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/parted/parted-${PKGVER}.tar.gz
SRCDEP="p/ http://swoolley.org/source_cache/parted-1.6.24.tar.gz"
PREFIXES=
#
#DEP-FOR-DC: libuuid (e2fsprogs)
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
