# 06/01/2007 (EARLIEST v0.28, c.18/08/2004)

PKGNAME=ctris
#PKGVER=0.41
#PKGREV=-eg1b
PKGVER=0.42
PKGREV=
SRCDEP="c/ http://www.hackl.dhs.org/data/download/download.php?file=ctris-0.42.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: ncurses

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
