# 09/11/2005 (EARLIEST v1.0, c.15/04/2004)

PKGNAME=fatresize
#PKGVER=1.0
PKGVER=1.0.2
PKGREV=
SRCDEP="f/ http://kent.dl.sourceforge.net/sourceforge/fatresize/fatresize-${PKGVER}.tar.bz2"
PREFIXES=
#
#DEP-FOR-DC:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
