# 2008-11-06 (EARLIEST v1.3, 2006-07-22)

PKGNAME=darkhttpd
#PKGVER=1.5
PKGVER=1.7
PKGREV=
SRCDEP="d/ http://dmr.ath.cx/net/darkhttpd/darkhttpd-${PKGVER}.tar.bz2"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
