# 05/03/2006 (EARLIEST v0.16, c.22/03/2004)

PKGNAME=embutils
PKGVER=0.17
PKGREV=
#SRCDEP="e/ ftp://ftp.fu-berlin.de/unix/linux/dietlibc/embutils-0.17.tar.bz2"
SRCDEP="e/ http://www.fefe.de/embutils/embutils-0.17.tar.bz2"
PREFIXES=
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
