# hb_qdtc-binutils v2.22	STUBS (c) and GPLv2 1999-2012
# last modified			2012-06-13

PKGNAME=hb_qdtc-binutils
PKGVER=2.22
PKGREV=

BUILD_METHOD=MAKEFILE

#SRC1=http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/binutils/binutils-2.22.tar.bz2
SRC1=http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/binutils/binutils-2.22.tar.bz2
