# 23/12/2004 (EARLIEST v4.4.94, c.10/06/2003)

PKGNAME=strace
PKGVER=4.5.8
SRCDEP="s/ http://heanet.dl.sourceforge.net/sourceforge/strace/strace-4.5.8.tar.bz2"
PREFIXES=
#
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
