# nui-binutils v2.9.1		STUBS (c) and GPLv2 Wm.Towle 1999-2010
# last mod WmT, 2010-12-27	[ since v2.9.1, c.????-??-?? ]

PKGNAME=nui-binutils
PKGVER=2.9.1
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://ftp.no.debian.org/pub/linux/slackware/slackware-3.9/slakware/d1/binutils.tgz
