# 25/03/2005 (EARLIEST v0.93.3, c.26/03/2005)

PKGNAME=puf
PKGVER=0.93.3
SRCDEP="p/ http://kent.dl.sourceforge.net/sourceforge/puf/puf-0.93.3.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: grep, sed
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
