# 23/12/2004 (EARLIEST v2.6.4, c.23/12/2004)

PKGNAME=mcrypt
PKGVER=2.6.4
SRCDEP="m/ http://heanet.dl.sourceforge.net/sourceforge/mcrypt/mcrypt-2.6.4.tar.gz"
PREFIXES=''
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
