# 2008-02-10

PKGNAME=tar
PKGVER=1.13
PKGREV=-eg2a
#SRCDEP="t/ http://www.mirror.ac.uk/mirror/ftp.gnu.org/gnu/${PKGNAME}/${PKGNAME}-${RELVER}.tar.gz"
SRCDEP="t/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/${PKGNAME}/${PKGNAME}-${PKGVER}.tar.gz"
PREFIXES="MINIMAL UTILS"

DEP_TC_HOST="/usr/bin/make"
#TCDEP1=which ar which cmp which grep; varargs
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
MINIMAL_PACKAGE=${PKGNAME}-minimal-${PKGVER}${PKGREV}
UTILS_PACKAGE=${PKGNAME}-utils-${PKGVER}${PKGREV}
