# grep v2.5.4			STUBS (c) and GPLv2 Wm.Towle 1999-2012
# last mod WmT, 2012-12-22	[ since v?.?, c. ????-??-?? ]

PKGNAME=grep
PKGVER=2.5.4
PKGREV=

BUILD_METHOD=MAKEFILE

SRC1=http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/grep/grep-${PKGVER}.tar.bz2
# grep-2.5.3-debian_fixes-1.patch
# grep-2.5.3-upstream_fixes-1.patch
