# grep v2.5.1a			STUBS (c) and GPLv2 Wm.Towle 1999-2010
# last mod WmT, 2010-12-29	[ since v?.?, c. ????-??-?? ]

PKGNAME=grep
PKGVER=2.5.1a
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/grep/grep-2.5.1a.tar.bz2
