# 15/10/2005 (EARLIEST v0.4.6, c.16/01/2005)
# since 24/09/2005 (v0.8.7, frlx-0.6.6-pre1)

#PKGNAME=htp
PKGNAME=htpdate
PKGVER=0.8.8
PKGREV=
#	http://www.clevervest.com/htp/htp-${PKGVER}.tar.gz
SRCDEP="h/ http://www.clevervest.com/htp/archive/c/htpdate-${PKGVER}.tar.bz2"
#PREFIXES="MINIMAL UTILS"
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: libconfig
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
