# 2008-06-22 (EARLIEST v0.0.5, c.2003-08-08)

PKGNAME=virus
#PKGVER=0.0.5
PKGVER=0.0.6
PKGREV=-fr1d
SRCDEP="v/ http://www.rocklinux.net/people/ripclaw/projects/software/${PKGNAME}/${PKGNAME}-${PKGVER}.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
