# 03/04/2005 (EARLIEST v3.9.15, c.05/06/2003)

PKGNAME=screen
PKGVER=3.9.15
#PKGVER=4.0.2
#	http://ftp.gnu.org/pub/gnu/screen/screen-3.9.9.tar.gz"
SRCDEP="s/ http://www.mirror.ac.uk/mirror/ftp.gnu.org/gnu/screen/screen-3.9.15.tar.gz"
PREFIXES=
#
#TCDEP1=
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
