# 2008-09-28 (FROM INCOMING 2008-04-04)

PKGNAME=sharutils
#	PKGVER=4.2.1
PKGVER=4.7
PKGREV=
#SRCDEP="s/ http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/sharutils/sharutils-${PKGVER}.tar.gz"
SRCDEP="s/ http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/sharutils/sharutils-${PKGVER}.tar.bz2"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
