# 2007-12-09 (EARLIEST v1.23, 2007-12-19)

PKGNAME=unfs3
PKGVER=0.9.19
PKGREV=
SRCDEP="u/ http://mesh.dl.sourceforge.net/sourceforge/unfs3/unfs3-0.9.19.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
