# bash v2.05b			[ since v2.05b, c.????-??-?? ]
# last mod WmT, 2009-12-08	[ (c) and GPLv2 1999-2009 ]

PKG_SRC=${SRCDIR}/b/bash-${PKG_VER}.tar.gz

PKG_URLS=http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/bash/bash-${PKG_VER}.tar.gz

# [ "${BUILD_NPI}" = 'y' ] && DEPS="libc ldso"

#[ "${BUILD_NTI}" = 'y' ] && METHOD=sh
[ "${BUILD_NTI}" = 'y' ] && METHOD=mak
