# busybox v0.60.5		[ since v0.60.5, c.2006-06-17 ]
# last mod WmT, 2009-12-27	[ (c) and GPLv2 1999-2009 ]

PKG_SRC=${SRCDIR}/b/busybox-${PKG_VER}.tar.bz2
#PKG_SRC=${SRCDIR}/b/busybox-${PKG_VER}.tar.gz

PKG_URLS=http://www.busybox.net/downloads/legacy/busybox-${PKG_VER}.tar.bz2
#PKG_URLS=http://busybox.net/downloads/busybox-${PKG_VER}.tar.bz2

# [ "${BUILD_NPI}" = 'y' ] && DEPS="libc ldso"
[ "${BUILD_NTI}" = 'y' ] && DEPS=""

#[ "${BUILD_NTI}" = 'y' ] && METHOD=sh
[ "${BUILD_NTI}" = 'y' ] && METHOD=mak
