# bzip2 1.0.5			[ since v?.?.?, c.????-??-?? ]
# last mod WmT, 2009-12-24	[ (c) and GPLv2 1999-2009 ]

PKG_SRC=${SRCDIR}/b/bzip2-${PKG_VER}.tar.gz

PKG_URLS=SCHEME://SERVER/PATH/bzip2-${PKG_VER}.tar.gz

[ "${BUILD_NTI}" = 'y' ] && DEPS="diffutils"

#[ "${BUILD_NTI}" = 'y' ] && METHOD=sh
[ "${BUILD_NTI}" = 'y' ] && METHOD=mak
