# 22/12/2005 (EARLIEST v1.34, c.09/10/2002)

PKGNAME=bison
PKGVER=1.875e
#PKGVER=2.1
#PKGREV=-alpha
PKGREV=-fr1a
#	http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/bison/bison-1.875.tar.bz2
SRCDEP="b/ http://www.mirrorservice.org/sites/alpha.gnu.org/gnu/bison/bison-1.875e.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: (th)-m4
#DEP-FOR-TC: m4 1.4

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
