# 10/02/2005 (EARLIEST v1.5.2, c.05/06/2003)

PKGNAME=nap
PKGVER=1.5.3
PKGREV=-eg2b
#	http://nap.sourceforge.net/${PKGNAME}-${PKGVER}.tar.gz
SRCDEP="n/ http://nap.sourceforge.net/dist/nap-1.5.3.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: ncurses.h
#DEP-FOR-RT: ncurses
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
