# 11/06/2004 (EARLIEST v0.15, c.11/06/2004)

PKGNAME=recoverdm
PKGVER=0.15
SRCDEP="r/ http://www.vanheusden.com/recoverdm/recoverdm-0.15.tgz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
