# 2008-04-11 (EARLIEST v2.53, c.2002-10-30) 

PKGNAME=autoconf
#PKGVER=2.59 (-fr1b)
#PKGVER=2.59b
#PKGVER=2.61
#PKGVER=2.61a
#PKGREV=-sb1b
PKGVER=2.62
PKGREV=
#SRCDEP="a/ http://www.mirrorservice.org/sites/alpha.gnu.org/gnu/autoconf/autoconf-${PKGVER}.tar.bz2"
SRCDEP="a/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/autoconf/autoconf-${PKGVER}.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: m4, perl
#DEP-FOR-RT: sed, /dev/null

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
