# loadlin-cfg v0.9.5
# Last modified WmT 2011-03-14
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2011

PKGNAME=loadlin-cfg
PKGVER=0.9.5
PKGREV=

BUILD_METHOD=SCRIPT

#SRC1=file://${TOPLEV}/${PKGDIR}/v${PKGVER}.tgz
