# 12/12/2004 (EARLIEST v0.9.2, c.11/12/2004)

PKGNAME=myrescue
PKGVER=0.9.2
SRCDEP="m/ http://heanet.dl.sourceforge.net/sourceforge/myrescue/myrescue-0.9.2.tar.gz"
PREFIXES=''
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
