# 2008-05-26 (EARLIEST v0.8a, c.2004-06-29)

PKGNAME=libevent
#PKGVER=1.3b
#PKGVER=1.3e
#PKGVER=1.4.1-beta
PKGVER=1.4.4-stable
PKGREV=
SRCDEP="l/ http://www.monkey.org/~provos/libevent-${PKGVER}.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
