# 2008-03-28 (EARLIEST v0.9.1, 2008-03-28)

PKGNAME=asciipacman
PKGVER=0.9.1
PKGREV=
#SRCDEP="d/ http://www.mirrorservice.org/sites/ftp.debian.org/debian/pool/main/d/dialog/dialog_${PKGVER}.orig.tar.gz"
SRCDEP="p/ http://www.bluedust.dontexist.com/pub/sources/pacman-0.9.1.tar.gz"
PREFIXES=''
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: ncurses
#DEP-FOR-RT: ncurses
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=pacman
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
