# xgcdrom v24
# Last modified WmT 2011-01-12
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2011

PKGNAME=xgcdrom
PKGVER=24
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/util/system/xcdrom/xgcdrom24.zip
