# 22/01/2004 (EARLIEST v0.5b, c.22/01/2004)

PKGNAME=mp
PKGVER=0.5b
#SRCDEP="m/ http://mp.waw.cx/${PKGNAME}-${PKGVER}.tgz"
SRCDEP="m/ http://mp.waw.cx/${PKGNAME}-v05b.tgz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/gcc /usr/bin/make /dev/null"
#DEP-FOR-DC: [cross-compiled] libmikmod ncursees
#TCDEP1= (cross-compiled)libelf; which cmp; headers
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}-beta-05b
#
PACKAGE=${PKGNAME}-${PKGVER}
