# 26/01/2006 (EARLIEST v0.15, 19/12/2005)

PKGNAME=vtwatch
PKGVER=0.2
PKGREV=
SRCDEP="v/ http://kent.dl.sourceforge.net/sourceforge/vtwatch/vtwatch-0-2.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}-0-2
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
