# 2008-07-01 (EARLIEST v0.0.7, c.2004-01-29)

PKGNAME=httping
#PKGVER=1.0.8-eg1b (PREVIOUS)
#PKGVER=1.0.10 (bldrg-0.9.0-2)
#PKGVER=1.2.1
#PKGVER=1.2.2
#PKGVER=1.2.4
#	PKGVER=1.2.5
#	PKGVER=1.2.6
#	PKGVER=1.2.8
PKGVER=1.2.9
PKGREV=
SRCDEP="h/ http://www.vanheusden.com/httping/httping-${PKGVER}.tgz"
PREFIXES=

#DEP-FOR-TC: openssl, ncurses

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
