# 14/02/2007 (EARLIEST v?.??, 14/02/2007)

PKGNAME=inetrd
PKGVER=0.0.3
PKGREV=
SRCDEP="i/ http://www.pixelbeat.org/programs/inetrd/inetrd-0.0.3.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
