# 15/07/2006 (EARLIEST v1.34, c.09/10/2002)

PKGNAME=bison
#PKGVER=2.2 (freg-0.9.1pre2)
PKGVER=2.3
PKGREV=
#PKGVER=1.875e
#PKGREV=-fr1a
#	http://ftp.gnu.org/gnu/bison/bison-2.2.tar.bz2
SRCDEP="b/ http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/bison/bison-${PKGVER}.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: (th)-m4
#DEP-FOR-TC: m4 1.4

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
