# 17/05/2007 (EARLIEST v1.3.3, c.09/10/2002)

PKGNAME=mawk
PKGVER=1.3.3
# REV --2006 c. 17/07/2004
PKGREV=-fr1b
SRCDEP="m/ ftp://ftp.fu-berlin.de/unix/languages/mawk/mawk-1.3.3.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-TC: local kernel headers; cmp(diffutils)

SRCXPATH=${PKGNAME}-${PKGVER}
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
