# bison v2.4.1			STUBS (c) and GPLv2 1999-2012
# last modified			2012-12-22

PKGNAME=bison
PKGVER=2.4.1
PKGREV=

BUILD_METHOD=MAKEFILE

SRC1=http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/bison/bison-${PKGVER}.tar.gz
