# 21/04/2005 (EARLIEST v3.9, c.28/05/2003)

PKGNAME=di
PKGVER=3.11
PKGREV=-eg1b
SRCDEP="d/ http://www.gentoo.com/${PKGNAME}/${PKGNAME}-${PKGVER}.tar.gz"
PREFIXES=
#
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
