# 2007-10-07 (EARLIEST 1.0.1, c.16/03/2006)

PKGNAME=xorg-X11R7.3-server
PKGVER=1.4
PKGREV=
#	http://xorg.freedesktop.org/archive/X11R7.3/src/everything/xorg-cf-files-1.0.2.tar.bz2
SRCDEP="x/ http://xorg.freedesktop.org/archive/X11R7.3/src/everything/xorg-server-1.4.tar.bz2"
PREFIXES=
#
#DEP:
# # REQ DC: bison
# # REQ DC: flex
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=xorg-server-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
