# 10/02/2005 (EARLIEST v1.6.0, v.09/02/2005)

PKGNAME=pmidi
PKGVER=1.6.0
SRCDEP="p/ http://kent.dl.sourceforge.net/sourceforge/pmidi/pmidi-1.6.0.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
