# 28/12/2004

PKGNAME=gzip
PKGVER=1.2.4a
REVVER=1.2.4b
PKGREV=${REVVER}-fr1b
SRCDEP1="g/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/gzip/gzip-${PKGVER}.tar.gz"
SRCDEP2="g/ http://www.gzip.org/gzip-1.2.4b.patch"
PREFIXES="MINIMAL UTILS"

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-TC: patch

SRCXPATH=.
#SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGREV}
MINIMAL_PACKAGE=${PKGNAME}-minimal-${PKGREV}
UTILS_PACKAGE=${PKGNAME}-utils-${PKGREV}
