# 26/01/2006 (EARLIEST v0.5, c.05/05/2004)

PKGNAME=nc6
PKGVER=1.0
#	http://ftp.deepspace6.net/pub/ds6/sources/nc6/nc6-0.5.tar.bz2
SRCDEP="n/ ftp://ftp.deepspace6.net/pub/ds6/sources/nc6/nc6-${PKGVER}.tar.bz2"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
