# tarot2 vUNKNOWN
# Last modified WmT 2011-07-22
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2011

PKGNAME=tarot2
PKGVER=UNKNOWN
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=ftp://ftp.gamers.org/pub/archives/uwp-uml/cards/tarot2.zip
