# 2007-08-18 (EARLIEST v1.9, c.01/09/2003)

PKGNAME=x86info
PKGVER=1.12b
PKGREV=-eg2b
#	http://www.codemonkey.org.uk/projects/${PKGNAME}/${PKGNAME}-${PKGVER}.tgz
SRCDEP="x/ http://www.mirrorservice.org/sites/ftp.freebsd.org/pub/FreeBSD/ports/distfiles/x86info-1.12b.tgz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
