# 13/05/2003 (EARLIEST v0.9.8, c.17/02/2003)
#
PKGNAME=udhcp
PKGVER=0.9.8
SRCDEP1="u/ http://udhcp.busybox.net/source/udhcp-0.9.8.tar.gz"
PREFIXES=
#
#TCDEP1=
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
