# 20/01/2005 (EARLIEST v1.2, c.20/01/2005)

PKGNAME=xhyperoid
PKGVER=1.2
SRCDEP="x/ http://www.svgalib.org/rus/xhyperoid/xhyperoid-1.2.tar.gz"
PREFIXES=
#
#DEP-FOR-DC: svgalib
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
