# 17/12/2005 (EARLIEST v.0.5b, c.21/10/2003)

PKGNAME=memfetch
PKGVER=0.05b
PKGREV=-eg2b

#SRCDEP="m/ http://www.l0t3k.net/tools/Forensic/memfetch.tgz"
SRCDEP="m/ http://lcamtuf.coredump.cx/soft/memfetch.tgz"
PREFIXES=

#DEP

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
