# 17/12/2005 (EARLIEST v0.2, 18/03/2003)

PKGNAME=ash-linux
PKGVER=0.2
PKGREV=-eg2c
#	http://sunsite.ulatina.ac.cr/Unix/Linux/Slackware/slackware-8.0/source/ap/ash/ash-linux-0.2.tar.gz
SRCDEP="a/ ftp://metalab.unc.edu/pub/Linux/system/shells/ash-linux-0.2.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: (ba)sh, which

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
