# 2008-04-05 (EARLIEST v5.50, c.2003-01-09)

PKGNAME=unzip
PKGVER=5.52
PKGREV=-fr1b

#SRCDEP="u/ http://www.mirrorservice.org/sites/download.sourceforge.net/pub/sourceforge/i/in/infozip/unzip60d.zip"
SRCDEP1="u/ http://kent.dl.sourceforge.net/sourceforge/infozip/unzip552.tar.gz"
SRCDEP2="u/ http://www.linuxfromscratch.org/patches/downloads/unzip/unzip-5.52-PIC-2.patch"
SRCDEP3="u/ http://www.linuxfromscratch.org/patches/downloads/unzip/unzip-5.52-dont_make_noise-1.patch"
SRCDEP4="u/ http://www.linuxfromscratch.org/patches/downloads/unzip/unzip-5.52-fix_Makefile-1.patch"
SRCDEP5="u/ http://www.linuxfromscratch.org/patches/downloads/unzip/unzip-5.52-fix_libz-1.patch"
SRCDEP6="u/ http://www.linuxfromscratch.org/patches/downloads/unzip/unzip-5.52-security_fix-1.patch"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=.

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
