# 2008-02-04 (EARLIEST v3.0, c.2003-07-05)

PKGNAME=memtest86
PKGVER=3.3
PKGREV=-eg1b
#	http://www.ibiblio.org/pub/Linux/system/hardware/${PKGNAME}-${PKGVER}.tar.gz"
#SRCDEP="m/ http://www.mirrorservice.org/sites/ftp.NetBSD.org/pub/NetBSD/packages/distfiles/memtest86-3.1a.tar.gz"
SRCDEP="m/ http://www.memtest86.com/${PKGNAME}-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#TCDEP1=which ar which cmp which grep; varargs
SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
