# 01/06/2004

ARCHIVE wills.tgz
INSTALL bloktris.exe	bloktris.exe
INSTALL bloktris.sco	bloktris.sco
INSTALL chitiles.dat	chitiles.dat
INSTALL chitiles.doc	chitiles.doc
INSTALL chitiles.exe	chitiles.exe
INSTALL chitiles.sco	chitiles.sco
INSTALL chitimg.cga	chitimg.cga
INSTALL invaders.exe	invaders.exe
INSTALL invaders.sco	invaders.sco
INSTALL mmind.exe	mmind.exe
INSTALL modulimg.cga	modulimg.cga
INSTALL modulo-4.doc	modulo-4.doc
INSTALL modulo-4.exe	modulo-4.exe
INSTALL modulo-4.lev	modulo-4.lev
INSTALL modulo-4.sco	modulo-4.sco
INSTALL pcpiano.exe	pcpiano.exe
