# 19/12/2005 (EARLIEST v0.15, 19/12/2005)

PKGNAME=httpgrabber
PKGVER=1.0
PKGREV=
SRCDEP="h/ http://www.mavetju.org/download/httpgrabber-1.0.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
