# 31/05/2007 (EARLIEST v2.13, c.14/10/2002)

PKGNAME=sanitc-cross-binutils
#PKGVER=2.16.1
PKGVER=2.17
PKGREV=-ban2a
SRCDEP1="b/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/binutils/binutils-${PKGVER}.tar.bz2"
#SRCDEP2="b/ ${SOURCEROOT}/b/binutils-2.16.1-uclibc-patches-1.1.tar.bz2"
#SRCDEP2="b/ ${SOURCEROOT}/b/binutils-2.17-uclibc-patches-1.0.tar.bz2"
SRCDEP2="b/ http://cross-lfs.org/files/packages/embedded-0.0.1/binutils-2.17-uclibc-1.patch"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-TH: /usr/bin/make, /usr/bin/gcc, lxheaders, diffutils, coreutils (install)

#SRCXPATH=binutils-${PKGVER}
SRCXPATH=.

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
