# append v5.0.0.6
# Last modified WmT 2011-03-14
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2011

PKGNAME=append
PKGVER=5.0.0.6
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/dos/append/appe506x.zip
