# 2008-06-01 (EARLIEST c. 2008-06-01)

PKGNAME=xorg-x11proto-kb
PKGVER=1.0.3
PKGREV=
#
SRCDEP="x/ http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/main/x/x11proto-kb/x11proto-kb_1.0.3.orig.tar.gz"
PREFIXES=
#
#DEP:
# # REQ DC: bison
# # REQ DC: flex
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=kbproto-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
