# xkeyb v1.15
# Last modified WmT 2011-03-03
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2011

PKGNAME=xkeyb
PKGVER=1.15
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/dos/xkeyb/xkeyb/xkb1_15x.zip
