# 03/02/2005 (EARLIEST v1.2.2, c.27/06/2003)

PKGNAME=ratpoison
#PKGVER=1.3.0
PKGVER=1.4.0-beta1
#	http://heanet.dl.sourceforge.net/sourceforge/ratpoison/ratpoison-1.3.0.tar.gz
SRCDEP="r/ http://savannah.nongnu.org/download/ratpoison/ratpoison-1.4.0-beta1.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: (lib)readline
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
