# xz v5.0.6
# Last modified WmT 2015-01-14
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2015

PKGNAME=xz
PKGVER=5.0.6
PKGREV=

BUILD_METHOD=MAKEFILE

SRC1=http://tukaani.org/xz/xz-${PKGVER}.tar.bz2
