# 06/07/2004 (EARLIEST unversioned, c.27/05/2004)

PKGNAME=dpygames
PKGVER=2.0
SRCDEP="d/ http://www.canb.auug.org.au/~dbell/programs/dpygames-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: dpy

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}
