# 13/01/2007 (EARLIEST v0.3.1, c.22/01/2004)

PKGNAME=uptimed
#PKGVER=0.3.3 (-eg1b, 17/12/2005)
#PKGVER=0.3.7
#PKGVER=0.3.8
PKGVER=0.3.9
PKGREV=
#	http://unixcode.org/downloads/uptimed/uptimed-${PKGVER}.tar.bz2
SRCDEP="u/ http://podgorny.cz/uptimed/releases/uptimed-${PKGVER}.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
