# setver v6.1
# last modified WmT 2011-01-06
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2011

PKGNAME=setver
PKGVER=6.1
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://freedos.bbnx.net/ftp.gcfl.net/pub/freedos/setver/setver61.zip
