# 24/08/2005 (EARLIEST c.05/04/2005)

PKGNAME=uae
#PKGVER=0.8.22
PKGVER=0.8.25
PKGREV=
#SRCDEP="u/ ftp://ftp.freiburg.linux.de/pub/uae/sources/develop/uae-0.8.23.tar.gz"
SRCDEP="u/ ftp://ftp.coresystems.de/pub/uae/sources/develop/uae-0.8.25.tar.gz"
#PREFIXES="MINIMAL UTILS"

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
