# 10/12/2005 (EARLIEST v2.05a, c.21/10/2002)

PKGNAME=bash
PKGVER=2.05b
PKGREV=-eg2d
#SRCDEP="b/ http://www.mirror.ac.uk/mirror/ftp.gnu.org/gnu/${PKGNAME}/${PKGNAME}-${PKGVER}.tar.gz"
SRCDEP="b/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/${PKGNAME}/${PKGNAME}-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#TCDEP1= (cross-compiled)ncurses which yes which cmp headers
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
