# 20/10/2005 (EARLIEST v0.3, c.20/10/2005)

PKGNAME=fcrackzip
PKGVER=0.3
PKGREV=
SRCDEP="f/ http://www.goof.com/pcg/marc/data/fcrackzip-0.3.tar.gz"
PREFIXES=''
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#SRCXPATH=${PKGNAME}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
