# 06/12/2006 (EARLIEST v?.??, 06/02/2006)

PKGNAME=md5sha1sum
PKGVER=0.9.4
PKGREV=
SRCDEP="m/ http://www.microbrew.org/tools/md5sha1sum/md5sha1sum-0.9.4.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
