# 2007-11-19 (EARLIEST unversioned, 2004-04-12)

PKGNAME=arpalert
#PKGVER=0.4.15-1 (freg-0.6.9pre1)
#PKGVER=0.4.15-2 (frlx-0.6.10pre1)
#PKGVER=1.1.0
#PKGVER=2.0.2
#PKGVER=2.0.3
#PKGVER=2.0.4
PKGVER=2.0.9
#PKGREV=
SRCDEP="a/ http://www.arpalert.org/src/arpalert-${PKGVER}.tar.gz"
PREFIXES=

#DEP-FOR-DC: libpcap

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
#[InternetShortcut]
#URL=http://www.arpalert.org/src/arpalert-2.0.9.tar.gz
#Modified=D0EE6E1DAC2AC801E8
