# 11/11/2006 (EARLIEST v0.0.7, c.29/01/2004)

PKGNAME=httping
#PKGVER=1.0.8-eg1b (PREVIOUS)
#PKGVER=1.0.10 (bldrg-0.9.0-2)
#PKGVER=1.2.1
PKGVER=1.2.2
PKGREV=
SRCDEP="h/ http://www.vanheusden.com/httping/httping-${PKGVER}.tgz"
PREFIXES=

#DEP-FOR-TC: openssl, ncurses

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
