# 05/12/2005

PKGNAME=pong_curses
PKGVER=1.5.1
PKGREV=
SRCDEP="p/ http://pigseye.kennesaw.edu/~rbentley/pong_curses--1.5.1.tar.gz"
PREFIXES=''

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}--${PKGVER}
#SRCXPATH=${PKGNAME}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
