# 17/12/2005 (EARLIEST v0.4b, c.27/06/2004)

PKGNAME=lutz
PKGVER=0.4b
PKGREV=-eg2b
SRCDEP="l/ http://heanet.dl.sourceforge.net/sourceforge/lutz/lutz-${PKGVER}-2.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

#PACKAGE=${PKGNAME}-${PKGVER}
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
