# 18/01/2007 (EARLIEST v4.07, c.22/01/2004)

PKGNAME=file
PKGVER=4.12
#PKGVER=4.13 (prev, freg-0.6.6pre1)
#PKGVER=4.18
#PKGVER=4.20
PKGREV=
#	ftp://ftp.fu-berlin.de/unix/tools/file/file-${PKGVER}.tar.gz
#	ftp://ftp.astron.com/pub/file/file-4.20.tar.gz
SRCDEP="f/ http://www.mirrorservice.org/sites/master.us.finkmirrors.net/distfiles/md5/09488a9d62bc6627b48a8c93e12d72f8/file-4.12.tar.gz"
#	http://www.mirrorservice.org/sites/security.debian.org/pool/updates/main/f/file/file_4.12.orig.tar.gz
PREFIXES=
#
DEP_TC_HOST=""
#DEP-FOR-DC: (tc)zlib
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
