# 2008-09-06 (EARLIEST v4.2, c.2003-05-19)

PKGNAME=pcre
#PKGVER=4.5
#PKGREV=-fr1d
#PKGVER=7.3
#PKGVER=7.4
PKGVER=7.8
PKGREV=
#	http://switch.dl.sourceforge.net/sourceforge/pcre/pcre-${PKGVER}.tar.bz2
SRCDEP="p/ ftp://ftp.csx.cam.ac.uk/pub/software/programming/pcre/pcre-${PKGVER}.tar.bz2"
#SRCDEP="p/ ftp://ftp.csx.cam.ac.uk/pub/software/programming/pcre/pcre-${PKGVER}.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
