# 2008-03-04 (EARLIEST v0.4.2, c.2003-11-15)

PKGNAME=elinks
#PKGVER=0.10.5
#PKGVER=0.10.6
#PKGREV=-eg1b
#PKGVER=0.11.2
#PKGVER=0.11.3
#PKGVER=0.11.4rc0
PKGVER=0.11.4rc1
PKGREV=
#SRCDEP="e/ http://elinks.or.cz/download/elinks-${PKGVER}.tar.bz2"
SRCDEP="e/ http://elinks.cz/download/elinks-${PKGVER}.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
