# 10/12/2005 (EARLIEST v1.12, v.03/06/2004)

PKGNAME=atop
PKGVER=1.13
PKGREV=-eg1c
#	ftp://ftp.atcomputing.nl/pub/tools/linux/atop-${PKGVER}.tar.gz
SRCDEP="a/ http://www.atconsultancy.nl/atop/packages/atop-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: (tc)zlib, (tc)ncurses
#DEP-FOR-RT: ncurses

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
