# 04/11/2006 (EARLIEST v0.0.3a, 17/06/2006)

PKGNAME=zeppoo
#PKGVER=0.0.3b (frlx-0.6.8pre1)
#PKGVER=0.0.3d
PKGVER=0.0.4
PKGREV=
#	http://kent.dl.sourceforge.net/sourceforge/zeppoo/zeppoo-${PKGVER}.tar.gz
SRCDEP="z/ http://osdn.dl.sourceforge.net/sourceforge/zeppoo/zeppoo-0.0.4.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
