# 10/12/2005 (EARLIEST v1.1, c.29/05/2004)

PKGNAME=linuXtree
PKGVER=1.2
PKGREV=-eg1c
SRCDEP="l/ http://www.xtreefanpage.org/download/lxt-1.2.tgz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=lxt

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
