# 10/02/2005

PKGNAME=tcping
PKGVER=1.3.4
#	http://www.vanheusden.com/Linux/tcping-0.1.tgz
SRCDEP="t/ http://www.linuxco.de/tcping/tcping-1.3.4.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: ncurses
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
