# 12/12/2004 (EARLIEST v0.1.3, c.11/12/2004)

PKGNAME=tmsnc
PKGVER=0.1.3
SRCDEP="t/ http://heanet.dl.sourceforge.net/sourceforge/tmsnc/tmsnc-0.1.3.tar.gz"
PREFIXES=''
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
