# 14/12/2005 (EARLIEST v2.2.0 c.21/06/2004)

PKGNAME=apccomm
PKGVER=2.2.0
PKGREV=-eg1c
SRCDEP="a/ http://www.boomerangsworld.de/apccomm/downloads/apccomm-2.2.0.tar.bz2"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
