# 27/09/2004 (EARLIEST v5.3, c.10/06/2003)

PKGNAME=gdb
#PKGVER=5.3
#PKGVER=6.0
#PKGVER=6.2
PKGVER=6.2.1
#	http://www.mirror.ac.uk/sites/ftp.gnu.org/gnu/gdb/gdb-${PKGVER}.tar.gz
#	ftp://ftp.gnu.org/gnu/gdb/gdb-6.2.tar.bz2
SRCDEP="g/ http://ftp.gnu.org/gnu/gdb/gdb-6.2.1.tar.bz2"
PREFIXES=
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
