# 2008-09-28 (prev. 2006-04-18)

PKGNAME=eg-init
PKGVER=0.9.0-3
PKGREV=
SRCDEP="e/ ${TOPLEV}/config/package/e/eg-init/${PKGVER}/eg-init-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: make

SRCXPATH=${PKGNAME}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
