# 12/08/2006 (EARLIEST v2.1.6, c.30/07/2004)

PKGNAME=cdtool
#PKGVER=2.1.8pre1
#PKGREV=-eg1b
PKGVER=2.1.8
PKGREV=
SRCDEP="c/ http://hinterhof.net/cdtool/dist/cdtool-${PKGVER}.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
