# tar v1.13-fr1a		STUBS (c) and GPLv2 Wm. Towle 1999-2010
# last modified			2010-11-22 (since v1.13, 2004-03-01)

PKGNAME=tar
PKGVER=1.13
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/${PKGNAME}/${PKGNAME}-${PKGVER}.tar.gz
SRCXPATH=${PKGNAME}-${PKGVER}

#PREFIXES="MINIMAL UTILS"
#
#DEP_TC_HOST="/usr/bin/make"
##TCDEP1=which ar which cmp which grep; varargs
##DEP
#
#PACKAGE=${PKGNAME}-${PKGVER}
#MINIMAL_PACKAGE=${PKGNAME}-minimal-${PKGVER}
#UTILS_PACKAGE=${PKGNAME}-utils-${PKGVER}
