# 05/09/2004

PKGNAME=twsinit
PKGVER=5
SRCDEP="t/ http://www.energymech.net/users/proton/twsinit-5.tar.gz"
PREFIXES=''
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
