# 2008-01-12 (EARLIEST v0.03, 2008-01-12)

PKGNAME=othello
PKGVER=0.03
PKGREV=
SRCDEP="o/ http://david.weekly.org/othello/othello-0.03.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
