# 2008-08-16 (EARLIEST v1.6.23, c.12/08/2005)

PKGNAME=parted
#PKGVER=1.6.25.1 (frlx-0.9.0pre1)
#PKGVER=1.7.0rc5 (frlx-0.9.0-2)
#PKGVER=1.7.1
#PKGVER=1.8.3
#PKGVER=1.8.6
#PKGVER=1.8.7
PKGVER=1.8.8
PKGREV=
#SRCDEP="p/ ftp://ftp.gnu.org/gnu/parted/parted-${PKGVER}.tar.bz2"
SRCDEP="p/ http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/parted/parted-${PKGVER}.tar.bz2"
PREFIXES=

#DEP-FOR-DC: libuuid (e2fsprogs)

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
