# 16/05/2005 (EARLIEST v1.1, c.15/12/2003)

PKGNAME=cpufreqd
PKGVER=1.2.3
PKGREV=
SRCDEP="c/ http://kent.dl.sourceforge.net/sourceforge/cpufreqd/cpufreqd-1.2.3.tar.gz"
PREFIXES=
#
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
