# 15/12/2005 (EARLIEST v1.4, c.29/03/2005)

PKGNAME=makebootfat
PKGVER=1.4
PKGREV=-eg1b
SRCDEP="m/ http://kent.dl.sourceforge.net/sourceforge/advancemame/makebootfat-1.4.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}
#SRCXPATH=${PKGNAME}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREL}${PKGREV}
