# 09/07/2006 (EARLIEST v?.??, 06/02/2006)

PKGNAME=bsd-errh
PKGVER=1
PKGREV=
SRCDEP="e/ http://www.canonical.org/~kragen/sw/err.h-release-1.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=err.h-release-1
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
