# nasm v2.12			STUBS (c) and GPLv2 Wm. Towle 1999-2016
# last modified			2016-03-18 (since v0.98.35, 2002-10-21)

PKGNAME=nasm
#PKGVER=2.10.09
#PKGVER=2.11.06
#PKGVER=2.11.08
PKGVER=2.12
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://www.nasm.us/pub/nasm/releasebuilds/${PKGVER}/nasm-${PKGVER}.tar.bz2
