# nasm v2.11.06			STUBS (c) and GPLv2 Wm. Towle 1999-2014
# last modified			2014-11-10 (since v0.98.35, 2002-10-21)

PKGNAME=nasm
#PKGVER=2.10.09
#PKGVER=2.11.02
PKGVER=2.11.06
PKGREV=

BUILD_METHOD=SCRIPT

#SRC1=http://www.nasm.us/pub/nasm/releasebuilds/2.10.09/nasm-2.10.09.tar.bz2
SRC1=http://www.nasm.us/pub/nasm/releasebuilds/${PKGVER}/nasm-${PKGVER}.tar.bz2
SRCXPATH=${PKGNAME}-${PKGVER}
