# hb_qdul-busybox v1.16.2	STUBS (c) and GPLv2 1999-2012
# last modified			2012-08-28

PKGNAME=hb_qdul-busybox
PKGVER=1.16.2
PKGREV=

BUILD_METHOD=MAKEFILE

SRC1=http://busybox.net/downloads/busybox-1.16.2.tar.bz2
