# hb_qdul-busybox v1.23.2	STUBS (c) and GPLv2 1999-2015
# last modified			2015-04-01

PKGNAME=hb_qdul-busybox
PKGVER=1.23.2
PKGREV=

BUILD_METHOD=MAKEFILE

SRC1=http://busybox.net/downloads/busybox-${PKGVER}.tar.bz2
