# hb_qdul-busybox v1.22.1	STUBS (c) and GPLv2 1999-2014
# last modified			2014-03-01

PKGNAME=hb_qdul-busybox
PKGVER=1.22.1
PKGREV=

BUILD_METHOD=MAKEFILE

SRC1=http://busybox.net/downloads/busybox-${PKGVER}.tar.bz2
