# 2008-08-16 (EARLIEST v3.7.2, c.16/05/2003)

PKGNAME=tcpdump
#PKGVER=3.8.3
#PKGREV=-eg1b
#PKGVER=3.9.5
PKGVER=3.9.7
PKGREV=
SRCDEP="t/ http://www.tcpdump.org/release/tcpdump-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
