# 17/06/2006 (EARLIEST v1.1, 19/12/2005)

PKGNAME=conspy
PKGVER=1.4
PKGREV=
#SRCDEP="c/ http://ace-host.stuart.id.au/russell/files/debian/sarge/conspy/conspy_1.4.orig.tar.gz"
#SRCDEP="c/ http://www.mirror.ac.uk/mirror/ftp.debian.org/debian/pool/main/c/conspy/conspy_1.4.orig.tar.gz"
SRCDEP="c/ http://www.mirrorservice.org/sites/ftp.debian.org/debian/pool/main/c/conspy/conspy_1.4.orig.tar.gz"
PREFIXES=

#DEP-FOR-DC: ncurses
#DEP-FOR-TC:
#DEP-FOR-RT:

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
