# 13/05/2006 (EARLIEST v20030825, c.01/09/2003)

PKGNAME=tnftp
#PKGVER=20050625
#PKGREV=-eg1a
PKGVER=2.0beta1
PKGREV=
#	ftp://ftp.netbsd.org/pub/NetBSD/misc/tnftp/tnftp-${PKGVER}.tar.gz
#	http://ftp.debian.org/debian/pool/main/t/tnftp/tnftp_${PKGVER}.orig.tar.gz
SRCDEP="t/ http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/universe/t/tnftp/tnftp_2.0beta1.orig.tar.gz"
#	http://www.mirrorservice.org/sites/ftp.NetBSD.org/pub/NetBSD/misc/tnftp/tnftpd-20061217.tar.gz
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: ncurses

SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}-2.0-beta1
#SRCXPATH=${PKGNAME}-${RELVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
