# 2008-08-15 (2.0.39 since 2002-11-11, 2.2.x since 2002-11-01, 2.4.x since 2002-11-01)

PKGNAME=sanitc-lx-headers
#PKGVER=2.0.40
#PKGREV=-sb
#PKGVER=2.2.26
#PKGVER=2.4.34.1
#PKGVER=2.6.20.1
#PKGREV=-sb1b
PKGVER=2.6.23.12
PKGREV=-sb2b
#SRCDEP="l/ http://www.mirrorservice.org/sites/ftp.kernel.org/pub/linux/kernel/v2.0/linux-${PKGVER}.tar.bz2"
#SRCDEP="l/ http://www.mirrorservice.org/sites/ftp.kernel.org/pub/linux/kernel/v2.2/linux-${PKGVER}.tar.bz2"
#SRCDEP="l/ http://www.mirrorservice.org/sites/ftp.kernel.org/pub/linux/kernel/v2.4/linux-${PKGVER}.tar.bz2"
SRCDEP="l/ http://www.mirrorservice.org/sites/ftp.kernel.org/pub/linux/kernel/v2.6/linux-${PKGVER}.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
##DEP TC: findutils, make; grep?, patch?

SRCXPATH=linux-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
