# 13/01/2004 (EARLIEST v1.4.2-shishi-20040113, c.22/04/2004)

PKGNAME=inetutils
RELVER=1.4.2
#PKGVER=${RELVER}-shishi-20031011
PKGVER=${RELVER}-shishi-20040113
SRCDEP="i/ http://josefsson.org/shishi/releases/inetutils-${PKGVER}.tar.gz"
PREFIXES=
#
# DEP-FOR-DC: ncurses (include/curses.h)
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}-${RELVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
