# 16/05/2005 (EARLIEST: v0.60, c.16/05/2005)

PKGNAME=PingTunnel
PKGVER=0.60
PKGREV=
SRCDEP="p/ http://www.cs.uit.no/~daniels/PingTunnel/PingTunnel-0.60.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
