# 2007-12-02 (EARLIEST v1.6.1, c.2003-08-08)

PKGNAME=tinyproxy
#PKGVER=1.6.3
#PKGREV=
PKGVER=1.7.0
PKGREV=-alpha
SRCDEP="t/ http://heanet.dl.sourceforge.net/sourceforge/tinyproxy/tinyproxy-${PKGVER}.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
