# 18/11/2006 (EARLIEST v4.0.0, c.09/08/2004)

PKGNAME=memtester
#PKGVER=4.0.5
#PKGREV=-eg1b
PKGVER=4.0.6
PKGREV=
#SRCDEP="m/ http://pyropus.ca/software/memtester/memtester-4.0.5.tar.gz"
SRCDEP="m/ http://pyropus.ca/software/memtester/old-versions/memtester-4.0.6.tar.gz"
PREFIXES=''

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
