# 2008-09-11 (EARLIEST v0.9.1, c.2004-08-19)

PKGNAME=hd2u
#PKGVER=1.0.0
#PKGREV=-eg1b
#PKGVER=1.0.2
PKGVER=1.0.3
PKGREV=
#	http://terminus.sk/~hany/_data/hd2u/hd2u-1.0.0.tgz
SRCDEP="h/ http://hany.sk/~hany/_data/hd2u/hd2u-${PKGVER}.tgz"
PREFIXES=''

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: (lib)popt

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
