# 19/06/2006 (EARLIEST v3.0.4, c.29/04/2004)

PKGNAME=awhttpd
#PKGVER=3.0.6
PKGVER=3.0.7
PKGREV=
SRCDEP="a/ http://www.hcsw.org/awhttpd/awhttpd-${PKGVER}.tgz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
