# kssf v0.83b26
# last modified WmT 2011-01-06
# STUBS scripts and configurations (c) and GPLv2 William Towle 1999-2009

PKGNAME=kssf
PKGVER=0.83b26
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/dos/command/0.83/com083b26x.zip
