# 06/07/2006 (EARLIEST v0.16, c.07/10/2002)

PKGNAME=dietlibc
#PKGVER=0.24
##PKGVER=0.27
##PKGVER=0.28
PKGVER=0.30
SRCDEP="d/ http://www.kernel.org/pub/linux/libs/dietlibc/dietlibc-${PKGVER}.tar.bz2"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
