# 06/02/2005 (EARLIEST v?.??, 06/02/2006)

PKGNAME=dmidecode
PKGVER=2.8
PKGREV=
SRCDEP="d/ http://download.savannah.gnu.org/releases/dmidecode/dmidecode-2.8.tar.bz2"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
