# 2008-03-09 (EARLIEST v1.11a37, c.2002-10-21)

PKGNAME=cdrtools
#RELVER=2.01
BASEVER=2.01.01
#PKGVER=${BASEVER}a10
#PKGVER=${BASEVER}a11
#	PKGVER=${BASEVER}a40
PKGVER=${BASEVER}a45
PKGREV=
#SRCDEP="c/ ftp://ftp.berlios.de/pub/cdrecord/cdrtools-${PKGVER}.tar.bz2"
SRCDEP="c/ ftp://ftp.berlios.de/pub/cdrecord/alpha/cdrtools-${PKGVER}.tar.bz2"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${BASEVER}
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
