# 2008-10-12 (EARLIEST v20031217, c.2004-03-24)

PKGNAME=tnftpd
#PKGVER=20040810	# NOT WORKING
#PKGVER=20061204
#	PKGVER=20061217
#	PKGVER=20080609
#	PKGVER=20080929
PKGVER=20081009
PKGREV=
#	SRCDEP="t/ http://www.mirrorservice.org/sites/ftp.NetBSD.org/pub/NetBSD/misc/tnftp/tnftpd-20061217.tar.gz"
SRCDEP="t/ ftp://ftp.netbsd.org/pub/NetBSD/misc/tnftp/tnftpd-${PKGVER}.tar.gz"
PREFIXES=
#
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
