# 13/12/2005 (EARLIEST v0.1.16, c.04/01/2005)

PKGNAME=libconfig
PKGVER=0.1.16
PKGREV=
SRCDEP="l/ http://www.rkeene.org/files/oss/libconfig/devel/libconfig-0.1.16.tar.gz"
#PREFIXES="MINIMAL UTILS"

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
