# 30/03/2006 (EARLIEST v1.0.0, c.16/03/2004)

PKGNAME=statifier
#PKGVER=1.6.4
#PKGVER=1.6.5 PKGREV=-eg1b
PKGVER=1.6.8
PKGREV=
#	http://osdn.dl.sourceforge.net/sourceforge/statifier/statifier-1.6.5.tar.gz
SRCDEP="s/ http://kent.dl.sourceforge.net/sourceforge/statifier/statifier-${PKGVER}.tar.gz"
#URL=http://osdn.dl.sourceforge.net/sourceforge/statifier/statifier-1.6.8.tar.gz
PREFIXES=

#DEP-FOR-RT: bash

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
