# 22/04/2007 (EARLIEST v4.3.0, c.12/04/2004)

PKGNAME=XFree86
#PKGVER=4.3.0
#PKGVER=4.5.0
PKGVER=4.6.0
PKGREV=
#	...seven files total
SRCDEP1="x/ ftp://ftp.xfree86.org/pub/XFree86/${PKGVER}/source/XFree86-${PKGVER}-src-1.tgz"
SRCDEP2="x/ ftp://ftp.xfree86.org/pub/XFree86/${PKGVER}/source/XFree86-${PKGVER}-src-2.tgz"
SRCDEP3="x/ ftp://ftp.xfree86.org/pub/XFree86/${PKGVER}/source/XFree86-${PKGVER}-src-3.tgz"
# ...fonts
SRCDEP4="x/ ftp://ftp.xfree86.org/pub/XFree86/${PKGVER}/source/XFree86-${PKGVER}-src-4.tgz"
SRCDEP5="x/ ftp://ftp.xfree86.org/pub/XFree86/${PKGVER}/source/XFree86-${PKGVER}-src-5.tgz"
PREFIXES=
#
#DEP_FOR-DC: bison, flex, ed, ncurses
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=.
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
