# 2008-02-16 (EARLIEST v4.1.7, c.2003-10-06)

PKGNAME=sysstat
#PKGVER=7.0.4
#PKGVER=7.1.1
#PKGVER=7.1.2 (frlx-0.9.3)
#PKGVER=8.0.0
#PKGVER=8.0.4
PKGVER=8.1.1
PKGREV=
#SRCDEP="s/ http://perso.orange.fr/sebastien.godard/sysstat-${PKGVER}.tar.bz2"
#SRCDEP="s/ ftp://ibiblio.org/pub/linux/system/status/sysstat-7.0.2.tar.gz"
SRCDEP="s/ http://perso.orange.fr/sebastien.godard/sysstat-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
