# 10/03/2007 (EARLIEST v1.0.6, c.12/08/2005)

PKGNAME=fakeroot
#PKGVER=1.5.6ubuntu2 (freg-0.6.7-3)
#PKGVER=1.5.9ubuntu1
PKGVER=1.5.10ubuntu2
PKGREV=
SRCDEP="f/ http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/main/f/fakeroot/fakeroot_${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-TH: util-linux

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=fakeroot-1.5.10ubuntu1

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
