# 29/07/2007 (prev. 29/11/2005)

PKGNAME=util-linux
PKGVER=2.12r
#PKGVER=2.13-pre4
#PKGREV=-fr1a
PKGREV=-eg1d
#	http://ftp.kernel.org/pub/linux/utils/util-linux/testing/util-linux-${PKGVER}.tar.bz2
SRCDEP="u/ http://ftp.kernel.org/pub/linux/utils/util-linux/util-linux-${PKGVER}.tar.bz2"
PREFIXES="MINIMAL REMAINDER"

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: install

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}
MINIMAL_PACKAGE=${PKGNAME}-minimal-${PKGVER}${PKGREV}
REMAINDER_PACKAGE=${PKGNAME}-remainder-${PKGVER}${PKGREV}
