# 12/07/2006 (EARLIEST v0.03, c.09/02/2005)

PKGNAME=lzma
#PKGVER=0.03
PKGVER=4.43
#SRCDEP="l/ http://martinus.geekisp.com/files/lzma-0.03.tar.gz"
SRCDEP="l/ http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/universe/l/lzma/lzma_4.43.orig.tar.gz"
#PREFIXES="MINIMAL UTILS"
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: ncurses
#
SRCXPATH=${PKGNAME}-${PKGVER}
#SRCXPATH=${PKGNAME}
#
PACKAGE=${PKGNAME}-${PKGVER}
