# m4 v1.4.17			STUBS (c) and GPLv2 1999-2014
# last modified			2015-12-26

PKGNAME=m4
PKGVER=1.4.17
PKGREV=

BUILD_METHOD=MAKEFILE

SRC1=http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/m4/m4-${PKGVER}.tar.bz2
