# sw39tc-init v0.9.0		STUBS (c) and GPLv2 Wm.Towle 1999-2010
# last modified			2010-12-25 (since 2010-12-25)

PKGNAME=sw39tc-init
PKGVER=0.9.0
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=file://${TOPLEV}/${PKGDIR}/v${PKGVER}.tar.gz
