# sw39tc-init v1.0.0rc1		STUBS (c) and GPLv2 Wm.Towle 1999-2010
# last modified			2010-12-28 (since 2010-12-25)

PKGNAME=sw39tc-init
PKGVER=1.0.0rc1
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=file://${TOPLEV}/${PKGDIR}/v${PKGVER}.tar.gz
