# nui-ldso v1.9.9		STUBS (c) and GPLv2 Wm.Towle 1999-2010
# last mod WmT, 2010-12-27	[ since v1.9.9, c.????-??-?? ]

PKGNAME=nui-ldso
PKGVER=1.9.9
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://ftp.no.debian.org/pub/linux/slackware/slackware-3.9/slakware/a7/ldso.tgz
