# 2007-09-22 (EARLIEST v0.8.3, c.2003-05-28)

PKGNAME=libelf
##PKGVER=0.8.5
#PKGVER=0.8.6
#PKGREV=-eg1b
#PKGVER=0.8.8	(frlx-0.6.8)
#PKGVER=0.8.9
PKGVER=0.8.10
PKGREV=
SRCDEP="l/ http://www.mr511.de/software/libelf-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
