# 15/12/2004 (EARLIEST v2.8.1, c.09/10/2002)

PKGNAME=diffutils
PKGVER=2.8.1
PKGREV=-fr1b
#SRCDEP="d/ http://www.mirror.ac.uk/mirror/ftp.gnu.org/gnu/diffutils/diffutils-2.8.1.tar.gz"
SRCDEP="d/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/diffutils/diffutils-2.8.1.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-TC: cmp

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
