# exe2bin v1.0
# Last modified WmT 2011-10-22
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2011

PKGNAME=exe2bin
PKGVER=1.0
PKGREV=

BUILD_METHOD=SCRIPT

#SRC1=ftp://ftp.ibiblio.org/pub/micro/pc-stuff/freedos/files/dos/exe2bin/exe2b10x.zip
SRC1=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/dos/exe2bin/exe2b10x-dunfield.zip
