# 01/03/2006 (EARLIEST v2.8, c.16/01/2003)

PKGNAME=dosfstools
#PKGVER=2.9
#PKGVER=2.10
PKGVER=2.11
PKGREV=
SRCDEP="d/ http://ftp.uni-erlangen.de/pub/Linux/LOCAL/dosfstools/dosfstools-${PKGVER}.src.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
