# 19/12/2005 (EARLIEST v0.15, 19/12/2005)

PKGNAME=jaron
PKGVER=2.2
PKGREV=
SRCDEP="j/ http://www.geocities.com/strangeelixir23/jaron-2.2.tgz"
PREFIXES=

#DEP-FOR-DC: ncurses
#DEP-FOR-TC:
#DEP-FOR-RT:

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
