# 2005-01-20 (EARLIEST v0.1.1, c.2005-01-20)

PKGNAME=svncviewer
PKGVER=0.1.1
PKGREV=
#SRCDEP="s/ http://old.quietsche-entchen.de/download/svncviewer-0.1.1.tar.gz"
SRCDEP="s/ http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/universe/s/svncviewer/svncviewer_0.1.1.orig.tar.gz"
PREFIXES=
#
#DEP-FOR-DC: svgalib
#
#SRCXPATH=${PKGNAME}-${PKGVER}${PKGREV}
SRCXPATH=${PKGNAME}-${PKGVER}.orig
#
PACKAGE=${PKGNAME}-${PKGVER}
