# 2008-09-06 (EARLIEST v1.08, c.2003-07-12)

PKGNAME=kbd
#PKGVER=1.12
#PKGREV=-fr1a
PKGVER=1.14.1
PKGREV=

#SRCDEP1="k/ ftp://ftp.win.tue.nl/pub/home/aeb/linux-local/utils/${PKGNAME}/${PKGNAME}-${PKGVER}.tar.gz"
#SRCDEP2="k/ http://www.linuxfromscratch.org/patches/downloads/kbd/kbd-1.12-backspace-1.patch"
SRCDEP1="k/ http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/main/k/kbd/kbd_1.14.1.orig.tar.gz"
SRCDEP2="k/ http://www.linuxfromscratch.org/patches/downloads/kbd/kbd-1.14.1-backspace-1.patch"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"

#DEP-FOR-DC: th-bison, th-flex

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=.

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
