# 23/10/2004 (EARLIEST v0.2.2, c.18/10/2004)

PKGNAME=minicrc
PKGVER=0.2.2
#	http://sarovar.org/download.php/455/minicrc-v${PKGVER}.tar.gz
SRCDEP="m/ http://sarovar.org/download.php/455/minicrc-v${PKGVER}.tar.bz2"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=ccrc
#
PACKAGE=${PKGNAME}-${PKGVER}
