# 15/12/2005 (EARLIEST v0.93, c.04/06/2003)

PKGNAME=grub
PKGVER=0.97
PKGREV=-eg1b
#	ftp://alpha.gnu.org/gnu/grub/grub-${PKGVER}.tar.gz
#SRCDEP="g/ http://mirror.ac.uk/mirror/alpha.gnu.org/gnu/grub/grub-${PKGVER}.tar.gz"
SRCDEP="g/ http://mirrorservice.org/sites/alpha.gnu.org/gnu/grub/grub-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
