# 2007-09-22 (EARLIEST v2.0, c.2003-03-17)

PKGNAME=sh-utils
PKGVER=2.0
#	http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/sh-utils/sh-utils-2.0.tar.gz
SRCDEP="s/ http://www.mirrorservice.org/sites/download.sourceforge.net/pub/sourceforge/l/lt/ltsp/sh-utils-2.0.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}
