# 2007-10-01 (EARLIEST v2.1.7, c.2004-04-05)

PKGNAME=freetype
#PKGVER=2.1.9
#PKGVER=2.1.10
#PKGREV=-fr1c
PKGVER=2.3.5
PKGREV=
#SRCDEP="f/ http://savannah.nongnu.org/download/freetype/freetype-2.1.10.tar.bz2"
SRCDEP="f/ http://download.savannah.gnu.org/releases/freetype/freetype-${PKGVER}.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
