# 2007-12-08 (since 2004-05-29)

PKGNAME=twin
#PKGVER=0.5.1
PKGVER=0.6.0
PKGREV=
#SRCDEP="t/ http://heanet.dl.sourceforge.net/sourceforge/twin/twin-0.5.1.tar.gz"
SRCDEP="t/ http://surfnet.dl.sourceforge.net/sourceforge/twin/twin-0.6.0.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
