# nui-gcc v2.7.2.3		STUBS (c) and GPLv2 Wm.Towle 1999-2010
# last mod WmT, 2010-12-27	[ since v2.7.2.3, c.????-??-?? ]

PKGNAME=nui-gcc
PKGVER=2.7.2.3
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://ftp.no.debian.org/pub/linux/slackware/slackware-3.9/slakware/d1/gcc.tgz
