# 2007-08-04

PKGNAME=sanitc-uClibc-dev
#PKGVER=0.9.20
#PKGREV=-sb1b
PKGVER=0.9.26
PKGREV=-sb1c
#SRCDEP="u/ http://www.uclibc.org/downloads/old-releases/uClibc-${PKGVER}.tar.bz2"
SRCDEP="u/ http://www.uClibc.org/downloads/uClibc-${PKGVER}.tar.bz2"
PREFIXES=
#PREFIXES="RUNTIME WRAPPERS"
#SRCDEP="u/ http://www.uclibc.org/downloads/uClibc-${PKGVER}.tar.bz2"
#PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-TC: awk; tar; <linux2.0headers>; which
#DEP-FOR-TC: findutils (0.9.22)
#DEP-FOR-?: install
#
#SRCXPATH=${PKGNAME}
SRCXPATH=uClibc-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
