# 13/12/2005 (EARLIEST v0.16.0, c.16/05/2003)

PKGNAME=bin86
#PKGVER=0.16.0
PKGVER=0.16.17
PKGREV=-eg1c
#	http://www.cix.co.uk/~mayday/dev86/bin86-${PKGVER}.tar.gz (06/11/2005)
SRCDEP="b/ http://homepage.ntlworld.com/robert.debath/dev86/bin86-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"

#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
