# 19/10/2006 (EARLIEST v1.6, c.30/10/2002)

PKGNAME=automake
#PKGVER=1.9.6
PKGVER=1.10
PKGREV=
#SRCDEP="a/ http://www.mirror.ac.uk/mirror/ftp.gnu.org/gnu/automake/automake-${PKGVER}.tar.bz2"
SRCDEP="a/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/automake/automake-${PKGVER}.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: autoconf >= 2.58

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
