# 2008-06-01 (EARLIEST c. 2008-06-01)

PKGNAME=xorg-x11proto-fonts
PKGVER=2.0.2
PKGREV=
#
SRCDEP="x/ http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/main/x/x11proto-fonts/x11proto-fonts_2.0.2.orig.tar.gz"
PREFIXES=
#
#DEP:
# # REQ DC: bison
# # REQ DC: flex
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=fontsproto-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
