# 17/12/2005 (EARLIEST v1.8, c.09/07/2004)

PKGNAME=dnstracer
PKGVER=1.8
PKGREV=-eg1b
SRCDEP="d/ http://www.mavetju.org/download/dnstracer-1.8.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
