# 15/12/2005 (EARLIEST v0.2, c.06/10/2005)

PKGNAME=poweracpid
PKGVER=0.2
PKGREV=-eg1b
SRCDEP="p/ http://kent.dl.sourceforge.net/sourceforge/poweracpid/poweracpid-0.2.tar.bz2"
PREFIXES=''

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:

SRCXPATH=${PKGNAME}-${PKGVER}
#SRCXPATH=${PKGNAME}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
