# 15/08/2004 (EARLIEST v0.0.8, c.04/06/2003)

PKGNAME=e2salvage
PKGVER=0.0.8a
#	http://project.terminus.sk/e2salvage/e2salvage.tar.gz
SRCDEP="e/ http://heanet.dl.sourceforge.net/sourceforge/e2salvage/e2salvage-0.0.8a.tbz2"
PREFIXES=
#
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
