# 09/10/2005 (EARLIEST v1.10, c.09/10/2005)

PKGNAME=fnord
PKGVER=1.10
PKGREV=
SRCDEP="f/ http://www.fefe.de/fnord/fnord-1.10.tar.bz2"
PREFIXES=''
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#SRCXPATH=${PKGNAME}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
