# 20/11/2006 (EARLIEST v2.05a, c.21/10/2002)

PKGNAME=bash
#PKGVER=3.0 (freg-0.7.2-2)
#PKGVER=3.1
#PKGREV=-lfs8
PKGVER=3.2
PKGREV=-lfs8

SRCDEP1="b/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/bash/bash-${PKGVER}.tar.gz"
SRCDEP2="b/ http://www.linuxfromscratch.org/patches/downloads/bash/bash-3.2-fixes-8.patch"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"

#DEP-FOR-DC: (n)curses

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=.

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
