# debug v1.09
# Last modified WmT 2011-10-23
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2011

PKGNAME=debug
PKGVER=1.09
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/dos/debug/old/debug109.zip
