# 2008-09-01 (EARLIEST v0.2, c.2003-05-19)

PKGNAME=ed
#PKGVER=0.8
#PKGVER=0.9
PKGVER=1.0-rc1
PKGVER=1.0
PKGREV=

#SRCDEP="e/ http://es.geocities.com/ant_diaz2001/ed-${PKGVER}.tar.gz"
SRCDEP="e/ http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/ed/ed-${PKGVER}.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
