# untgz v0.95
# Last modified WmT 2011-07-20
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2011

PKGNAME=untgz
PKGVER=0.95
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://gd.tuwien.ac.at/pc/dos/msdos/arcutils/untgz095.zip
