# 09/04/2004 (EARLIEST v0.82, c.09/04/2004)

PKGNAME=e2undel
PKGVER=0.82
SRCDEP="e/ http://kent.dl.sourceforge.net/e2undel/e2undel-0.82.tgz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
