# 11/12/2005 (EARLIEST v0.3, c.18/07/2005)

PKGNAME=vifm
PKGVER=0.3
PKGREV=-eg1a
SRCDEP="v/ http://kent.dl.sourceforge.net/sourceforge/vifm/vifm-0.3.tar.gz"
PREFIXES=

#DEP-FOR-TC: ncurses

SRCXPATH=${PKGNAME}
#SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
