# 13/10/2005 (EARLIEST v0.4, c.13/10/2005)

PKGNAME=mini-lpd
PKGVER=0.4
PKGREV=
SRCDEP="m/ http://linux.schottelius.org/mini-lpd/mini-lpd-0.4.tar.bz2"
PREFIXES=''
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#SRCXPATH=${PKGNAME}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
