# 30/11/2005 (EARLIEST v0.5, c.02/10/2004)

PKGNAME=lpr-bash
#PKGVER=0.9
PKGVER=0.9a
SRCDEP="l/ http://kent.dl.sourceforge.net/sourceforge/lpr-bash/lpr-bash-${PKGVER}.tar.gz"
PREFIXES=''

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC

SRCXPATH=${PKGNAME}-${PKGVER}
#SRCXPATH=${PKGNAME}
#SRCXPATH=.

PACKAGE=${PKGNAME}-${PKGVER}
