# 13/03/2005 (EARLIEST v2.23, c.25/04/2005)

PKGNAME=hwclock
PKGVER=2.23
SRCDEP="h/ http://www.ibiblio.org/pub/Linux/system/hardware/hwclock.tgz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: flex
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}
#
PACKAGE=${PKGNAME}-${PKGVER}
