# 11/12/2005 (EARLIEST v0.0.1, c.22/04/2004)

PKGNAME=vtgrab
PKGVER=0.1.9
PKGREV=-eg2a
SRCDEP="v/ http://www.cyberelk.net/tim/data/vtgrab/devel/vtgrab-0.1.9.tar.bz2"
PREFIXES=

#DEP-FOR-DC: ncurses

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
