# 22/03/2007 (EARLIEST v1.0.6, c.06/10/2005)

PKGNAME=ttyrec
#PKGVER=1.0.6
#PKGREV=-eg1b
PKGVER=1.0.8
PKGREV=
#SRCDEP="t/ http://namazu.org/~satoru/ttyrec/ttyrec-1.0.6.tar.gz"
SRCDEP="t/ http://0xcc.net/ttyrec/ttyrec-1.0.8.tar.gz"
PREFIXES=''

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:

SRCXPATH=${PKGNAME}-${PKGVER}
#SRCXPATH=${PKGNAME}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
