# 06/10/2005 (EARLIEST v1.0, c.06/10/2005)

PKGNAME=hafiye
PKGVER=1.0
PKGREV=
SRCDEP="h/ http://www.enderunix.org/hafiye/hafiye-1.0.tar.gz"
PREFIXES=''
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: libpcap
#
SRCXPATH=${PKGNAME}-${PKGVER}
#SRCXPATH=${PKGNAME}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
