# 17/12/2005 (EARLIEST v0.5, c.03/08/2003)

PKGNAME=cda
PKGVER=0.5
PKGREV=-eg2b
# HOME PAGE http://tjaden.strangesoft.net/libcda/index.html
SRCDEP1="l/ http://tjaden.strangesoft.net/libcda/libcda-0.5.tar.gz"
SRCDEP2="c/ http://tjaden.strangesoft.net/libcda/cda.1"
SRCDEP3="c/ http://tjaden.strangesoft.net/libcda/cda.c"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=.

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
