# 19/12/2005 (EARLIEST v2.3, c.16/01/2005)

PKGNAME=lft
PKGVER=2.5
PKGREV=-eg1b
SRCDEP="l/ http://oppleman.com/dl/?file=lft-${PKGVER}.tar.gz"
PREFIXES=''

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
