# 13/12/2005 (EARLIEST v5.30, c.15/03/2004)

PKGNAME=smartmontools
PKGVER=5.33
PKGREV=-eg1b
#	http://cesnet.dl.sourceforge.net/sourceforge/smartmontools/smartmontools-5.30.tar.gz
SRCDEP="s/ http://heanet.dl.sourceforge.net/sourceforge/smartmontools/smartmontools-${PKGVER}.tar.gz"
PREFIXES=

#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
