# 21/06/2004 (EARLIEST v.20021117, c.21/06/2004)

PKGNAME=over5
PKGVER=20021117
SRCDEP="o/ http://www.kahlin.net/daniel/over5/pub/over5-20021117.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
