# 2008-03-17 (EARLIEST v0.79, 2007-11-04)

PKGNAME=libcdio
#PKGVER=0.79
PKGVER=0.80
PKGREV=
SRCDEP="l/ http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/libcdio/libcdio-${PKGVER}.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
