# 10/02/2005 (EARLIEST v2.1, c.06/02/2004)

PKGNAME=run
PKGVER=3.0
SRCDEP="r/ http://www.ccur.com/oss/run-${PKGVER}.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
