# 30/10/2004 (EARLIEST v0.46, c.31/10/2004)

PKGNAME=picogui
PKGVER=0.46
SRCDEP="p/ http://heanet.dl.sourceforge.net/sourceforge/pgui/picogui-0.46.tar.bz2"
PREFIXES=''
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
