# mtools v4.0.18		STUBS (c) and GPLv2 Wm. Towle 1999-2013
# last modified			2013-04-16 (since v3.9.9, c.2003-05-28)

PKGNAME=mtools
PKGVER=4.0.18
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=ftp://ftp.gnu.org/gnu/mtools/mtools-${PKGVER}.tar.bz2
SRCXPATH=${PKGNAME}-${PKGVER}
