# 01/07/2004 (EARLIEST v1.0.4, c.01/07/2004)

PKGNAME=libsigc++
PKGVER=1.0.4
SRCDEP="l/ http://heanet.dl.sourceforge.net/sourceforge/libsigc/libsigc++-1.0.4.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-TC: libio.h
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
