# 2008-09-06 (EARLIEST v3.9.15, c.2003-06-05)

PKGNAME=screen
#	PKGVER=3.9.15
#	PKGVER=4.0.2
PKGVER=4.0.3
#	http://ftp.gnu.org/pub/gnu/screen/screen-3.9.9.tar.gz"
SRCDEP="s/ http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/screen/screen-4.0.3.tar.gz"
PREFIXES=
#
#TCDEP1=
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
