# move v3.3
# Last modified WmT 2011-10-14
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2011

PKGNAME=move
PKGVER=3.3
PKGREV=

BUILD_METHOD=SCRIPT

#SRC1=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/dos/move/move33x.zip
SRC1=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/dos/move/old/move33x.zip
