# 22/12/2006 (EARLIEST v20031217, c.24/03/2004)

PKGNAME=tnftpd
#PKGVER=20040810	# NOT WORKING
#PKGVER=20061204
PKGVER=20061217
PKGREV=
#SRCDEP="t/ http://www.mirrorservice.org/sites/ftp.NetBSD.org/pub/NetBSD/misc/tnftp/tnftpd-20061204.tar.gz"
SRCDEP="t/ http://www.mirrorservice.org/sites/ftp.NetBSD.org/pub/NetBSD/misc/tnftp/tnftpd-20061217.tar.gz"
PREFIXES=
#
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
