# 2008-02-10 (EARLIEST v5.2, c.2003-05-30)

PKGNAME=ncurses
#PKGVER=5.4
#	# ...(to freg-0.6.6pre1)
##PKGREV=-1c
#PKGVER=5.5
#PKGREV=-gentoo-1
PKGVER=5.6
PKGREV=-eg2a
#SRCDEP1="n/ http://ftp.gnu.org/gnu/ncurses/ncurses-${PKGVER}.tar.gz"
#SRCDEP2="n/ http://www.linuxfromscratch.org/patches/downloads/ncurses/ncurses-5.5-fixes-1.patch"
SRCDEP="n/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/ncurses/ncurses-5.6.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: sh, awk, sed

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=.

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
