# 25/02/2007 (EARLIEST v1.0, c.25/04/2005)

PKGNAME=shush
#PKGVER=1.0.1
#PKGVER=1.0.2
#PKGVER=1.1b2
PKGVER=1.1
PKGREV=
SRCDEP="s/ http://web.taranis.org/shush/dist/shush-${PKGVER}.tgz"
PREFIXES=''

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: (lib)pcre

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
