# hb_qdtc-lxheaders v2.6.20.1  	STUBS (c) and GPLv2 1999-2012
# last modified			2012-08-23

PKGNAME=hb_qdtc-lxheaders
PKGVER=2.6.20.1
PKGREV=

BUILD_METHOD=MAKEFILE

SRC1=http://www.kernel.org/pub/linux/kernel/v2.6/linux-2.6.20.1.tar.bz2
