# 2008-03-28 (since 2006-04-08?)

PKGNAME=bzip2
#PKGVER=1.0.2 (previous ... -fr1b)
#PKGVER=1.0.3
#PKGVER=1.0.4
#PKGREV=-eg2a
PKGVER=1.0.5
PKGREV=
#SRCDEP2="b/ http://www.linuxfromscratch.org/patches/downloads/bzip2/bzip2-1.0.3-bzgrep_security-1.patch"
#SRCDEP3="b/ http://www.linuxfromscratch.org/patches/downloads/bzip2/bzip2-1.0.3-remove_tempfile-1.patch"
SRCDEP="b/ http://www.bzip.org/${PKGVER}/bzip2-${PKGVER}.tar.gz"
PREFIXES="MINIMAL UTILS"

DEP_TC_HOST="/usr/bin/make"
#DEP

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=.

PACKAGE=${PKGNAME}-${PKGVER}
MINIMAL_PACKAGE=${PKGNAME}-minimal-${PKGVER}${PKGREV}
UTILS_PACKAGE=${PKGNAME}-utils-${PKGVER}${PKGREV}
