# 26/08/2006 (EARLIEST 2.0-beta5, c.18/01/2005)

PKGNAME=wxyzv
PKGVER=2.0-beta-6
PKGREV=
#
SRCDEP="w/ http://kent.dl.sourceforge.net/sourceforge/wxyzv2/wxyzv-${PKGVER}.tar.bz2"
PREFIXES=
#
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
