# wmgame-init v2q-1.0
# Last modified WmT 2011-07-22
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2011

PKGNAME=wmgame-init
PKGVER=2q-1.0
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=file://${TOPLEV}/${PKGDIR}/v${PKGVER}.tgz
