# 25/01/2004 (EARLIEST v0.8.0, c.22/03/2004)

PKGNAME=memgrep
PKGVER=0.8.0
SRCDEP1="m/ http://www.hick.org/code/skape/memgrep/memgrep-0.8.0.tar.gz"
PREFIXES=
#
#TCDEP1=
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
