# 05/09/2005 (EARLIEST v0.7.3, c.21/02/2003)

PKGNAME=pump
PKGVER=0.8.21
PKGREV=
#	http://armadillo.atmark-techno.com/download/armadillo-linux/source/application/pump-0.7.3.tgz
SRCDEP="p/ http://www.mirror.ac.uk/mirror/archive.ubuntu.com/ubuntu/pool/universe/p/pump/pump_0.8.21.orig.tar.gz"
PREFIXES=
#
#TCDEP1=
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
