# 04/04/2007

PKGNAME=eg-progs
PKGVER=0.9.3
PKGREV=
SRCDEP="e/ file://${TOPLEV}/config/package/e/${PKGNAME}/${PKGVER}/${PKGNAME}-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
