# 29/03/2005 (EARLIEST v1.1.6, c.29/03/2005)

PKGNAME=rt-utils
PKGVER=1.1.6
PKGREV=
SRCDEP="r/ http://kent.dl.sourceforge.net/sourceforge/rt-utils/rt-utils-1.1.6.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#SRCXPATH=${PKGNAME}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREL}${PKGREV}
