# 13/12/2005 (EARLIEST v3.10.18 c.22/03/2004)

PKGNAME=arj
PKGVER=3.10.22
PKGREV=-eg1b
#	http://testcase.newmail.ru/files/arj-3.10.21.tar.gz
SRCDEP="a/ http://kent.dl.sourceforge.net/sourceforge/arj/arj-${PKGVER}.tar.gz"
PREFIXES=

#DEP-FOR-DC: autoconf

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
