# 2008-02-16 (EARLIEST v2.2, c.2004-06-02)

PKGNAME=dnsmasq
#PKGVER=2.27 (frlx 0.6.7)
#PKGVER=2.37
#PKGVER=2.38
#PKGVER=2.39
#PKGVER=2.40
PKGVER=2.41
PKGREV=
SRCDEP="d/ http://www.thekelleys.org.uk/dnsmasq/dnsmasq-${PKGVER}.tar.gz"
PREFIXES=
#
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
