# 13/12/2005 (EARLIEST v2.05, c.10/09/2004)

PKGNAME=rlpr
PKGVER=2.06
PKGREV=-eg1b
SRCDEP="r/ ftp://www.truffula.com/pub/rlpr-${PKGVER}.tar.gz"
PREFIXES=''
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
