# 17/12/2005 (EARLIEST v1.7, c.11/06/2004)

PKGNAME=ccrypt
PKGVER=1.7
PKGREV=-eg2d
#	http://quasar.mathstat.uottawa.ca/~selinger/ccrypt/download/ccrypt-1.7.tar.gz
SRCDEP="c/ http://ccrypt.sourceforge.net/download/ccrypt-1.7.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
