# 24/01/2005 (EARLIEST: v1.10, c.24/01/2005)

PKGNAME=seejpeg
PKGVER=1.10
SRCDEP="s/ ftp://sunsite.unc.edu/pub/Linux/apps/graphics/viewers/svga/seejpeg-1.10.tgz"
PREFIXES=
#
#DEP-FOR-DC: svgalib
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
