# 2008-06-01 (EARLIEST c. 2008-06-01)

PKGNAME=xorg-x11proto-core
PKGVER=7.0.12
PKGREV=
#
SRCDEP="x/ http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/main/x/x11proto-core/x11proto-core_7.0.12.orig.tar.gz"
PREFIXES=
#
#DEP:
# # REQ DC: bison
# # REQ DC: flex
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=xproto-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
