# 31/01/2005

PKGNAME=dosfstools
PKGVER=2.9
#	http://ftp.debian.org/debian/pool/main/d/dosfstools/dosfstools_2.8.orig.tar.gz
SRCDEP="d/ http://ftp.uni-erlangen.de/pub/Linux/LOCAL/dosfstools/dosfstools-2.9.src.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: install

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}
