# devload v3.25
# Last modified WmT 2012-03-26
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2012

PKGNAME=devload
PKGVER=3.25
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/dos/devload/devload-3.25.zip
