# devload v3.21
# Last modified WmT 2011-10-23
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2011

PKGNAME=devload
PKGVER=3.21
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/dos/devload/old/devload-3.21.zip
