# 17/12/2005 (EARLIEST v0.8.2, c.08/05/2004)

PKGNAME=unix2tcp
PKGVER=0.8.2
PKGREV=-eg1b

#SRCDEP="u/ http://dizzy.roedu.net/unix2tcp/unix2tcp-0.8.2.tar.bz2"
SRCDEP="u/ http://www.mirrorservice.org/sites/www.ibiblio.org/gentoo/distfiles/unix2tcp-0.8.2.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
