# loadlin v1.6e
# Last modified WmT 2011-03-03
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2011

PKGNAME=loadlin
PKGVER=1.6e
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/universe/l/loadlin/loadlin_1.6e.orig.tar.gz
