# 2008-05-01 (EARLIEST v1.20.1, c.2003-07-05)

PKGNAME=gpm
#PKGVER=1.20.1
#PKGREV=-eg1c
#PKGVER=1.20.3pre4
#PKGVER=1.20.3
PKGVER=1.99.6
PKGREV=
#SRCDEP="g/ ftp://arcana.linux.it/pub/${PKGNAME}/${PKGNAME}-${PKGVER}.tar.bz2"
#SRCDEP="g/ http://ftp.schottelius.org/pub/linux/gpm/gpm-${PKGVER}.tar.bz2"
SRCDEP="g/ http://unix.schottelius.org/gpm/archives/gpm-${PKGVER}.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: bison

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
