# 14/10/2006 (EARLIEST v4.3, c.09/06/2004)

PKGNAME=readline
#PKGVER=5.1
PKGVER=5.2
PKGREV=
#	ftp://ftp.gnu.org/gnu/readline/readline-4.3.tar.gz
SRCDEP="r/ http://mirrorservice.org/sites/ftp.gnu.org/gnu/readline/readline-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
