# 22/04/2006 (EARLIEST v5.2.2, c.22/03/2004)

PKGNAME=etherboot
PKGVER=5.4.2
PKGREV=
SRCDEP="e/ http://kent.dl.sourceforge.net/sourceforge/etherboot/etherboot-${PKGVER}.tar.bz2"
#URL=http://kent.dl.sourceforge.net/sourceforge/etherboot/etherboot-5.4.2.tar.bz2
PREFIXES=
#
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
