# 05/03/2006 (EARLIEST v.050915, c.15/09/2005)

PKGNAME=heirloom-doctools
#PKGVER=050915 (initial)
PKGVER=050915
#PKGVER=051227
PKGREV=
SRCDEP="h/ http://kent.dl.sourceforge.net/sourceforge/heirloom/heirloom-doctools-${PKGVER}.tar.bz2"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
