# 30/06/2005 (EARLIEST v0.8.8, c.22/04/2004)

PKGNAME=sipsak
#PKGVER=0.8.12
PKGVER=0.8.13
SRCDEP="s/ http://download.berlios.de/sipsak/sipsak-${PKGVER}.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: openssl
#DEP-FOR-RT: openssl
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
