# 06/10/2005 (EARLIEST v0.2.1, c.06/10/2005)

PKGNAME=mtf
PKGVER=0.2.1
PKGREV=
SRCDEP="m/ http://www.layton-graphics.com/mtf/mtf-0.2.1.tgz"
PREFIXES=''
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#SRCXPATH=${PKGNAME}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
