# 30/10/2004 (EARLIEST v0.7.2, c.31/01/2004)

PKGNAME=vlc
PKGVER=0.7.2
SRCDEP="v/ http://download.videolan.org/pub/videolan/vlc/0.7.2/vlc-0.7.2.tar.gz"
PREFIXES=''
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
