# flex v2.5.27			STUBS (c) and GPLv2 1999-2012
# last modified			2012-12-12

PKGNAME=flex
PKGVER=2.5.27
PKGREV=

BUILD_METHOD=MAKEFILE

SRC1=http://sourceforge.net/projects/flex/files/flex/2.5.27/flex-2.5.27.tar.bz2/download
