# flex v2.5.37			STUBS (c) and GPLv2 1999-2014
# last modified			2014-05-02

PKGNAME=flex
PKGVER=2.5.37
PKGREV=

BUILD_METHOD=MAKEFILE

#SRC1=http://sourceforge.net/projects/flex/files/flex/${PKGVER}/flex-${PKGVER}.tar.bz2/download
SRC1="http://downloads.sourceforge.net/project/flex/flex-${PKGVER}.tar.bz2?use_mirror=kent"
