# 09/07/2005 (EARLIEST v2.43, c.27/05/2004)

PKGNAME=unarj
PKGVER=2.43
SRCDEP="u/ http://security.debian.org/debian-security/pool/updates/non-free/u/unarj/unarj_2.43.orig.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
