# 14/12/2005 (EARLIEST v1.1, c.15/04/2004)

PKGNAME=beeper
PKGVER=1.2
PKGREV=-eg1c
SRCDEP="b/ http://cosoleto.free.fr/beeper/beeper-${PKGVER}.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
