# uhtc-binutils v2.16.1		[ since v2.9.1, c.2002-10-14 ]
# last mod WmT, 2010-06-02	[ (c) and GPLv2 1999-2010 ]

PKG_SRC=${SRCDIR}/b/binutils-${PKG_VER}.tar.bz2

PKG_URLS=http://ftp.kernel.org/pub/linux/devel/binutils/binutils-${PKG_VER}.tar.bz2

if [ "${PKG_VER}" = '2.16.1' ] ; then
	PKG_PATCHES="${SRCDIR}/b/binutils-2.16.1-patches-1.11.tar.bz2 ${SRCDIR}/b/binutils-2.16.1-uclibc-patches-1.1.tar.bz2"
	PKG_URLS="${PKG_URLS} http://www.mirrorservice.org/sites/www.ibiblio.org/gentoo/distfiles/binutils-2.16.1-patches-1.11.tar.bz2 http://www.mirrorservice.org/sites/www.ibiblio.org/gentoo/distfiles/binutils-2.16.1-uclibc-patches-1.1.tar.bz2"
fi

# soft dependency on 'cmp' (for configure)
# 2.16.1 (only) has dependency on 'awk'
[ "${BUILD_NTI}" = 'y' ] && DEPS="mawk"

#[ "${BUILD_NTI}" = 'y' ] && METHOD=sh
[ "${BUILD_NTI}" = 'y' ] && METHOD=mak
