# ultc-lxincl20 v2.0.40		[ EARLIEST v2.0.37pre10, c.????-??-?? ]
# last mod WmT, 2010-01-28	[ (c) and GPLv2 1999-2010 ]

PKG_SRC=${SRCDIR}/l/linux-${PKG_VER}.tar.bz2

PKG_URLS=SCHEME://SERVER/PATH/linux-${PKG_VER}.tar.bz2

#? [ "${BUILD_CTI}" = 'y' ] && DEPS="coreutils diffutils"
[ "${BUILD_CTI}" = 'y' ] && DEPS=""

#[ "${BUILD_CTI}" = 'y' ] && METHOD=sh
[ "${BUILD_CTI}" = 'y' ] && METHOD=mak
