# ultc-gcc v4.1.2		[ since v2.7.2.3, c.2002-10-14 ]
# last mod WmT, 2010-05-25	[ (c) and GPLv2 1999-2010 ]

PKG_SRC=${SRCDIR}/g/gcc-core-${PKG_VER}.tar.bz2

PKG_URLS=http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/gcc/gcc-${PKG_VER}/gcc-core-${PKG_VER}.tar.bz2

if [ "${PKG_VER}" = '2.95.3-2' ] ; then
	PKG_PATCHES=${SRCDIR}/g/gcc-${PKG_VER}.patch
	PKG_URLS="${PKG_URLS} http://www.linuxfromscratch.org/patches/downloads/gcc/gcc-${PKG_VER}.patch"
fi

# soft dependency on diffutils (for configure)
[ "${BUILD_CTI}" = 'y' ] && DEPS="ultc-binutils"

#[ "${BUILD_CTI}" = 'y' ] && METHOD=sh
[ "${BUILD_CTI}" = 'y' ] && METHOD=mak
