# ultc-uClibc v0.9.28.3		[ since v0.9.15, c.2002-10-14 ]
# last mod WmT, 2010-05-26	[ (c) and GPLv2 1999-2010 ]


PKG_SRC=${SRCDIR}/u/uClibc-${PKG_VER}.tar.bz2

PKG_URLS=http://www.uclibc.org/downloads/uClibc-${PKG_VER}.tar.bz2

# 100127: configuration stage requires 'cut', 'install' (coreutils)
[ "${BUILD_CTI}" = 'y' ] && DEPS="coreutils"

[ "${BUILD_CTI}" = 'y' ] && METHOD=mak
