# ultc-lx26src v2.6.28		[ EARLIEST v2.0.37pre10, c.2002-10-14 ]
# last mod WmT, 2010-05-27	[ (c) and GPLv2 1999-2010 ]

PKG_SRC=${SRCDIR}/l/linux-${PKG_VER}.tar.bz2

PKG_URLS="http://www.mirror.ac.uk/sites/ftp.kernel.org/pub/linux/kernel/v2.6/linux-${PKG_VER}.tar.bz2"

#? [ "${BUILD_CTI}" = 'y' ] && DEPS="coreutils diffutils"
[ "${BUILD_CTI}" = 'y' ] && DEPS="kstc-kbinutils kstc-kgcc"

#[ "${BUILD_CTI}" = 'y' ] && METHOD=sh
[ "${BUILD_CTI}" = 'y' ] && METHOD=mak
