# 2007-08-06 (EARLIEST v2.8.4, c.2003-06-04)

PKGNAME=lynx
#PKGVER=2.8.6
#PKGVER=2.8.7dev.4
#PKGVER=2.8.6rel.4
#PKGVER=2.8.7dev.5
PKGVER=2.8.7dev.7
PKGREV=
SRCDEP="l/ http://lynx.isc.org/current/lynx${PKGVER}.tar.bz2"
PREFIXES=

#DEP

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}`echo ${PKGVER} | sed 's/dev.*// ; s/pre.*// ; s/rel.*// ; s/\./-/g'`

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
