# gzip v1.2.4
# Last modified WmT 2012-04-01
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2012

PKGNAME=gzip
PKGVER=1.2.4
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/gzip/gzip-1.2.4.msdos.exe
#!	SRC1=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/util/file/gzip124.exe
