# STUBS (c) and GPLv2 Wm.Towle 1999-2010
# Purpose			'wmfd-init' configuration v1.0.0rc1
# Last modified			2010-12-09 (since 2010-08-13)

PKGNAME=wmfd-init
PKGVER=1.0.0rc1
PKGREV=

BUILD_METHOD=SCRIPT

#SRC1=
