# compinfo vUNKNOWN
# Last modified WmT 2011-03-14
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2011

PKGNAME=compinfo
PKGVER=UNKNOWN
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/util/system/compinfx.zip
