# 19/12/2005 (EARLIEST v1.0, c.04/07/2003)

PKGNAME=libvorbis
PKGVER=1.1.2
PKGREV=-eg1b
#	http://www.vorbis.com/files/${PKGVER}/unix/libvorbis-${PKGVER}.tar.gz
SRCDEP="l/ http://downloads.xiph.org/releases/vorbis/libvorbis-1.1.2.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
