# diffutils v3.2		STUBS (c) and GPLv2 1999-2014
# last modified			2014-05-02

PKGNAME=diffutils
PKGVER=3.2
#PKGVER=3.3
PKGREV=

BUILD_METHOD=MAKEFILE

SRC1=http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/diffutils/diffutils-${PKGVER}.tar.xz
