# 2008-06-22 (EARLIEST v1.2, c.2006-02-06)

PKGNAME=nylon
PKGVER=1.21
PKGREV=
SRCDEP="n/ http://monkey.org/~marius/nylon/nylon-${PKGVER}.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
