# 2007-01-06 (EARLIEST v1.11a37, c.2002-10-21)

PKGNAME=cdrtools
#RELVER=2.01
RELVER=2.01.01
#PKGVER=${RELVER}a23	(freg-0.9.3)
#PKGVER=${RELVER}a33
#PKGVER=${RELVER}a35
#PKGVER=${RELVER}a36
PKGVER=${RELVER}a37
PKGREV=
#SRCDEP="c/ ftp://ftp.berlios.de/pub/cdrecord/cdrtools-${PKGVER}.tar.bz2"
SRCDEP="c/ ftp://ftp.berlios.de/pub/cdrecord/alpha/cdrtools-${PKGVER}.tar.bz2"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${RELVER}
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
