# findutils v4.2.29	STUBS (c) and GPLv2 Wm.Towle 1999-2011
# last modified		WmT, 2010-12-29	[ since v?.?, c. ????-??-?? ]

PKGNAME=findutils
PKGVER=4.2.29
#PKGVER=4.2.33
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/findutils/findutils-${PKGVER}.tar.gz
