# findutils v4.4.2	STUBS (c) and GPLv2 Wm.Towle 1999-2014
# last modified		WmT, 2014-05-02	[ since v?.?, c. ????-??-?? ]

PKGNAME=findutils
#PKGVER=4.2.33
PKGVER=4.4.2
PKGREV=

BUILD_METHOD=MAKEFILE

SRC1=http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/findutils/findutils-${PKGVER}.tar.gz
