# 09/06/2003 (EARLIEST v4.0.4, c.21/10/2002)
#
PKGNAME=rpm
PKGVER=4.0.5
SRCDEP1="r/ UNKNOWN-URL/${PKGNAME}-${PKGVER}.tgz"
PREFIXES=
#
#TCDEP1= zlib[.a]
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
