# 22/10/2005 (EARLIEST v1.1.1, c.22/10/2005)

PKGNAME=vorbis-tools
PKGVER=1.1.1
PKGREV=
SRCDEP="v/ http://downloads.xiph.org/releases/vorbis/vorbis-tools-1.1.1.tar.gz"
PREFIXES=''
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#SRCXPATH=${PKGNAME}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
