# gzip v1.3.12			[ since v1.2.4a, c.????-??-?? ]
# last mod WmT, 2010-03-11	[ (c) and GPLv2 1999-2010 ]

PKG_SRC=${SRCDIR}/g/gzip-${PKG_VER}.tar.gz

PKG_URLS=http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/gzip/gzip-${GZIP_VER}.tar.gz

# [ "${BUILD_NPI}" = 'y' ] && DEPS="libc ldso"
[ "${BUILD_CUI}" = 'y' ] && DEPS="xdc-uClibc"

#[ "${BUILD_NTI}" = 'y' ] && METHOD=sh
[ "${BUILD_CUI}" = 'y' ] && METHOD=mak
