# lx26bin v2.6.20.1		[ since v2.0.37pre10, c.????-??-?? ]
# last mod WmT, 2010-03-26	[ (c) and GPLv2 1999-2010 ]

PKG_SRC=${SRCDIR}/l/linux-${PKG_VER}.tar.bz2

PKG_URLS=http://www.mirrorservice.org/sites/ftp.kernel.org/pub/linux/kernel/v2.6/linux-${PKG_VER}.tar.bz2

# [ "${BUILD_NPI}" = 'y' ] && DEPS="libc ldso"
# TODO: compiler here, obviously!
[ "${BUILD_CUI}" = 'y' ] && DEPS=""

#[ "${BUILD_NTI}" = 'y' ] && METHOD=sh
[ "${BUILD_CUI}" = 'y' ] && METHOD=mak
