# xdc-uCdevel v0.9.28.3		[ since v0.9.??, c.????-??-?? ]
# last mod WmT, 2010-03-11	[ (c) and GPLv2 1999-2010 ]


PKG_SRC=${SRCDIR}/u/uClibc-${PKG_VER}.tar.bz2

PKG_URLS=http://www.uclibc.org/downloads/uClibc-${PKG_VER}.tar.bz2

# 100127: configuration stage requires 'cut', 'install' (coreutils)
# 100311: ...which version[s]' configuration?
#[ "${BUILD_CUI}" = 'y' ] && DEPS="coreutils"
[ "${BUILD_CUI}" = 'y' ] && DEPS=""

[ "${BUILD_CUI}" = 'y' ] && METHOD=mak
