# microperl v5.8.9		[ since v5.6.1, c.2003-03-19 ]
# last mod WmT, 2010-03-15	[ (c) and GPLv2 1999-2010 ]

PKG_SRC=${SRCDIR}/p/perl-${PKG_VER}.tar.bz2

PKG_URLS=http://ftp.funet.fi/pub/CPAN/src/perl-${PKG_VER}.tar.bz2

# [ "${BUILD_NPI}" = 'y' ] && DEPS="libc ldso"
[ "${BUILD_CUI}" = 'y' ] && DEPS="xdc-uClibc"

#[ "${BUILD_NTI}" = 'y' ] && METHOD=sh
[ "${BUILD_CUI}" = 'y' ] && METHOD=mak
