# xfkdrive v4.3.0		[ since v4.3.0, c.2010-05-07 ]
# last mod WmT, 2010-05-07	[ (c) and GPLv2 1999-2010 ]

PKG_SRC=${SRCDIR}/k/kdrive-4.3.0-gentoo-0.5.tar.bz2

PKG_URLS=http://www.mirrorservice.org/sites/www.ibiblio.org/gentoo/distfiles/kdrive-4.3.0-gentoo-0.5.tar.bz2

# necessary in due course:
#
# - from Gentoo:
#	http://www.mirrorservice.org/sites/www.ibiblio.org/gentoo/distfiles/X430src-1.tgz
#	http://www.mirrorservice.org/sites/www.ibiblio.org/gentoo/distfiles/X430src-2.tgz
#	http://www.mirrorservice.org/sites/www.ibiblio.org/gentoo/distfiles/X430src-3.tgz
#
# - from XFree mirror
#	http://www.mirrorservice.org/sites/ftp.xfree86.org/pub/XFree86/4.3.0/source/

#[ "${BUILD_CUI}" = 'y' ] && DEPS="xui-uClibc"
[ "${BUILD_CUI}" = 'y' ] && DEPS=""

#[ "${BUILD_NTI}" = 'y' ] && METHOD=sh
[ "${BUILD_CUI}" = 'y' ] && METHOD=mak
