# busybox v1.16.1		[ since v0.60.5, c.2006-06-17 ]
# last mod WmT, 2010-04-09	[ (c) and GPLv2 1999-2010 ]

PKG_SRC=${SRCDIR}/b/busybox-${PKG_VER}.tar.bz2
#PKG_SRC=${SRCDIR}/b/busybox-${PKG_VER}.tar.gz

#PKG_URLS=http://www.busybox.net/downloads/legacy/busybox-${PKG_VER}.tar.bz2
PKG_URLS=http://busybox.net/downloads/busybox-${PKG_VER}.tar.bz2

# [ "${BUILD_NPI}" = 'y' ] && DEPS="libc ldso"
[ "${BUILD_CUI}" = 'y' ] && DEPS="xui-uClibc"

#[ "${BUILD_NTI}" = 'y' ] && METHOD=sh
[ "${BUILD_CUI}" = 'y' ] && METHOD=mak
