# 21/11/2004 (EARLIEST v0.4.4, c.21/11/2004)

PKGNAME=ttyload
PKGVER=0.4.4
SRCDEP="t/ http://www.daveltd.com/src/util/ttyload/ttyload-0.4.4.tar.gz"
PREFIXES=''
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
