# 14/12/2005 (EARLIEST v0.2, c.21/04/2003)

PKGNAME=tsh
PKGVER=0.6
PKGREV=-eg2b
#	http://www.cr0.net:8040/code/network/${PKGNAME}-${PKGVER}.tgz
SRCDEP="t/ http://www.packetstormsecurity.org/UNIX/penetration/tsh-0.6.tgz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#TCDEP1=<make>
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}
