# 19/12/2005 (EARLIEST v1.15, c.02/03/2004)

PKGNAME=hsftp
PKGVER=1.15
PKGREV=-eg1b
SRCDEP="h/ http://la-samhna.de/${PKGNAME}/${PKGNAME}-${PKGVER}.tar.gz"
PREFIXES=

#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
