# 10/12/2005 (EARLIEST v3.0, c.27/05/2004)

PKGNAME=dpy
PKGVER=3.1
PKGREV=-eg1c
SRCDEP="d/ http://www.canb.auug.org.au/~dbell/programs/dpy-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: N/A
#DEP-FOR-TC: termcap.h(ncurses)

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
