# 2008-09-21 (EARLIEST v1.0.0, c.2004-03-16)

PKGNAME=statifier
#PKGVER=1.6.4
#PKGVER=1.6.5 PKGREV=-eg1b
#PKGVER=1.6.8
PKGVER=1.6.14
PKGREV=
#	http://osdn.dl.sourceforge.net/sourceforge/statifier/statifier-1.6.5.tar.gz
SRCDEP="s/ http://kent.dl.sourceforge.net/sourceforge/statifier/statifier-${PKGVER}.tar.gz"
PREFIXES=

#DEP-FOR-RT: bash

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
