# 12/01/2006 (EARLIEST v0.15, 19/12/2005)

PKGNAME=amigadepacker
PKGVER=0.02
PKGREV=
SRCDEP="a/ http://zakalwe.virtuaalipalvelin.net/~shd/foss/amigadepacker/amigadepacker-0.02.tar.bz2"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
