# crcfile vUNKNOWN
# Last modified WmT 2011-03-14
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2011

PKGNAME=crcfile
PKGVER=UNKNOWN
PKGREV=

BUILD_METHOD=SCRIPT

#was http://www.q330.com/Download/Secure/AppNotes/CRCfile.exe
#SRC1=http://fdos.info/ripcord/crcfile/crcfile.tgz
SRC1=http://www.passcal.nmt.edu/taweb/INSTALL/Instrumentation/PreVIE/VSATComms/Vault/Q330/Procedures/Q330_Quanterra_documentation/AppNotes/CRCfile.exe
