# 2008-09-21 (FROM INCOMING 2008-09-21)

PKGNAME=dhcpcd
PKGVER=1.3.22-pl4
PKGREV=
SRCDEP="d/ http://www.mirrorservice.org/sites/amd64.debian.net/debian-amd64/pool/main/d/dhcpcd/dhcpcd_1.3.22pl4.orig.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}-${PKGVER}.orig
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
