# make v3.81			STUBS (c) and GPLv2 1999-2012
# last modified			2012-09-03

PKGNAME=make
PKGVER=3.81
PKGREV=

BUILD_METHOD=MAKEFILE

SRC1=http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/make/make-${PKGVER}.tar.bz2
