# 07/08/2006 (EARLIEST: v0.1.6, c. 16/01/2005)

PKGNAME=zsync
#PKGVER=0.4.3 (freg-0.6.8pre2)
#PKGREV=
PKGVER=0.5
PKGREV=
#SRCDEP="z/ http://kent.dl.sourceforge.net/sourceforge/zsync/zsync-${PKGVER}.tar.gz"
SRCDEP="z/ http://zsync.moria.org.uk/download/zsync-0.5.tar.bz2"
PREFIXES=

#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
