# format v0.91u
# last modified WmT 2011-01-06
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2011

PKGNAME=format
PKGVER=0.91u
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/dos/format/format-0.91u.zip
