# 11/09/2004 (EARLIEST v1.11a37, c.21/10/2002)

PKGNAME=cdrtools
PKGVER=2.01
SRCDEP="c/ ftp://ftp.berlios.de/pub/cdrecord/cdrtools-${PKGVER}.tar.bz2"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
PACKAGE=${PKGNAME}-${PKGVER}
