# 2008-02-04 (EARLIEST v0.93, c.2003-06-04)

PKGNAME=grub
#PKGVER=0.97
#PKGVER=1.92
#PKGVER=1.94
PKGVER=1.96
PKGREV=
#SRCDEP="g/ ftp://alpha.gnu.org/gnu/grub/grub-1.93.tar.gz"
SRCDEP="g/ http://www.mirrorservice.org/sites/alpha.gnu.org/gnu/grub/grub-${PKGVER}.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
