# 17/12/2005 (EARLIEST v0.05, c.27/06/2003)

PKGNAME=im-httpd
PKGVER=0.05
PKGREV=-eg2b
SRCDEP="i/ http://michael.bacarella.com/projects/${PKGNAME}/${PKGNAME}_${PKGVER}.tar.bz2"
PREFIXES=

#DEP

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}_${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
