# 17/02/2006 (EARLIEST v0.3.6, c.24/11/2003)

PKGNAME=wput
#PKGVER=0.5 (-eg1b)
PKGVER=pre0.6
PKGREV=
#	http://itooktheredpill.dyndns.org/wput/wput-${PKGVER}.tgz
SRCDEP="w/ http://kent.dl.sourceforge.net/sourceforge/wput/wput-${PKGVER}.tgz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
