# 22/07/2006 (EARLIEST v1.3, 22/07/2006)

PKGNAME=darkhttpd
PKGVER=1.5
PKGREV=
SRCDEP="d/ http://dmr.ath.cx/net/darkhttpd/darkhttpd-${PKGVER}.tar.bz2"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
