# fdisk 1.2.1		STUBS (c) and GPLv2 Wm. Towle 1999-2011
# since			v"1220" 2003-05-21
# last modified		2011-01-07

PKGNAME=fdisk
PKGVER=1.2.1
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/dos/fdisk/fdisk121.zip
