# 2007-03-17 (EARLIEST v1.0-20040920, c.2004-10-16)

PKGNAME=dialog
#PKGVER=1.0-20060126 (bldrg 0.9.0-pre2)
#PKGVER=1.0-20060221
#PKGVER=1.1-20070227 (frlx-0.6.10b)
#PKGVER=1.1-20070325
#PKGVER=1.1-20070409
#PKGVER=1.1-20070604
#PKGVER=1.1-20070704
#PKGVER=1.1-20071028
PKGVER=1.1-20080316
PKGREV=
#SRCDEP="d/ http://www.mirrorservice.org/sites/ftp.debian.org/debian/pool/main/d/dialog/dialog_${PKGVER}.orig.tar.gz"
SRCDEP="d/ ftp://invisible-island.net/dialog/dialog-${PKGVER}.tgz"
PREFIXES=''
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: ncurses
#DEP-FOR-RT: ncurses
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
