# 12/01/2006 (EARLIEST v21.5, c.30/07/2004)

PKGNAME=psmisc
#PKGVER=21.8-eg1a (PREVIOUS)
PKGVER=21.9
PKGREV=
#URL=http://kent.dl.sourceforge.net/sourceforge/psmisc/psmisc-21.9.tar.gz
#	http://kent.dl.sourceforge.net/sourceforge/psmisc/psmisc-${PKGVER}.tar.gz
SRCDEP="p/ http://kent.dl.sourceforge.net/psmisc/psmisc-${PKGVER}.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-TC: ncurses
#
SRCXPATH=${PKGNAME}-${PKGVER}
#SRCXPATH=.
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
