# 23/01/2006 (EARLIEST v1.32, c.19/04/2004)

PKGNAME=ne
PKGVER=1.42
PKGREV=
SRCDEP="n/ http://ne.dsi.unimi.it/ne-${PKGVER}.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:(tc)ncurses
#DEP-FOR-RT: ncurses
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
