# 2008-04-22 (EARLIEST v5.0, c.2003-04-06)

PKGNAME=coreutils
#PKGVER=5.0
#PKGVER=5.0.91
#PKGVER=5.2.1
#PKGREV=-eg2e
#PKGVER=6.4
#PKGVER=6.6
#PKGVER=6.7
#PKGVER=6.9
PKGVER=6.11
PKGREV=
#	ftp://ftp.gnu.org/gnu/${PKGNAME}/${PKGNAME}-${PKGVER}.tar.bz2
#SRCDEP="c/ http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/coreutils/coreutils-${PKGVER}.tar.bz2"
SRCDEP="c/ http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/coreutils/coreutils-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
