# 05/01/2005 (EARLIEST v3.2.1, c.14/12/2003)

PKGNAME=xmcd
PKGVER=3.2.2
SRCDEP="x/ http://www.ibiblio.org/tkan/cgi-bin/dl.cgi?pkg=xmcd&ver=3.3.2&type=src"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
