# 05/04/2006 (EARLIEST )

PKGNAME=ppt
PKGVER=0.14
#	http://www.cpan.org/src/perl-${PKGVER}.tar.bz2
SRCDEP="p/ http://search.cpan.org/CPAN/authors/id/C/CW/CWEST/ppt-0.14.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"

#TCDEP1= which cmp ; which awk
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}
