# hb_qdul-lxbinary v3.9.11    	STUBS (c) and GPLv2 1999-2013
# last modified			2013-12-29

PKGNAME=hb_qdul-lxbinary
#PKGVER=3.2.4
#PKGVER=3.6.11
PKGVER=3.9.11
PKGREV=

BUILD_METHOD=MAKEFILE

SRC1=http://www.kernel.org/pub/linux/kernel/v3.0/linux-${PKGVER}.tar.bz2
#SRC2=http://SERVER/PATH/ashfield-headers_install-fix.patch.txt
