# hb_qdul-lxbinary v4.2.8    	STUBS (c) and GPLv2 1999-2017
# last modified			2017-03-19

PKGNAME=hb_qdul-lxbinary
#PKGVER=3.18.48
#PKGVER=4.0-rc1
#PKGVER=4.1.39
PKGVER=4.2.8
#PKGVER=4.9.9
PKGREV=

BUILD_METHOD=MAKEFILE

SRC1=http://www.kernel.org/pub/linux/kernel/v4.x/linux-${PKGVER}.tar.gz
#SRC2=http://SERVER/PATH/ashfield-headers_install-fix.patch.txt
#SRC2=http://landley.net/hg/aboriginal/raw-file/5636dc006f09/sources/patches/linux-fixuClibc.patch
