# 04/12/2004 (EARLIEST v2.0-alpha4, c.04/12/2004)

PKGNAME=nc
PKGVER=2.0-alpha4
SRCDEP="n/ http://sed.sourceforge.net/grabbag/misc-paolo/nc-2.0-alpha4.tar.gz"
PREFIXES=
#
DEP_TC_HOST=""
#DEP
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}-`echo ${PKGVER} | sed 's/-alpha.*//'`
#
PACKAGE=${PKGNAME}-${PKGVER}
