# 22/09/2007 (EARLIEST v0.71, c.2004-10-16)

PKGNAME=coretrace
PKGVER=0.80
PKGREV=-eg1b
#	http://www.arbetsmyra.dyndns.org/coretrace/download/coretrace_v${PKGVER}.tar.gz
SRCDEP="c/ http://www.sourcefiles.org/Programming/Development/Debugging/Console/coretrace_v0.80.tar.gz"
PREFIXES=''

DEP_TC_HOST="/usr/bin/make"
#DEP

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
