# 2008-06-19 (EARLIEST v0.3, c.2005-07-18)

PKGNAME=vifm
#PKGVER=0.3
PKGVER=0.4
PKGREV=
#SRCDEP="v/ http://kent.dl.sourceforge.net/sourceforge/vifm/vifm-0.3.tar.gz"
SRCDEP="v/ http://heanet.dl.sourceforge.net/sourceforge/vifm/vifm-${PKGVER}.tar.bz2"
PREFIXES=

#DEP-FOR-TC: ncurses

#SRCXPATH=${PKGNAME}
SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
