# 17/12/2005 (EARLIEST v1.05, c.14/07/2003)

PKGNAME=djbdns
PKGVER=1.05
PKGREV=-eg2c
SRCDEP="d/ http://cr.yp.to/${PKGNAME}/${PKGNAME}-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: bash

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
