# 13/12/2005 (EARLIEST v2.14, c.17/03/2003)

PKGNAME=which
PKGVER=2.16
PKGREV=-fr1b
#SRCDEP="w/ http://www.mirror.ac.uk/mirror/ftp.gnu.org/gnu/${PKGNAME}/${PKGNAME}-${PKGVER}.tar.gz"
SRCDEP="w/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/${PKGNAME}/${PKGNAME}-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#TCDEP1= which fgrep ; which cmp
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
