# 2008-04-08 (FROM INCOMING 2008-04-04)

PKGNAME=regutils
PKGVER=0.10
PKGREV=
SRCDEP="r/ http://www.cs.mun.ca/~michael/regutils/files/regutils-0.10.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
