# 2008-03-28 (prev. 2006-11-26, poss older)

PKGNAME=m4
#PKGVER=1.4.1, 1.4.3
#PKGVER=1.4.4
#PKGREV=-fr1a
#PKGVER=1.4.5 (freg-0.9.1)
#PKGVER=1.4.6
#PKGVER=1.4.7
#PKGVER=1.4.8
PKGVER=1.4.10
PKGREV=
#	ftp://ftp.seindal.dk/gnu/m4-${PKGVER}.tar.gz	# v1.4[a-z]
SRCDEP1="m/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/m4/m4-${PKGVER}.tar.bz2"
SRCDEP2="m/ http://www.linuxfromscratch.org/patches/downloads/m4/m4-1.4.10-fixes-1.patch"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-TC: (native)kernel-headers

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=.

#PACKAGE=${PKGNAME}-${PKGVER}
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
