# 17/12/2005 (EARLIEST v4.3, c.08/01/2004)

PKGNAME=cmospwd
PKGVER=4.3
PKGREV=-eg2b
SRCDEP="c/ http://www.cgsecurity.org/${PKGNAME}-${PKGVER}.tgz"
PREFIXES=

DEP_TC_HOST="/usr/bin/gcc /usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
