# 19/05/2007 (EARLIEST v2.13, c.14/10/2002)

PKGNAME=sanitc-host-binutils
#PKGVER=2.16.1
PKGVER=2.17
PKGREV=-fr1a
SRCDEP="b/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/binutils/binutils-${PKGVER}.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-TH: /usr/bin/make, /usr/bin/gcc, lxheaders, diffutils, coreutils (install)

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=binutils-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
