# 18/04/2007

PKGNAME=gzip
#PKGVER=1.2.4a
#PKGVER=1.3.5 (frlx-0.9.3)
PKGVER=1.3.12
PKGREV=
#REALVER=1.2.4b-3
REALVER=${PKGVER}${PKGREV}
#
#SRCDEP1="g/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/gzip/gzip-${PKGVER}.tar.gz"
#SRCDEP2="g/ http://www.gzip.org/gzip-1.2.4b.patch"
#SRCDEP="g/ http://www.mirrorservice.org/sites/alpha.gnu.org/gnu/gzip/gzip-${PKGVER}.tar.gz"
SRCDEP="g/ http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/gzip/gzip-1.3.12.tar.gz"
PREFIXES="MINIMAL UTILS"

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-TC: patch

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${REALVER}
MINIMAL_PACKAGE=${PKGNAME}-minimal-${REALVER}
UTILS_PACKAGE=${PKGNAME}-utils-${REALVER}
