# 06/10/2005 (EARLIEST v0.21, c.03/02/2005)

PKGNAME=libowfat
PKGVER=0.24
PKGREV=
SRCDEP="l/ http://dl.fefe.de/libowfat-${PKGVER}.tar.bz2"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
