# 09/10/2005 (EARLIEST: v0.90, c.05/04/2005)

PKGNAME=microwindows
#PKGVER=0.90
PKGVER=0.91
PKGREV=
##	ftp://microwindows.org/pub/microwindows/microwindows-fonts-0.90.tar.gz
#SRCDEP="m/ ftp://microwindows.org/pub/microwindows/microwindows-0.90.tar.gz"
##SRCDEP="m/ ftp://microwindows.org/pub/microwindows/microwindows-src-0.91.tar.gz"
SRCDEP="m/ ftp://microwindows.org/pub/microwindows/microwindows-full-0.91.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: svgalib
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
