# 2008-06-12 (EARLIEST c. 2008-06-12)

PKGNAME=libXau
PKGVER=1.0.3
PKGREV=
#
SRCDEP="l/ http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/main/libx/libxau/libxau_1.0.3.orig.tar.gz"
PREFIXES=
#
#DEP:
# # REQ DC: bison
# # REQ DC: flex
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
