# 2008-02-04 (EARLIEST v1.1, 2005-12-19)

PKGNAME=conspy
#PKGVER=1.4
PKGVER=1.5
PKGREV=
#SRCDEP="c/ http://www.mirrorservice.org/sites/ftp.debian.org/debian/pool/main/c/conspy/conspy_1.4.orig.tar.gz"
SRCDEP="c/ http://ace-host.stuart.id.au/russell/files/conspy/conspy-${PKGVER}.tar.gz"
PREFIXES=

#DEP-FOR-DC: ncurses
#DEP-FOR-TC:
#DEP-FOR-RT:

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
