# 19/12/2005 (EARLIEST v0.15, 19/12/2005)

PKGNAME=hdimage
PKGVER=2.0.2
PKGREV=
SRCDEP="h/ http://kent.dl.sourceforge.net/sourceforge/hdimage/hdimage2.0.2.tar.gz"
PREFIXES=

#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}2

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
