# 24/10/2005 (EARLIEST v0.12, c.07/03/2004)

PKGNAME=cfe
#	http://www.mirror.ac.uk/mirror/ftp.debian.org/debian/pool/main/c/cfe/cfe_0.9.orig.tar.gz
PKGVER=0.12
PKGREV=-eg2b
#	http://lrn.ru/~osgene/files/cfe-0.12.tar.gz
#	http://download.uhulinux.hu/mirror/http:/lrn.ru/~osgene/files/cfe-0.12.tar.gz
#SRCDEP="c/ http://gentoo.osuosl.org/distfiles/cfe-0.12.tar.gz"
SRCDEP="c/ http://gentoo.osuosl.org/distfiles/cfe-0.12.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: ncurses
#
SRCXPATH=${PKGNAME}-${PKGVER}
#SRCXPATH=${PKGNAME}-${RELVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
