# 13/12/2005 (EARLIEST v3.9.9, c.28/05/2003)

PKGNAME=mtools
PKGVER=3.9.9
PKGREV=-eg2c
SRCDEP="m/ http://mtools.linux.lu/mtools-3.9.9.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
