# 17/12/2005 (EARLIEST v0.8, c.01/07/2004)

PKGNAME=pop3spam
PKGVER=0.9
PKGREV=-eg1c
#	http://pop3spam.sourceforge.net/files/pop3spam-${PKGVER}.tar.bz2
SRCDEP="p/ http://heanet.dl.sourceforge.net/sourceforge/pop3spam/pop3spam-0.9.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: openssl, pcre

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
