# (prev 2008-12-15)

PKGNAME=grep
PKGVER=2.5.1a
PKGREV=-fr1c
#SRCDEP="g/ http://www.mirror.ac.uk/mirror/ftp.gnu.org/gnu/grep/grep-${PKGVER}.tar.bz2"
SRCDEP="g/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/grep/grep-${PKGVER}.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: pcre.h

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
