# 27/02/2005 (EARLIEST v5.9, c.27/02/2005)

PKGNAME=zgv
#PKGVER=5.8
PKGVER=5.9
#SRCDEP1="z/ http://www.svgalib.org/rus/zgv/zgv-5.8.tar.gz"
#SRCDEP2="z/ http://www.svgalib.org/rus/zgv/zgv-5.8-integer-overflow-fix.diff"
SRCDEP="z/ http://www.svgalib.org/rus/zgv/zgv-${PKGVER}.tar.gz"
PREFIXES=
#
#DEP-FOR-DC: svgalib
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
