# 2008-09-11

PKGNAME=lzma
PKGVER=4.32.7
PKGREV=
SRCDEP="l/ http://tukaani.org/lzma/lzma-4.32.7.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
