# 24/09/2005 (EARLIEST v2.43, c.17/11/2003)

PKGNAME=frotz
PKGVER=2.43
PKGREV=-eg3b
#	http://www.cs.csubak.edu/~dgriffi/proj/frotz/files/frotz-2.43.tar.gz
#SRCDEP="f/ http://www.mirror.ac.uk/mirror/archive.ubuntu.com/ubuntu/pool/universe/f/frotz/frotz_2.43.orig.tar.gz"
SRCDEP="f/ http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/universe/f/frotz/frotz_2.43.orig.tar.gz"
PREFIXES=

#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
