# 20008-07-17 (EARLIEST v0.9.19, c.2003-06-05)

PKGNAME=tcc
#	PKGVER=0.9.20 (29/02/2004)
#	PKGVER=0.9.23
PKGVER=0.9.24
PKGREV=
#	SRCDEP="t/ http://fabrice.bellard.free.fr/tcc/tcc-${PKGVER}.tar.gz"
SRCDEP="t/ http://download.savannah.nongnu.org/releases/tinycc/tcc-0.9.24.tar.bz2"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKREV}
