# 2008-04-04 (FROM INCOMING 2008-04-04)

PKGNAME=cufps
PKGVER=0.0.1
PKGREV=
SRCDEP="c/ http://mesh.dl.sourceforge.net/sourceforge/cufps/cufps-0.0.1.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
