# 2008-09-01 (PREV 030126 c.2003-06-06)

PKGNAME=chntpw
#PKGVER=030126
PKGVER=080526
PKGREV=
#SRCDEP="c/ http://ntpass.blaa.net/${PKGNAME}-source-${PKGVER}.zip"
SRCDEP="c/ http://home.eunet.no/~pnordahl/ntpasswd/chntpw-source-${PKGVER}.zip"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP @DC: openssl
#DEP @RT: curses, libgpm
#DEP
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=.
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
