# 31/10/2003 (v2.7.2.3 since 31/10/2003, v2.8.1 c.17/03/2003, v2.95.3 since 26/04/2004, v3.3.x since 26/04/2004, v3.4.x since 03/06/2004)

PKGNAME=gcc
PKGVER=2.7.2.3
#SRCDEP="g/ http://www.mirror.ac.uk/mirror/ftp.gnu.org/gnu/gcc/gcc-2.7.2.3.tar.gz"
SRCDEP="g/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/gcc/gcc-2.7.2.3.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#TCDEP1= which cc
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
