# 2008-06-01 (EARLIEST c. 2008-06-01)

PKGNAME=xorg-x11proto-render
PKGVER=0.9.3
PKGREV=
#
SRCDEP="x/ http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/main/x/x11proto-render/x11proto-render_0.9.3.orig.tar.gz"
PREFIXES=
#
#DEP:
# # REQ DC: bison
# # REQ DC: flex
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=renderproto-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
