# 15/01/2006 (EARLIEST v1.19, c.19/05/2003)

PKGNAME=groff
PKGVER=1.19.1
PKGREV=-eg1d
#PKGVER=1.19.2
#PKGREV=
#	http://www.mirror.ac.uk/mirror/ftp.gnu.org/gnu/groff/groff-1.19.tar.gz
#SRCDEP="g/ http://ftp.gnu.org/gnu/groff/groff-${PKGVER}.tar.gz"
SRCDEP="g/ http://ftp.gnu.org/gnu/groff/groff-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
