# 2008-06-08 (EARLIEST v7.10.8, c.2003-12-14)

PKGNAME=curl
# prior versions not tested with this build script
#PKGVER=7.16.1
#PKGVER=7.17.1
#PKGVER=7.18.0
#PKGVER=7.18.1
PKGVER=7.18.2
PKGREV=
#SRCDEP="c/ http://curl.haxx.se/download/curl-${PKGVER}.tar.bz2"
SRCDEP="c/ http://curl.internet.bs/download/curl-${PKGVER}.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: openssl

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
