# 2007-08-31 (EARLIEST v0.13b, c.2004-06-09)

PKGNAME=shmux
#PKGVER=1.0b6 (<= freg 0.6.6-2)
#PKGREV=-eg1a
#PKGVER=1.0b7
#PKGVER=1.0b8
#PKGVER=1.0b9 (frlx-0.9.1pre2)
#PKGVER=1.0b10
PKGVER=1.0.1
PKGREV=
SRCDEP="s/ http://web.taranis.org/shmux/dist/shmux-${PKGVER}.tgz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: pcre

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
