# 17/12/2005 (EARLIEST v5.4, c.27/06/2004)

PKGNAME=fdutils
PKGVER=5.5
PKGREV=-eg1b
SRCDEP="f/ http://fdutils.linux.lu/fdutils-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: flex

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
