# 2008-09-28 (EARLIEST v0.2, c.2003-05-19)

PKGNAME=ed
#PKGVER=0.8
#PKGVER=0.9
#PKGVER=1.0-rc1
#PKGVER=1.0
#PKGVER=1.1-rc1
PKGVER=1.1
PKGREV=

#SRCDEP="e/ http://download.savannah.gnu.org/releases/ed/ed-1.1-rc1.tar.bz2"
SRCDEP="e/ http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/ed/ed-1.1.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
