# hb_qdtc-kgcc v4.1.2	    	STUBS (c) and GPLv2 1999-2012
# last modified			2012-07-18

PKGNAME=hb_qdtc-kgcc
PKGVER=4.1.2
PKGREV=

BUILD_METHOD=MAKEFILE

SRC1=http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/gcc/gcc-4.1.2/gcc-core-4.1.2.tar.bz2
