# 10/02/2005 (EARLIEST v8.30, c.10/06/2003)

PKGNAME=alien
PKGVER=8.50
SRCDEP="a/ http://kitenet.net/programs/alien/alien_${PKGVER}.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#RTDEP - perl
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}
#
PACKAGE=${PKGNAME}-${PKGVER}
