# dos2unix v6.0.4
# Last modified WmT 2014-03-11
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2014

PKGNAME=dos2unix
#PKGVER=5.3.3
PKGVER=6.0.4
PKGREV=

BUILD_METHOD=SCRIPT

#SRC1=http://waterlan.home.xs4all.nl/dos2unix/d2u53b.zip
#SRC1=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/util/user/dos2unix/d2u533b.zip
#SRC1=http://cyberside.dontexist.org/FILES/util/user/dos2unix/d2u533b.zip
SRC1=http://waterlan.home.xs4all.nl/dos2unix/d2u604b.zip
