# dos2unix v7.2.3
# Last modified WmT 2015-07-04
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2015

PKGNAME=dos2unix
#PKGVER=5.3.3
#PKGVER=6.0.4
#PKGVER=7.1
PKGVER=7.2.3
PKGREV=

BUILD_METHOD=SCRIPT

#SRC1=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/util/user/dos2unix/d2u533b.zip
#SRC1=http://waterlan.home.xs4all.nl/dos2unix/d2u604b.zip
#SRC1=http://waterlan.home.xs4all.nl/dos2unix/d2u71b.zip
SRC1=http://waterlan.home.xs4all.nl/dos2unix/d2u723b.zip
