# 2008-02-10 (v2.7.2.3 since 2003-10-31, v2.8.1 c.2003-03-17, v2.95.3 since 2004-04-26, v3.3.x since 2004-04-26, v3.4.x since 2004-06-03)

PKGNAME=sanitc-host-gcc
PKGVER=2.95.3
#PKGVER=3.3.4
#PKGVER=3.4.0
#PKGVER=3.4.1
PKGREV=-2-eg2a
SRCDEP1="g/ http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/gcc/gcc-2.95.3.tar.gz"
SRCDEP2="g/ http://www.linuxfromscratch.org/patches/lfs/5.1/gcc-2.95.3-2.patch"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"

#DEP-FOR-TC: diffutils, sanitc-host-binutils

#SRCXPATH=gcc-${PKGVER}
SRCXPATH=.

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
