# sed v4.1.5			STUBS (c) and GPLv2 1999-2012
# last modified			2012-12-12

PKGNAME=sed
PKGVER=4.1.5
PKGREV=

BUILD_METHOD=MAKEFILE

SRC1=http://SERVER/PATH/sed-4.1.5.tar.gz
# TODO: sed-4.1.5-fixes-1.patch
# TODO: sed-4.1.5-uClibc-1.patch
