# 2008-04-16 (prev 2006-10-27)

PKGNAME=tar
#PKGVER=1.15.1
#PKGVER=1.16
#PKGVER=1.18
#PKGVER=1.19
PKGVER=1.20
PKGREV=
SRCDEP="t/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/tar/tar-${PKGVER}.tar.bz2"
PREFIXES="MINIMAL UTILS"

DEP_TC_HOST="/usr/bin/make"
#TCDEP1=which ar which cmp which grep; varargs
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}
MINIMAL_PACKAGE=${PKGNAME}-minimal-${PKGVER}${PKGREV}
UTILS_PACKAGE=${PKGNAME}-utils-${PKGVER}${PKGREV}
