# 2008-04-08 (EARLIEST v1.2.5, c.2003-08-14)

PKGNAME=libpng
#PKGVER=1.2.7
#PKGREV=-eg1b
#PKGVER=1.2.12
#PKGVER=1.2.14
#PKGVER=1.2.15
#PKGVER=1.2.20
#PKGVER=1.2.23
#PKGVER=1.2.25
PKGVER=1.2.26
PKGREV=

#SRCDEP="l/ http://kent.dl.sourceforge.net/sourceforge/libpng/libpng-${PKGVER}.tar.bz2"
SRCDEP="l/ ftp://ftp.simplesystems.org/pub/libpng/png/src/libpng-1.2.26.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
# DEP TC: zlib
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
