# 17/12/2005 (EARLIEST v1.18, c.10/05/2003)

PKGNAME=freefile
PKGVER=1.8
PKGREV=-eg2b
SRCDEP="f/ http://www.ibiblio.org/pub/Linux/utils/file/freefile-1.8.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
