# 18/04/2006

PKGNAME=eg-init
PKGVER=0.9.0-2b
PKGREV=
SRCDEP="e/ ${TOPLEV}/config/package/e/eg-init/${PKGVER}/eg-init-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: make

SRCXPATH=${PKGNAME}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
