# 2008-04-05 (EARLIEST v1.19, c.2003-05-19)

PKGNAME=groff
PKGVER=1.19.1
#PKGVER=1.19.2
PKGREV=
#	http://ftp.gnu.org/gnu/groff/groff-1.19.1.tar.gz
SRCDEP="g/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/groff/groff-${PKGVER}.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
