# 2008-07-01 (EARLIEST v1.8.2, c.2003-06-07)

PKGNAME=wget
#PKGVER=1.9.1
#PKGREV=-eg2b
#PKGVER=1.11.1
#PKGVER=1.11.2
#PKGVER=1.11.3
PKGVER=1.11.4
PKGREV=
#SRCDEP="w/ http://ftp.gnu.org/pub/gnu/wget/wget-${PKGVER}.tar.gz"
SRCDEP="w/ http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/wget/wget-${PKGVER}.tar.bz2"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
