# infozip-unzip v5.52
# Last modified WmT 2011-08-10
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2011

PKGNAME=infozip-unzip
PKGVER=5.52
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/util/file/info-zip/unzip/old/unz552x3.exe
