# 17/12/2005 (EARLIEST v1.2.3, c.03/08/2004)

PKGNAME=ftpproxy
PKGVER=1.2.3
PKGREV=-eg1b
SRCDEP="f/ http://www.ftpproxy.org/download/ftpproxy-1.2.3.tgz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
