# 13/03/2005 (EARLIEST v1.0, c.13/03/2005)

PKGNAME=xlcrack
PKGVER=1.0
SRCDEP="x/ http://www.ecs.soton.ac.uk/~njl98r/code/xlcrack-1.0.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: flex
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
