# hb_qdul-lxsource v2.6.32.27    	STUBS (c) and GPLv2 1999-2013
# last modified			2013-04-09

PKGNAME=hb_qdul-lxsource
PKGVER=2.6.32.27
#PKGVER=3.4.18
PKGREV=

BUILD_METHOD=MAKEFILE

SRC1=http://www.kernel.org/pub/linux/kernel/v2.6/linux-2.6.32.27.tar.bz2
