# hb_qdul-lxsource v3.14.79    	STUBS (c) and GPLv2 1999-2017
# last modified			2017-03-14

PKGNAME=hb_qdul-lxsource
#PKGVER=3.2.4
#PKGVER=3.6.11
#PKGVER=3.9.11
#PKGVER=3.10.65
#PKGVER=3.14.58
PKGVER=3.14.79
PKGREV=

BUILD_METHOD=MAKEFILE

SRC1=http://www.kernel.org/pub/linux/kernel/v3.0/linux-${PKGVER}.tar.gz
#SRC2=http://SERVER/PATH/ashfield-headers_install-fix.patch.txt
SRC2=http://landley.net/hg/aboriginal/raw-file/5636dc006f09/sources/patches/linux-fixuClibc.patch
