# hb_qdul-ucldev v0.9.33    	STUBS (c) and GPLv2 1999-2014
# last modified			2014-05-10

PKGNAME=hb_qdul-ucldev
PKGVER=0.9.33
#PKGVER=0.9.33.2
PKGREV=

BUILD_METHOD=MAKEFILE

SRC1=http://www.uclibc.org/downloads/uClibc-${PKGVER}.tar.bz2
