# 01/06/2004
# URL http://www.flightsim.com/arcanum/mahjng42.zip

ARCHIVE mahjng42.zip
INSTALL MAHJONGG.EXE   MAHJONGG.EXE
INSTALL MAHJONGG.DOC   MAHJONGG.DOC
INSTALL MAHJONGG.HLP   MAHJONGG.HLP
INSTALL SHAREWRE.TXT   SHAREWRE.TXT
INSTALL ORDERFRM.TXT   ORDERFRM.TXT
INSTALL UKORDER.TXT    UKORDER.TXT
INSTALL VENDOR.TXT     VENDOR.TXT
INSTALL STATGEN.EXE    STATGEN.EXE
INSTALL MAHJONGG.TXT   MAHJONGG.TXT
INSTALL TILEARCH.BAT   TILEARCH.BAT
INSTALL FLAGS.TIL      FLAGS.TIL
INSTALL TEXTVIEW.EXE   TEXTVIEW.EXE
INSTALL ANTIGRAV.BRD   ANTIGRAV.BRD
INSTALL DEFAULT.BRD    DEFAULT.BRD
INSTALL FLAGS.TXT      FLAGS.TXT
INSTALL HORSESHU.BRD   HORSESHU.BRD
INSTALL STADIUM.BRD    STADIUM.BRD
INSTALL TOWERS.BRD     TOWERS.BRD
INSTALL XRAY.BRD       XRAY.BRD
INSTALL FILE_ID.DIZ    FILE_ID.DIZ
INSTALL MAHJONGG.TIL   MAHJONGG.TIL
INSTALL TILEMAKR.EXE   TILEMAKR.EXE
INSTALL TILEMAKR.DOC   TILEMAKR.DOC
INSTALL TILEMAKR.HLP   TILEMAKR.HLP
INSTALL CATALOG.EXE    CATALOG.EXE
INSTALL TILES.DOC      TILES.DOC
INSTALL MAHJONGG.DAT   MAHJONGG.DAT
