# 2008-01-13 (prev 2004-06-01)
# URL=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/dos/more/more40b.zip
# URL=http://users.pandora.be/imre/FreeDOS/more43.zip

ARCHIVE more43.zip
INSTALL bin/MORE.EXE       more.exe
#INSTALL MORE40/BIN/_MORE.EXE      MORE40/BIN/_MORE.EXE
#INSTALL MORE40/NLS/               MORE40/NLS/
#INSTALL MORE40/NLS/MORE.DE        MORE40/NLS/MORE.DE
#INSTALL MORE40/NLS/MORE.LV        MORE40/NLS/MORE.LV
#INSTALL MORE40/NLS/MORE.SV        MORE40/NLS/MORE.SV
#INSTALL MORE40/NLS/MORE.NL        MORE40/NLS/MORE.NL
#INSTALL MORE40/NLS/MORE.HU        MORE40/NLS/MORE.HU
#INSTALL MORE40/NLS/MORE.EN        MORE40/NLS/MORE.EN
