# 06/08/2004

# -- http://savannah.nongnu.org/download/free-defrag/move30x.zip
# -- http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/dos/move/move31x.zip
# URL=http://users.pandora.be/imre/FreeDOS/move32x.zip

ARCHIVE move32x.zip
INSTALL move.exe	move.exe
