# 19/05/2007 (v2.7.2.3 since 31/10/2003, v2.8.1 c.17/03/2003, v2.95.3 since 26/04/2004, v3.3.x since 26/04/2004, v3.4.x since 03/06/2004)

PKGNAME=sanitc-host-gcc
PKGVER=2.95.3
#PKGVER=3.3.4
#PKGVER=3.4.0
#PKGVER=3.4.1
PKGREV=-2-fr1a
SRCDEP1="g/ http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/gcc/gcc-2.95.3.tar.gz"
SRCDEP2="g/ http://www.linuxfromscratch.org/patches/lfs/5.1/gcc-2.95.3-2.patch"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"

#DEP-FOR-TC: diffutils, sanitc-host-binutils

#SRCXPATH=gcc-${PKGVER}
SRCXPATH=.

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
