# 01/02/2007 (EARLIEST v0.37, c.14/06/2004)

PKGNAME=tftp-hpa
#PKGVER=0.51 (17/12/2005)
#PKGVER=0.42
#PKGVER=0.43
#PKGVER=0.44
#PKGVER=0.46 (frlx 0.6.9-3)
#PKGVER=0.47
PKGVER=0.48
PKGREV=
SRCDEP="t/ http://www.kernel.org/pub/software/network/tftp/tftp-hpa-${PKGVER}.tar.bz2"
#SRCDEP="t/ http://www.kernel.org/pub/software/network/tftp/tftp-hpa-${PKGVER}.tar.gz"
PREFIXES=''

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
