# acpi v1.6
# Last modified WmT 2015-01-26
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2015

PKGNAME=acpi
PKGVER=1.6
PKGREV=

BUILD_METHOD=MAKEFILE

SRC1=http://ftp.de.debian.org/debian/pool/main/a/acpi/acpi_1.6.orig.tar.gz
