# 30/08/2006

PKGNAME=patch
#PKGVER=2.5.4
#PKGREV=-eg2b
PKGVER=2.5.9
PKGREV=
#SRCDEP="p/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/${PKGNAME}/${PKGNAME}-${PKGVER}.tar.gz"
SRCDEP="p/ http://www.mirrorservice.org/sites/alpha.gnu.org/gnu/diffutils/patch-2.5.9.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
