# 22/10/2005 (EARLIEST v0.8.6, c.22/10/2005)

PKGNAME=libao
PKGVER=0.8.6
PKGREV=
SRCDEP="l/ http://downloads.xiph.org/releases/ao/libao-0.8.6.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#TCDEP1=which ar which cmp which grep; varargs
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
