# 16/06/2004 (EARLIEST v3.1.6, c.25/01/2004)

PKGNAME=htdig
PKGVER=3.2.0b6
SRCDEP="h/ http://www.htdig.org/files/htdig-${PKGVER}.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: zlib
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
