# 26/11/2006 (EARLIEST v1.0, c.22/04/2004)

PKGNAME=schedtool
#PKGVER=1.2.5 (-eg1b, frlx-0.6.6-2)
#PKGVER=1.2.6
#PKGVER=1.2.7
#PKGVER=1.2.8	(frlx 0.6.9)
PKGVER=1.2.9
PKGREV=
SRCDEP="s/ http://freequaos.host.sk/schedtool/schedtool-${PKGVER}.tar.bz2"
PREFIXES=

#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
