# 2008-09-01 (EARLIEST v4.2.4p5, c.2008-09-01)

PKGNAME=ntp
PKGVER=4.2.4p5
PKGREV=
SRCDEP="n/ http://www.eecis.udel.edu/~ntp/ntp_spool/ntp4/ntp-4.2.4p5.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
