# 01/03/2004

PKGNAME=tar
RELVER=1.13
PKGVER=${RELVER}-3
#SRCDEP="t/ http://www.mirror.ac.uk/mirror/ftp.gnu.org/gnu/${PKGNAME}/${PKGNAME}-${RELVER}.tar.gz"
SRCDEP="t/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/${PKGNAME}/${PKGNAME}-${RELVER}.tar.gz"
PREFIXES="MINIMAL UTILS"

DEP_TC_HOST="/usr/bin/make"
#TCDEP1=which ar which cmp which grep; varargs
#DEP

SRCXPATH=${PKGNAME}-${RELVER}

PACKAGE=${PKGNAME}-${PKGVER}
MINIMAL_PACKAGE=${PKGNAME}-minimal-${PKGVER}
UTILS_PACKAGE=${PKGNAME}-utils-${PKGVER}
