# 2009-02-23 (prev. 2008-01-13)

# http://www.japheth.de/debxxf.html
# URL=http://www.japheth.de/Download/debug114.zip

ARCHIVE DEBUG114.ZIP
INSTALL DEBUG.COM     debug.com
INSTALL DEBUGX.COM    debugx.com
