# 2009-05-21 (prev. 2008-02-23)

# http://www.japheth.de/debxxf.html
# URL=http://www.japheth.de/Download/debug118.zip

ARCHIVE DEBUG118.ZIP
INSTALL DEBUG.COM     debug.com
INSTALL DEBUGX.COM    debugx.com
