# 2008-01-13 (prev. 2006-07-17)
# URL=http://users.telenet.be/imre/FreeDOS/defrag09.zip
# URL=http://download.savannah.nongnu.org/releases/free-defrag/DFRAG131.ZIP

ARCHIVE	dfrag131.zip
INSTALL defrag/bin/defrag.exe   defrag.exe
#INSTALL	defrag/bin/defrag.hlp   defrag.hlp
