# 2008-01-13 (prev 2004-02-08)

# URL=ftp://ftp.ibiblio.org/pub/micro/pc-stuff/freedos/files/dos/diskcopy/dkcp092x.zip
# URL=http://users.telenet.be/imre/FreeDOS/DSKCP095.ZIP

ARCHIVE dskcp095.zip
INSTALL BIN/DISKCOPY.EXE diskcopy.exe
INSTALL SOURCE/DISKCOPY/DISKCOPY.INI diskcopy.ini
