# 12/07/2003 (EARLIEST v0.14, c.14/12/2003)

PKGNAME=hc-cron
PKGVER=0.14
SRCDEP1="h/ http://download.berlios.de/pub/${PKGNAME}/stable/${PKGNAME}-${PKGVER}.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#TCDEP1=
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
