# 2008-01-13 (prev 2003-10-31)
# URL=http://www.geocities.com/jadoxa/shsucdx/shcd300.zip

ARCHIVE shcd300.zip

INSTALL readme.txt readme.txt
INSTALL shsucdx.com shsucdx.com
INSTALL smarter.exe smarter.exe
