# 17/12/2005 (EARLIEST v27dec94.orig, c.05/07/2003)

PKGNAME=setmixer
PKGVER=27DEC94
PKGREV=-eg2b
#	http://www.mirror.ac.uk/mirror/ftp.debian.org/debian/pool/main/s/setmixer/setmixer_27DEC94.orig.tar.gz
#SRCDEP="s/ http://http.us.debian.org/debian/pool/main/s/setmixer/setmixer_27DEC94.orig.tar.gz"
SRCDEP="s/ http://http.us.debian.org/debian/pool/main/s/setmixer/setmixer_27DEC94.orig.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}-${PKGVER}.orig

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
