# 05/04/2006 (EARLIEST v5.6.1, c.19/03/2003)

PKGNAME=microperl
#PKGVER=5.8.7 (since freg-0.6.6-2)
PKGVER=5.8.8
#	http://www.cpan.org/src/perl-${PKGVER}.tar.bz2
SRCDEP="p/ http://ftp.funet.fi/pub/CPAN/src/perl-${PKGVER}.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"

#TCDEP1= which cmp ; which awk
#DEP

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=perl-${PKGVER}

PACKAGE=micro${PKGNAME}-${PKGVER}
