# 2008-04-04 (EARLIEST v0.43, c.2004-10-16)

PKGNAME=dropbear
#PKGVER=0.46
#PKGVER=0.47 (0.9.0pre1)
#PKGVER=0.48
#PKGVER=0.49
PKGVER=0.51
PKGREV=
#SRCDEP="d/ http://matt.ucc.asn.au/dropbear/releases/dropbear-${PKGVER}.tar.bz2"
SRCDEP="d/ http://www.mirrorservice.org/sites/www.ibiblio.org/gentoo/distfiles/dropbear-0.51.tar.gz"
PREFIXES=''

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: zlib

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
