# 2008-02-17 (prev 2007-05-19)

PKGNAME=sanitc-uClibc
PKGVER=0.9.20
#PKGREV=-eg2g (13/03/2005)
PKGREV=
SRCDEP="u/ http://www.uclibc.org/downloads/old-releases/uClibc-${PKGVER}.tar.bz2"
PREFIXES="RUNTIME WRAPPERS"

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-TC: awk; tar; find; <linux2.0headers>; which

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=uClibc-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
RUNTIME_PACKAGE=${PKGNAME}-dev-${PKGVER}${PKGREV}
WRAPPERS_PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
