# 2008-04-16 (EARLIEST v1.11a37, c.2002-10-21)

PKGNAME=cdrtools
PKGVER=2.01
#BASEVER=2.01.01
#PKGVER=${BASEVER}a23
#PKGVER=${BASEVER}a30
#PKGVER=${BASEVER}a31
#PKGVER=${BASEVER}a33
#PKGVER=${BASEVER}a36
#PKGVER=${BASEVER}a37
#PKGVER=${BASEVER}a38
PKGREV=-eg1b
#SRCDEP="c/ ftp://ftp.berlios.de/pub/cdrecord/cdrtools-${PKGVER}.tar.bz2"
SRCDEP="c/ ftp://ftp.berlios.de/pub/cdrecord/alpha/cdrtools-${PKGVER}.tar.bz2"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#SRCXPATH=${PKGNAME}-${BASEVER}
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
