# 02/03/2006 (EARLIEST v0.3.6, c.24/11/2003)

PKGNAME=wput
PKGVER=0.5
PKGREV=-eg1b
#	http://kent.dl.sourceforge.net/sourceforge/wput/wput-0.5.tgz
#SRCDEP="w/ http://www.mirror.ac.uk/mirror/archive.ubuntu.com/ubuntu/pool/universe/w/wput/wput_0.5.orig.tar.gz"
SRCDEP="w/ http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/universe/w/wput/wput_0.5.orig.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

#SRCXPATH=${PKGNAME}-${PKGVER}
#SRCXPATH=${PKGNAME}
SRCXPATH=${PKGNAME}-${PKGVER}.orig

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
