# 18/01/2005 (EARLIEST: v0.0.2, c.18/01/2005)

PKGNAME=playvideo
PKGVER=0.0.2
SRCDEP="p/ http://www.arava.co.il/matan/svgalib/video/playvideo-0.0.2.tar.gz"
PREFIXES=
#
#DEP
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}
#
PACKAGE=${PKGNAME}-${PKGVER}
