# 22/02/2006

PKGNAME=sed
#PKGVER=4.1.2
PKGVER=4.1.5
PKGREV=
#	ftp://ftp.gnu.org/gnu/sed/sed-${PKGVER}.tar.gz
#SRCDEP="s/ http://mirror.ac.uk/mirror/ftp.gnu.org/gnu/sed/sed-${PKGVER}.tar.gz"
SRCDEP="s/ http://mirrorservice.org/sites/ftp.gnu.org/gnu/sed/sed-${PKGVER}.tar.gz"
PREFIXES=''

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: grep
#DEP-FOR-TC: grep

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
