# 01/01/2005 (EARLIEST v5.4.0, c.02/01/2005)

PKGNAME=sara
PKGVER=5.4.0
SRCDEP="s/ http://www-arc.com/sara/downloads/sara-5.4.0.tgz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
