# 07/01/2006 (EARLIEST v0.15, 19/12/2005)

PKGNAME=minilzo
PKGVER=2.02
PKGREV=
SRCDEP="m/ http://www.oberhumer.com/opensource/lzo/download/minilzo-2.02.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}.`echo ${PKGVER} | sed 's/\.//'`
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
