# 2008-06-08 (EARLIEST c. 2008-06-08)

PKGNAME=xorg-x11proto-xcmisc
PKGVER=1.1.2
PKGREV=
#
SRCDEP="x/ http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/main/x/x11proto-xcmisc/x11proto-xcmisc_1.1.2.orig.tar.gz"
PREFIXES=
#
#DEP:
# # REQ DC: bison
# # REQ DC: flex
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=xcmiscproto-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
