# 23/06/2004 (EARLIEST v3-alpha-2, c.23/06/2004)

PKGNAME=hping3
PKGVER=alpha-2
SRCDEP="h/ http://wiki.hping.org/uploadedfiles/101/hping3-alpha-2.tar.gz"
PREFIXES=
#
#DEP-DOR-DC: libpcap
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
