# 16/06/2007 (EARLIEST v0.03, 06/02/2006)

PKGNAME=scanmem
PKGVER=0.03
#PKGVER=0.06
#PKGVER=0.06
PKGVER=0.07
PKGREV=
#SRCDEP="s/ http://dev.gentoo.org/~taviso/files/scanmem-0.03.tar.gz"
SRCDEP="s/ http://taviso.decsystem.org/files/scanmem/scanmem-${PKGVER}.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
