# 25/01/2004 (EARLIEST v0.99, c.23/03/2004)

PKGNAME=pam_pwdfile
PKGVER=0.99
SRCDEP="p/ http://cpbotha.net/files/pam_pwdfile/pam_pwdfile-0.99.tar.gz"
PREFIXES=
#
##TCDEP1=
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
