# blockout-game vUNKNOWN
# Last modified WmT 2011-07-22
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2011

PKGNAME=blockout-game
PKGVER=UNKNOWN
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=file://${TOPLEV}/${PKGDIR}/v${PKGVER}.tgz
