# dvdrtools v0.2.1		STUBS (c) and GPLv2 Wm. Towle 1999-2010
# last modified			2010-11-22 (since v0.3.1, 2009-01-26)

PKGNAME=dvdrtools
PKGVER=0.2.1
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://download.savannah.gnu.org/releases-noredirect/dvdrtools/dvdrtools-0.2.1.tar.bz2
SRCXPATH=${PKGNAME}-${PKGVER}
