# STUBS (c) and GPLv2 Wm.Towle 1999-2012
# Purpose		toolchain sanity check
# Last modified		2012-12-12 (since 2012-06-13)

PKGNAME=hb_qdtc-tc-sanity
PKGVER=0.0.2
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=file://${TOPLEV}/${PKGDIR}/v${PKGVER}.tgz
