# 16/05/2005 (EARLIEST v0.0.14, c.16/05/2005)

PKGNAME=seatris
PKGVER=0.0.14
PKGREV=
SRCDEP="s/ http://www.earth.li/projectpurple/files/seatris-0.0.14.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
