# 24/08/2005 (EARLIEST v2.1-4, c.19/05/2003)

PKGNAME=elvis
PKGVER=2.2_0
PKGREV=-eg3b
SRCDEP="e/ http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/universe/e/elvis/elvis_2.2.0.orig.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
