# 15/01/2006 (EARLIEST v3.1.6-alpha, c.05/07/2003)

PKGNAME=mikmod
PKGVER=3.1.6
PKGREV=-fr1a
SRCDEP="m/ ftp://metalab.unc.edu/pub/Linux/apps/sound/players/mikmod-3.1.6.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: libmikmod >= 3.1.5, ncurses

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
