# 17/12/2005 (EARLIEST v1.10, c.03/07/2003)

PKGNAME=netcat
PKGVER=1.10
PKGREV=-eg3b
SRCDEP="n/ http://www.securityfocus.com/data/tools/nc110.tgz"
PREFIXES=

#DEP_TC_HOST="/usr/bin/make"
#DEP

#SRCXPATH=${PKGNAME}-${RELVER}
SRCXPATH=.

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
