# 29/10/2005 (EARLIEST v3.2.0, c.24/02/2004)

PKGNAME=procps
#PKGVER=3.2.5 (27/01/2005)
PKGVER=3.2.6
PKGREV=
SRCDEP="p/ http://procps.sourceforge.net/procps-${PKGVER}.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: tc-(n)curses
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
