# 17/062006 (EARLIEST v?.??, 06/02/2006)

PKGNAME=heirloom-sh
PKGVER=050706
PKGREV=
SRCDEP="h/ http://kent.dl.sourceforge.net/sourceforge/heirloom/heirloom-sh-050706.tar.bz2"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
