# 19/12/2005 (EARLIEST v1.76, c.31/10/2002)

PKGNAME=syslinux
PKGVER=2.13
#PKGVER=3.11
PKGREV=-eg1b
#SRCDEP="s/ http://www.kernel.org/pub/linux/utils/boot/syslinux/syslinux-${PKGVER}.tar.bz2"
SRCDEP="s/ http://www.kernel.org/pub/linux/utils/boot/syslinux/Old/syslinux-2.13.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: (tc)perl

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
