# 25/01/2004 (EARLIEST v1.0, c.22/03/2004)

PKGNAME=ethwireck
PKGVER=1.0
SRCDEP="e/ http://pepper.linuxfocus.org/~guido/ethwireck-1.0.tar.gz"
PREFIXES=
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
