# 17/12/2005 (EARLIEST v0.15.0b, c.14/07/2003)

PKGNAME=libid3tag
PKGVER=0.15.1b
PKGREV=-eg2c
SRCDEP="l/ http://kent.dl.sourceforge.net/sourceforge/mad/${PKGNAME}-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: zlib

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
