# 2007-09-22 (EARLIEST v2.0, c.2003-03-17)

PKGNAME=sh-utils
PKGVER=2.0.15
PKGREV=-eg1b
SRCDEP="s/ http://www.mirrorservice.org/sites/alpha.gnu.org/gnu/coreutils/sh-utils-2.0.15.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
