# 09/12/2003 (EARLIEST v1.5, c.23/03/2004)

PKGNAME=pcopy
PKGVER=1.5
SRCDEP1="p/ ftp://ftp.lysator.liu.se/pub/unix/${PKGNAME}/${PKGNAME}-${PKGVER}.tar.gz"
PREFIXES=
#
#TCDEP1=
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
