# 2009-02-23
# URL=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/dos/fdisk/fdisk131.zip

ARCHIVE fdisk131.zip
INSTALL PROGRAM/FDISK.EXE fdisk.exe
INSTALL PROGRAM/FDISK.INI fdisk.ini
INSTALL PROGRAM/FDISKPT.INI fdiskpt.ini
