# 06/08/2004

# -- ftp://ftp.ibiblio.org/pub/micro/pc-stuff/freedos/files/dos/format/format-0.91o.zip
# URL=http://www.coli.uni-sb.de/~eric/stuff/soft/by-others/format-0.91p.zip

ARCHIVE format-0.91p.zip

INSTALL bin/format.exe	format.exe
