# 28/08/2005

# -- ftp://ftp.ibiblio.org/pub/micro/pc-stuff/freedos/files/dos/format/format-0.91o.zip
# http://www.coli.uni-sb.de/~eric/stuff/soft/by-others/format-0.91u.zip

ARCHIVE format-0.91u.zip

INSTALL bin/format.exe	format.exe
