# 10/02/2005 (EARLIEST v2.22, v.28/06/2004)

PKGNAME=gpp
PKGVER=2.24
SRCDEP="g/ http://www.nothingisreal.com/gpp/gpp-${PKGVER}.tar.bz2"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
