# eltorito v1.4
# Last modified WmT 2011-10-22
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2011

PKGNAME=eltorito
PKGVER=1.4
PKGREV=

BUILD_METHOD=SCRIPT

#SRC1=http://www.sharkden.com/bart/eltorito14.zip
SRC1=ftp://dl.xs4all.nl/pub/Museum/nu2files/eltorito14.zip
