# 17/12/2005 (EARLIEST v2.25b, c.26/03/2004)

PKGNAME=thttpd
PKGVER=2.25b
PKGREV=-fr1a
SRCDEP="t/ http://www.acme.com/software/thttpd/thttpd-2.25b.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-RT: 'nobody' user

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
