# 22/02/2007 (EARLIEST 0.2.1, 16/09/2006)

PKGNAME=dvdrtools
PKGVER=0.3.1
PKGREV=
SRCDEP="d/ http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/multiverse/d/dvdrtools/dvdrtools_${PKGVER}.orig.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
DEP_TC_HOST="/usr/bin/make"
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
