# 2008-10-12 (FROM INCOMING 2008-10-12)

PKGNAME=yasm
PKGVER=0.7.2
PKGREV=
SRCDEP="y/ http://www.tortall.net/projects/yasm/releases/yasm-0.7.2.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
