# 02/02/2006 (EARLIEST v3.3, 02/02/2006)

PKGNAME=cpuid
PKGVER=3.3
PKGREV=
SRCDEP="c/ http://www.ka9q.net/code/cpuid/cpuid-3.3.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
