# 17/07/2006
# URL=http://savannah.nongnu.org/download/free-defrag/ckdk031x.zip
# URL=http://users.telenet.be/imre/FreeDOS/chkdsk09.zip

ARCHIVE	chkdsk09.zip
#INSTALL chkdsk.exe chkdsk.exe
INSTALL	chkdsk/bin/chkdsk.exe   chkdsk.exe
