# 01/06/2003
# URL=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/dos/choice/choice43a.zip

ARCHIVE choice43a.zip
INSTALL CHOICE/BIN/CHOICE.EXE     CHOICE.EXE
#INSTALL CHOICE/BIN/_CHOICE.EXE    _CHOICE.EXE
#INSTALL CHOICE/HELP/CHOICE.EN     HELP/CHOICE.EN
#INSTALL CHOICE/NLS/CHOICE.RU      NLS/CHOICE.RU
#INSTALL CHOICE/NLS/CHOICE.LV      NLS/CHOICE.LV
#INSTALL CHOICE/NLS/CHOICE.SV      NLS/CHOICE.SV
#INSTALL CHOICE/NLS/CHOICE.DE      NLS/CHOICE.DE
#INSTALL CHOICE/NLS/CHOICE.NL      NLS/CHOICE.NL
#INSTALL CHOICE/NLS/CHOICE.HU      NLS/CHOICE.HU
#INSTALL CHOICE/NLS/CHOICE.EN      NLS/CHOICE.EN
