# 08/02/2004

# URL=ftp://ftp.ibiblio.org/pub/micro/pc-stuff/freedos/files/util/system/compinfx.zip

ARCHIVE compinfx.zip

INSTALL compinfo.exe	compinfo.exe
INSTALL mca.dat		mca.dat
INSTALL pci.dat		pci.dat
