# 26/06/2004

# URL=ftp://ftp.ibiblio.org/pub/micro/pc-stuff/freedos/files/util/mouse/ctmous19.zip

ARCHIVE ctmous19.zip

INSTALL CTMOUSE.TXT 	CTMOUSE.TXT
INSTALL COM2EXE.EXE 	COM2EXE.EXE
INSTALL CTMOUSE.EXE 	CTMOUSE.EXE
#INSTALL CTM-BR.MSG  	CTM-BR.MSG
#INSTALL CTM-DE.MSG  	CTM-DE.MSG
INSTALL CTM-EN.MSG  	CTM-EN.MSG
#INSTALL CTM-ES.MSG  	CTM-ES.MSG
#INSTALL CTM-FR.MSG  	CTM-FR.MSG
#INSTALL CTM-HU.MSG  	CTM-HU.MSG
#INSTALL CTM-IT.MSG  	CTM-IT.MSG
#INSTALL CTM-LV.MSG  	CTM-LV.MSG
#INSTALL CTM-NL.MSG  	CTM-NL.MSG
#INSTALL CTM-PL.MSG  	CTM-PL.MSG
#INSTALL CTM-PT.MSG  	CTM-PT.MSG
#INSTALL CTM-SK.MSG  	CTM-SK.MSG
#INSTALL UNPACKED/CTM-BR.EXE	CTM-BR.EXE
#INSTALL UNPACKED/CTM-DE.EXE	CTM-DE.EXE
INSTALL UNPACKED/CTM-EN.EXE	CTM-EN.EXE
#INSTALL UNPACKED/CTM-ES.EXE	CTM-ES.EXE
#INSTALL UNPACKED/CTM-FR.EXE	CTM-FR.EXE
#INSTALL UNPACKED/CTM-HU.EXE	CTM-HU.EXE
#INSTALL UNPACKED/CTM-IT.EXE	CTM-IT.EXE
#INSTALL UNPACKED/CTM-LV.EXE	CTM-LV.EXE
#INSTALL UNPACKED/CTM-NL.EXE	CTM-NL.EXE
#INSTALL UNPACKED/CTM-PL.EXE	CTM-PL.EXE
#INSTALL UNPACKED/CTM-PT.EXE	CTM-PT.EXE
#INSTALL UNPACKED/CTM-SK.EXE	CTM-SK.EXE
INSTALL UTILITY/COMTEST.COM	COMTEST.COM
INSTALL UTILITY/MOUSETST.COM	MOUSETST.COM
INSTALL UTILITY/PROTOCOL.COM	PROTOCOL.COM
