# 18/09/2004 (EARLIEST v1.6.7, c.15/04/2004)

PKGNAME=for-each-file
PKGVER=1.7.3
#	http://people.ucsc.edu/~skurapat/pub/projects/ff/ff-${PKGVER}.tar.bz2
SRCDEP="f/ http://heanet.dl.sourceforge.net/sourceforge/ff-bash/ff-${PKGVER}.tar.bz2"
PREFIXES=

#DEP-FOR-RT: bash, getopts

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=ff-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}
