# 2008-03-31 (EARLIEST unversioned, 2004-12-04)

PKGNAME=arpalert
#PKGVER=0.4.15-1 (freg-0.6.9pre1)
#PKGVER=0.4.15-2
#PKGVER=1.1.0
#PKGVER=2.0.2
#PKGVER=2.0.3
PKGVER=2.0.10
PKGREV=
SRCDEP="a/ http://www.arpalert.org/src/arpalert-${PKGVER}.tar.gz"
PREFIXES=

#DEP-FOR-DC: libpcap

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
