# 15/09/2005 (EARLIEST v0.4.2, c.15/11/2003)

PKGNAME=elinks
#PKGVER=0.10.5
PKGVER=0.10.6
PKGREV=
SRCDEP="e/ http://elinks.or.cz/download/elinks-${PKGVER}.tar.bz2"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
