# 19/04/2007 (EARLIEST 1.0.1, c.16/03/2006)

PKGNAME=xorg-server-X11R7.2
#PKGVER=6.8.0
#	TODO: v6.9? (1.0.1 is 7.0)
#PKGVER=1.0.1
PKGVER=1.2.0
PKGREV=
#SRCDEP="x/ http://xorg.freedesktop.org/releases/X11R7.0/src/xserver/xorg-server-1.0.1.tar.bz2"
SRCDEP="x/ http://ftp.x.org/pub/X11R7.2/src/xserver/xorg-server-X11R7.2-1.2.0.tar.bz2"
PREFIXES=
#
#DEP:
# # REQ DC: bison
# # REQ DC: flex
#
SRCXPATH=${PKGNAME}-${PKGVER}


#
PACKAGE=${PKGNAME}-${PKGVER}
