# 17/12/2005 (EARLIEST v2.1, c.08/11/2002)

PKGNAME=smartsuite
PKGVER=2.1
PKGREV=-eg2b
SRCDEP="s/ http://kent.dl.sourceforge.net/sourceforge/smartsuite/smartsuite-2.1.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
