# 2008-06-22 (EARLIEST v1, 2006-02-06)

PKGNAME=bsd-errh
PKGVER=1
PKGREV=-fr1b
SRCDEP="e/ http://www.canonical.org/~kragen/sw/err.h-release-1.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=err.h-release-1
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
