# 17/12/2005 (EARLIEST v1.0, c.06/02/2004)

PKGNAME=bios-cmos
PKGVER=1.0
PKGREV=-eg2b
SRCDEP="b/ http://www.ibiblio.org/pub/Linux/system/hardware/bios-cmos-1.0.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
