# 06/02/2006 (EARLIEST v1.2.6, 06/02/2006)

PKGNAME=SDL_mixer
PKGVER=1.2.6
SRCDEP="s/ http://www.libsdl.org/projects/SDL_mixer/release/SDL_mixer-1.2.6.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
