# 2008-06-15 (EARLIEST c. 2008-06-12)

PKGNAME=libXdmcp
PKGVER=1.0.2
PKGREV=
#
SRCDEP1="l/ http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/main/libx/libxdmcp/libxdmcp_1.0.2.orig.tar.gz"
SRCDEP2="l/ http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/main/libx/libxdmcp/libxdmcp_1.0.2-2.diff.gz"
PREFIXES=
#
#DEP:
# # REQ DC: bison
# # REQ DC: flex
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=.
#
PACKAGE=${PKGNAME}-${PKGVER}
