# 20/11/2006 (EARLIEST v2.05a, c.21/10/2002)

PKGNAME=bash
#PKGVER=3.0 (freg-0.7.2-2)
#PKGVER=3.1
#PKGREV=-lfs8
PKGVER=3.2
PKGREV=pl5

SRCDEP1="b/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/bash/bash-${PKGVER}.tar.gz"
SRCDEP2="b/ http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/bash/bash-3.2-patches/bash32-001"
SRCDEP3="b/ http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/bash/bash-3.2-patches/bash32-002"
SRCDEP4="b/ http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/bash/bash-3.2-patches/bash32-003"
SRCDEP5="b/ http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/bash/bash-3.2-patches/bash32-004"
SRCDEP6="b/ http://www.mirrorservice.org/sites/ftp.gnu.org/pub/gnu/bash/bash-3.2-patches/bash32-005"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"

#DEP-FOR-DC: (n)curses

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=.

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
