# 15/12/2003 (EARLIEST v1.0.0, c.24/03/2004)

PKGNAME=sysconf
PKGVER=1.0.0
SRCDEP1="s/ http://outflux.net/software/pkgs/${PKGNAME}/download/${PKGNAME}-${PKGVER}.tar.gz"
PREFIXES=
#
#TCDEP1=
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
