# 2008-08-18 (EARLIEST v1.6.26, c.04/04/2004)

PKGNAME=hdup
PKGVER=1.6.37
#PKGVER=2.0.14
PKGREV=-eg1b
#	http://www.miek.nl/projects/hdup16/previous/hdup-${PKGVER}.tar.bz2
##SRCDEP="h/ http://miek.nl/projects/hdup2/previous/hdup-2.0.14.tar.bz2"
SRCDEP="h/ http://www.mirrorservice.org/sites/www.ibiblio.org/gentoo/distfiles/hdup-1.6.37.tar.gz"
#SRCDEP="h/ http://miek.nl/projects/hdup2/previous/hdup-2.0.14.tar.bz2"
PREFIXES=

#DEP

SRCXPATH=${PKGNAME}16
#SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
