# 06/11/2004 (EARLIEST v2.5.4a, c.04/11/2002)

PKGNAME=flex
PKGVER=2.5.27
PKGREV=-fr1b
SRCDEP="f/ http://kent.dl.sourceforge.net/sourceforge/flex/flex-2.5.27.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
