# 2007-11-25 (EARLIEST v6.12.00, c.2004-01-25)

PKGNAME=tcsh
#PKGVER=6.14.00
PKGVER=6.15.00
PKGREV=
SRCDEP="t/ ftp://ftp.funet.fi/pub/unix/shells/tcsh/tcsh-${PKGVER}.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#TCDEP1=
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
