# 28/11/2005 (EARLIEST v1.6.26, c.04/04/2004)

PKGNAME=hdup
PKGVER=2.0.13
PKGREV=
#	http://www.miek.nl/projects/hdup16/previous/hdup-${PKGVER}.tar.bz2
SRCDEP="h/ http://www.miek.nl/projects/hdup2/previous/hdup-${PKGVER}.tar.bz2"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: (tc-?)glib?
#
#SRCXPATH=${PKGNAME}-${PKGVER}
#SRCXPATH=${PKGNAME}16
SRCXPATH=${PKGNAME}2
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
