# 2008-03-08 (EARLIEST v0.4, 2008-03-08)

PKGNAME=tea-total
PKGVER=0.4
PKGREV=
SRCDEP="t/ http://www.linuxhacker.org/pub/tea-total/tea-total-0.4.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
