# cmos v1.0
# Last modified WmT 2012-04-01
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2012

PKGNAME=cmos
PKGVER=1.0
PKGREV=

BUILD_METHOD=SCRIPT

#SRC1=ftp://ftp.ibiblio.org/pub/micro/pc-stuff/freedos/files/util/system/cmos.zip
SRC1=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/util/system/cmos.zip
