# 20/01/2005 (EARLIEST: v0.1, c.20/01/2005)

PKGNAME=evilbricks
PKGVER=0.1
SRCDEP="e/ http://users.tmok.com/~gauze/stuff/evilbricks-0.1.tgz"
PREFIXES=
#
#DEP-FOR-DC: svgalib
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}
#
PACKAGE=${PKGNAME}-${PKGVER}
