# 15/12/2005 (EARLIEST v0.15.0b, c.15/04/2004)

PKGNAME=libmad
PKGVER=0.15.1b
PKGREV=-eg2c
#	ftp://ftp.mars.org/pub/mpeg/${PKGNAME}-${PKGVER}.tar.gz
SRCDEP="l/ http://kent.dl.sourceforge.net/sourceforge/mad/${PKGNAME}-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
