# coreutils v5.97		STUBS (c) and GPLv2 Wm.Towle 1999-2012
# coreutils v8.13		STUBS (c) and GPLv2 Wm.Towle 1999-2012
# last mod WmT, 2012-12-30	[ since v?.?, c. ????-??-?? ]

PKGNAME=coreutils
#PKGVER=5.97
PKGVER=8.13
PKGREV=

BUILD_METHOD=MAKEFILE

#SRC1=http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/coreutils/coreutils-5.97.tar.bz2
SRC1=http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/coreutils/coreutils-8.13.tar.gz
