# 06/02/2006 (EARLIEST v0.7, 06/02/2006)

PKGNAME=libmodplug
PKGVER=0.7
PKGREV=
SRCDEP="l/ http://www.mirror.ac.uk/mirror/archive.ubuntu.com/ubuntu/pool/main/libm/libmodplug/libmodplug_0.7.orig.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
