# 10/02/2005 (EARLIEST v1.1, c.17/04/2004)

PKGNAME=memtest86+
PKGVER=1.50
#	http://www.memtest.org/download/memtest_source_v1.11.tar.gz
SRCDEP="m/ http://www.memtest.org/download/${PKGVER}/memtest86+-${PKGVER}.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
