# 06/11/2005 (EARLIEST v1.32, c.23/10/2002)

PKGNAME=umsdos_progs
PKGVER=1.32
PKGREV=-fr1a
SRCDEP="u/ http://linux.voyager.hr/umsdos/files/umsdos_progs-1.32.tgz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#TCDEP1=gcc, make, sed
#DEP

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
