# coreutils v5.97		[ since v?.??, c.????-??-?? ]
# last mod WmT, 2009-12-24	[ (c) and GPLv2 1999-2009 ]

PKG_SRC=${SRCDIR}/c/coreutils-${PKG_VER}.tar.bz2

PKG_URLS=http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/coreutils/coreutils-${PKG_VER}.tar.bz2

[ "${BUILD_NTI}" = 'y' ] && DEPS="grep"

#[ "${BUILD_NTI}" = 'y' ] && METHOD=sh
[ "${BUILD_NTI}" = 'y' ] && METHOD=mak
