# 2008-06-08 (EARLIEST v0.9.7b, c.2003-05-28)

PKGNAME=openssl
#PKGVER=0.9.7k
#PKGVER=0.9.7l
#PKGVER=0.9.7m
#	PKGVER=0.9.8e
PKGVER=0.9.8h
PKGREV=
#
SRCDEP="o/ http://www.openssl.org/source/openssl-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC= make ; perl 5
#DEP-FOR-TC= make ; perl 5

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
