# atapicd v2.12
# Last modified WmT 2011-03-10
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2011

PKGNAME=atapicd
PKGVER=2.12
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://www.hiren.info/download/dos-files/atapicd.sys
