# 2008-03-02 (EARLIEST v4.1, c.2002-10-09)

PKGNAME=findutils
#PKGVER=4.2.23
#PKGVER=4.2.28	(freg 0.6.9)
#PKGVER=4.2.29
#PKGVER=4.3.5
#PKGVER=4.2.32
PKGVER=4.2.33
PKGREV=
SRCDEP="f/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/findutils/findutils-${PKGVER}.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-TC: patch
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
