# 14/12/2005 (EARLIEST v1.7, c.10/04/2004)

PKGNAME=cheetah
PKGVER=1.8
PKGREV=-eg1b
SRCDEP="c/ http://www.neuro-tech.net/files/cheetah-${PKGVER}.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
