# 2008-04-26 (prev 2007-04-04)

PKGNAME=eg-progs
PKGVER=0.9.4
PKGREV=
SRCDEP="e/ file://${TOPLEV}/config/package/e/${PKGNAME}/${PKGVER}/${PKGNAME}-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
