# 2008-06-08 (EARLIEST c. 2008-06-08)

PKGNAME=xorg-x11proto-xext
PKGVER=7.0.2
PKGREV=
#
SRCDEP="x/ http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/main/x/x11proto-xext/x11proto-xext_7.0.2.orig.tar.gz"
PREFIXES=
#
#DEP:
# # REQ DC: bison
# # REQ DC: flex
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=xextproto-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
