# 26/11/2006

PKGNAME=m4
#PKGVER=1.4.1, 1.4.3
#PKGVER=1.4.4
#PKGREV=-fr1a
#PKGVER=1.4.5 (freg-0.9.1)
#PKGVER=1.4.6
#PKGVER=1.4.7
PKGVER=1.4.8
PKGREV=
#	ftp://ftp.seindal.dk/gnu/m4-${PKGVER}.tar.gz	# v1.4[a-z]
SRCDEP="m/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/m4/m4-${PKGVER}.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-TC: (native)kernel-headers

SRCXPATH=${PKGNAME}-${PKGVER}

#PACKAGE=${PKGNAME}-${PKGVER}
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
