# 2008-01-05 (EARLIEST v4.0.7, c.2003-12-14)

PKGNAME=zsh
#PKGVER=4.2.6 (bldrg 0.9.0pre1)
PKGVER=4.2.7
#PKGVER=4.3.2
#PKGVER=4.3.4
#	ftp://ftp.zsh.org/pub/zsh-${PKGVER}.tar.bz2
#	http://prdownloads.sourceforge.net/zsh/zsh-${PKGVER}.tar.bz2"
#SRCDEP="z/ http://zsh.open-mirror.com//zsh-4.3.2.tar.bz2"
SRCDEP="z/ ftp://ftp.fu-berlin.de/pub/unix/shells/zsh/zsh-${PKGVER}.tar.gz"
PREFIXES=

#DEP-FOR-DC: ncurses

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}
