# 13/07/2007 (EARLIEST v0.9, 13/12/2006)

PKGNAME=fdisk
#PKGVER=0.9
#PKGVER=0.9.3
#PKGVER=0.9.4
PKGVER=1.0
PKGREV=
SRCDEP="f/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/fdisk/fdisk-${PKGVER}.tar.bz2"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
