# 17/06/2006

PKGNAME=busybox
PKGVER=0.60.5
PKGREV=-fr1a
#SRCDEP="b/ http://www.busybox.net/downloads/${PKGNAME}-${PKGVER}.tar.bz2"
SRCDEP="b/ http://www.busybox.net/downloads/legacy/busybox-0.60.5.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: [m]awk, install <sed, findutils, grep, tar, gzip, which>

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
