# 2008-04-12 (EARLIEST v1.2f, c.2004-04-22)

PKGNAME=autossh
#PKGVER=1.3
#PKGREV=-eg1b
#PKGVER=1.4 (frlx-0.6.8pre1)
PKGVER=1.4b
PKGREV=
SRCDEP="a/ http://www.harding.motd.ca/autossh/autossh-${PKGVER}.tgz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: which

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
