# 06/10/2005 (EARLIEST v1.3.15, c.16/10/2004)

PKGNAME=glib
PKGVER=2.8.3
PKGREV=
SRCDEP="g/ http://ftp.gnome.org/pub/gnome/sources/glib/2.8/glib-2.8.3.tar.bz2"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-TH: autoconf >= 2.54, pkg-config
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
