# nui-bzip2 v0.9.0b		STUBS (c) and GPLv2 Wm.Towle 1999-2010
# last mod WmT, 2010-12-27	[ since v0.9.0b, c.????-??-?? ]

PKGNAME=nui-bzip2
PKGVER=0.9.0b
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://ftp.no.debian.org/pub/linux/slackware/slackware-3.9/slakware/a1/bzip2.tgz
