# 2007-12-09 (EARLIEST v1.23, 2007-12-19)

PKGNAME=chrony
PKGVER=1.23
PKGREV=
SRCDEP="c/ http://chrony.sunsite.dk/download/chrony-1.23.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
