# 2008-06-21 (EARLIEST c. 2008-06-21)

PKGNAME=libX11
PKGVER=1.1.4
PKGREV=
#
SRCDEP="l/ http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/main/libx/libx11/libx11_1.1.4.orig.tar.gz"
PREFIXES=
#
#DEP:
# # REQ DC: bison
# # REQ DC: flex
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
