# 2008-11-02 (SINCE v4.0.1, c.2008-09-01)

PKGNAME=dhcpcd
#	PKGVER=4.0.1
#	PKGVER=4.0.2
#	PKGVER=4.0.3
PKGVER=4.0.4
PKGREV=
#	SRCDEP="d/ http://roy.marples.name/dhcpcd/dhcpcd-${PKGVER}.tar.bz2"
SRCDEP="d/ http://roy.marples.name/downloads/dhcpcd/dhcpcd-4.0.4.tar.bz2"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
