# 2008-01-19 (EARLIEST v5.6.1, c.2003-03-19)

PKGNAME=perl
#PKGVER=5.8.7 (since freg-0.6.6-2)
PKGVER=5.10.0
PKGREV=
#	http://www.cpan.org/src/perl-${PKGVER}.tar.bz2
#SRCDEP="p/ http://ftp.funet.fi/pub/CPAN/src/perl-${PKGVER}.tar.bz2"
SRCDEP="p/ http://www.mirrorservice.org/sites/ftp.funet.fi/pub/languages/perl/CPAN/authors/id/R/RG/RGARCIA/perl-5.10.0.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"

#TCDEP1= which cmp ; which awk
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
