# sys-freedos vUNKNOWN		STUBS (c) and GPLv2 Wm. Towle 1999-2010
# last modified			2010-11-22 (since 2009-01-13)

PKGNAME=sys-freedos
PKGVER=unknown
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/dos/kernel/sys-freedos-linux/sys-freedos-linux.zip
#SRCXPATH=${PKGNAME}-${PKGVER}
