# 16/01/2006 (EARLIEST v2.2, c.06/02/2004)

PKGNAME=dnsmasq
#PKGVER=2.20
#PKGVER=2.25 (frlx 0.6.6-2)
PKGVER=2.27
PKGREV=
SRCDEP="d/ http://www.thekelleys.org.uk/dnsmasq/dnsmasq-${PKGVER}.tar.gz"
PREFIXES=
#
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
