# 2007-09-22

PKGNAME=jpig
PKGVER=1.0
PKGREV=
# http://dione.ids.pl/~lcamtuf/jpig.tgz
SRCDEP="j/ http://lcamtuf.coredump.cx/soft/jpig.tgz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
