# nansi v4.0d
# Last modified WmT 2011-10-22
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2011

PKGNAME=nansi
PKGVER=4.0d
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/dos/nansi/4.x/nansi40d.zip
