# 04/03/2004 (EARLIEST v0.1, c.17/11/2003)

PKGNAME=ocd
PKGVER=0.1
SRCDEP="o/ http://kent.dl.sourceforge.net/sourceforge/ojnk/ocd-0.1.tar.gz"
PREFIXES=

#DEP

#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=ocd-0806

PACKAGE=${PKGNAME}-${PKGVER}
