# 13/03/2005 (EARLIEST v0.9.9, since 26/10/2002)

PKGNAME=uClibc
RELVER=0.9.20
PKGVER=${RELVER}-2g
SRCDEP="u/ http://www.uclibc.org/downloads/old-releases/uClibc-${RELVER}.tar.bz2"
PREFIXES="RUNTIME WRAPPERS"
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-TC: awk; tar; find; <linux2.0headers>; which
#
SRCXPATH=${PKGNAME}-${RELVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
RUNTIME_PACKAGE=${PKGNAME}-rt-${PKGVER}
WRAPPERS_PACKAGE=${PKGNAME}-${PKGVER}
