# 2008-11-06 (EARLIEST v4.0.7, c.2003-12-14)

PKGNAME=zsh
#PKGVER=4.2.5
#PKGVER=4.2.7
#PKGVER=4.3.2
#PKGVER=4.3.6
PKGVER=4.3.9
PKGREV=
#
#SRCDEP="z/ ftp://ftp.fu-berlin.de/pub/unix/shells/zsh/zsh-${PKGVER}.tar.gz"
SRCDEP="z/ http://dfn.dl.sourceforge.net/sourceforge/zsh/zsh-${PKGVER}.tar.bz2"
PREFIXES=

#DEP-FOR-DC: ncurses

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
