# 2008-09-28 (EARLIEST v1.76, c.2002-10-31)

PKGNAME=syslinux
#PKGVER=2.13
#PKGREV=-eg1d
#	PKGVER=3.63
#	PKGVER=3.70
#	PKGVER=3.71
PKGVER=3.72
PKGREV=
#SRCDEP="s/ http://www.kernel.org/pub/linux/utils/boot/syslinux/Old/syslinux-${PKGVER}.tar.bz2"
SRCDEP="s/ http://www.kernel.org/pub/linux/utils/boot/syslinux/syslinux-${PKGVER}.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: (tc)perl

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
