# 30/05/2007 (v2.7.2.3 since 31/10/2003, v2.8.1 c.17/03/2003, v2.95.3 since 26/04/2004, v3.3.x since 26/04/2004, v3.4.x since 03/06/2004)

PKGNAME=sanitc-host-gcc
PKGVER=4.1.2
PKGREV=
SRCDEP1="g/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/gcc/gcc-${PKGVER}/gcc-${PKGVER}.tar.bz2"
#SRCDEP2="g/ http://www.mirrorservice.org/sites/www.ibiblio.org/gentoo/distfiles/gcc-4.1.2-uclibc-patches-1.0.tar.bz2"
SRCDEP2="g/ http://cross-lfs.org/files/packages/embedded-0.0.1/gcc-4.1.2-uclibc-1.patch"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"

#DEP-FOR-TC: diffutils, sanitc-host-binutils

#SRCXPATH=gcc-${PKGVER}
SRCXPATH=.

PACKAGE=${PKGNAME}-${PKGVER}
