# 12/07/2006 (EARLIEST v1.0.0, c.09/10/2005)

PKGNAME=slidentd
PKGVER=1.0.0
PKGREV=
#SRCDEP="s/ http://www.uncarved.com/slidentd/slidentd-1.0.0.tar.gz"
SRCDEP="s/ http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/universe/s/slidentd/slidentd_1.0.0.orig.tar.gz"
PREFIXES=''
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#SRCXPATH=${PKGNAME}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
