# 29/12/2004 (EARLIEST v0.12, c.31/03/2004)

PKGNAME=ttywatch
PKGVER=0.14
SRCDEP="t/ http://www.danlj.org/mkj/ttywatch/ttywatch-${PKGVER}.tar.bz2"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: popt, glib
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
