# 2007-10-01 (EARLIEST v0.8a, c.2004-06-29)

PKGNAME=libevent
#PKGVER=1.3b
#PKGVER=1.3c
#PKGVER=1.3d
PKGVER=1.3e
PKGREV=
SRCDEP="l/ http://www.monkey.org/~provos/libevent-${PKGVER}.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
