# unzip v5.51
# Last modified WmT 2011-03-04
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2011

PKGNAME=unzip
PKGVER=5.51
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/util/file/info-zip/unzip/old/unz551x3.exe
