# unzip v5.50
# Last modified WmT 2011-03-14
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2011

PKGNAME=unzip
PKGVER=5.50
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=ftp://ftp.sac.sk/pub/sac/pack/unz550x.exe
