# unzip v6.0			STUBS (c) and GPLv2 Wm. Towle 1999-2010
# last modified			2010-11-22 (since v5.50, c.2003-01-09)

PKGNAME=unzip
#PKGVER=5.52
PKGVER=6.0
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=ftp://ftp.info-zip.org/pub/infozip/src/unzip60.zip
#SRC1=http://kent.dl.sourceforge.net/sourceforge/infozip/${PKGNAME}552.tar.gz
##SOURCE2="u/ http://www.linuxfromscratch.org/patches/downloads/unzip/unzip-5.52-PIC-2.patch"
##SOURCE3="u/ http://www.linuxfromscratch.org/patches/downloads/unzip/unzip-5.52-dont_make_noise-1.patch"
##SOURCE4="u/ http://www.linuxfromscratch.org/patches/downloads/unzip/unzip-5.52-fix_Makefile-1.patch"
##SOURCE5="u/ http://www.linuxfromscratch.org/patches/downloads/unzip/unzip-5.52-fix_libz-1.patch"
##SOURCE6="u/ http://www.linuxfromscratch.org/patches/downloads/unzip/unzip-5.52-security_fix-1.patch"
##SOURCE7="u/ http://www.linuxfromscratch.org/patches/downloads/unzip/unzip-5.52-security_fix-2.patch"
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}60
