# diffutils v2.8.7		[ since v2.8.1, c.2002-10-09 ]
# last mod WmT, 2009-09-27	[ (c) and GPLv2 1999-2009 ]

PKG_SRC=${SRCDIR}/d/diffutils-${PKG_VER}.tar.gz

PKG_URLS=http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/diffutils/diffutils-${DIFFUTILS_VER}.tar.gz

# actually has a 'cmp' dependency, but we can ignore it
# [ "${BUILD_NPI}" = 'y' ] && DEPS="libc ldso"

#[ "${BUILD_NTI}" = 'y' ] && METHOD=sh
[ "${BUILD_NTI}" = 'y' ] && METHOD=mak
