# 2008-02-04 (EARLIEST v3.9.9, c.2003-05-28)

PKGNAME=mtools
PKGVER=3.9.9
PKGREV=-eg2d
SRCDEP="m/ http://mtools.linux.lu/mtools-${PKGVER}.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
