# 2008-03-16 (EARLIEST v0.59r, c.2003-07-05)

PKGNAME=mpg123
#PKGVER=0.65	(frlx-0.9.3)
#PKGVER=0.68
#PKGVER=1.3.0
PKGVER=1.3.1
PKGREV=
#SRCDEP="m/ http://kent.dl.sourceforge.net/sourceforge/mpg123/mpg123-0.68.tar.bz2"
SRCDEP="m/ http://mpg123.org/download/mpg123-${PKGVER}.tar.bz2"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
