# 31/07/2006 (EARLIEST v5.4.0, c.02/01/2005)

PKGNAME=sara
#PKGVER=5.4.0
#PKGREV=-eg1b
PKGVER=5.4.0c
#PKGVER=6.0.7f
#PKGVER=7.0.2a
PKGREV=
SRCDEP="s/ http://www-arc.com/sara/downloads/sara-${PKGVER}.tgz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
