# 16/03/2006 (EARLIEST v6.7.0, c.16/04/2004)

PKGNAME=xorg-server
#PKGVER=6.8.0
#	TODO: v6.9? (1.0.1 is 7.0)
PKGVER=1.0.1
PKGREV=
##	...seven files total
#SRCDEP1="x/ http://freedesktop.org/%7Exorg/${PKGNAME}R${PKGVER}/src/${PKGNAME}R${PKGVER}-src1.tar.gz"
#SRCDEP2="x/ http://freedesktop.org/%7Exorg/${PKGNAME}R${PKGVER}/src/${PKGNAME}R${PKGVER}-src2.tar.gz"
#SRCDEP3="x/ http://freedesktop.org/%7Exorg/${PKGNAME}R${PKGVER}/src/${PKGNAME}R${PKGVER}-src3.tar.gz"
SRCDEP="x/ http://xorg.freedesktop.org/releases/X11R7.0/src/xserver/xorg-server-1.0.1.tar.bz2"
PREFIXES=
#
#DEP:
# # REQ DC: bison
# # REQ DC: flex
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
