# label v1.4b
# Last modified WmT 2011-03-03
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2011

PKGNAME=label
PKGVER=1.4b
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/dos/label/label14b.zip
