# 2007-09-22 (EARLIEST v4.0.7, c.2003-12-14)

PKGNAME=zsh
#PKGVER=4.2.6 (bldrg 0.9.0pre1)
PKGVER=4.3.2
#	ftp://ftp.zsh.org/pub/zsh-${PKGVER}.tar.bz2
#	http://prdownloads.sourceforge.net/zsh/zsh-${PKGVER}.tar.bz2"
SRCDEP="z/ http://www.mirrorservice.org/sites/www.ibiblio.org/gentoo/distfiles/zsh-4.3.2.tar.bz2"
PREFIXES=

#DEP-FOR-DC: ncurses

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}
