# 2007-11-19 (EARLIEST v1.9.1, c.2003-02-08)

PKGNAME=libiconv
#PKGVER=1.9.2
#PKGREV=-fr1a
#PKGVER=1.11
PKGVER=1.12
PKGREV=
#SRCDEP="l/ http://www.mirror.ac.uk/mirror/ftp.gnu.org/gnu/libiconv/libiconv-1.9.2.tar.gz"
SRCDEP="l/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/libiconv/libiconv-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#TCDEP=
#RTDEP=
SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
