# kstc-kgcc v2.95.3-2		[ since v2.7.2.3, c.????-??-?? ]
# last mod WmT, 2010-01-27	[ (c) and GPLv2 1999-2010 ]

PKG_SRC=${SRCDIR}/g/gcc-2.95.3.tar.gz

PKG_URLS=http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/gcc/gcc-2.95.3.tar.gz

if [ "${PKG_VER}" = '2.95.3-2' ] ; then
	PKG_PATCHES=${SRCDIR}/g/gcc-${PKG_VER}.patch
	PKG_URLS="${PKG_URLS} http://www.linuxfromscratch.org/patches/downloads/gcc/gcc-${PKG_VER}.patch"
fi

# soft dependency on diffutils (for configure)
[ "${BUILD_CTI}" = 'y' ] && DEPS="kstc-binutils"

#[ "${BUILD_CTI}" = 'y' ] && METHOD=sh
[ "${BUILD_CTI}" = 'y' ] && METHOD=mak
