# 22/07/2006 (EARLIEST v?.??, 06/02/2006)

PKGNAME=rname
PKGVER=1.0
PKGREV=
SRCDEP="r/ http://devel.ringlet.net/sysutils/rname/rname-1.0.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
