# 13/03/2005 (EARLIEST v0.1, c.13/03/2005)

PKGNAME=memtee
PKGVER=0.1
PKGREV=
SRCDEP="m/ http://www.vanheusden.com/memtee/memtee-0.1.tgz"
PREFIXES=
#
#DEP=
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
