# 2008-02-04 (EARLIEST v0.8.2, c.2005-07-04)

PKGNAME=rsyslog
#PKGVER=1.0.4
#PKGVER=1.0.5
#PKGVER=1.12.1 (-eg1b, frlx-0.9.0pre1)
#PKGVER=1.12.3
#PKGVER=1.16.0
#PKGVER=1.19.0
#PKGVER=1.19.1
#PKGVER=1.19.3
#PKGVER=1.19.7
#PKGVER=1.19.10
#PKGVER=1.19.11
#PKGVER=1.19.12
#PKGVER=1.20.1
#PKGVER=1.21.2
#PKGVER=2.0.0
#PKGVER=3.10.1
#PKGVER=2.0.1
PKGVER=3.10.3
PKGREV=
#	http://www.monitorware.com/rsyslog/rsyslog-${PKGVER}.tar.gz
#	http://download.adiscon.com/rsyslog/rsyslog-${PKGVER}.tar.gz
SRCDEP="r/ http://download.rsyslog.com/rsyslog/rsyslog-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
