# 18/04/2004

PKGNAME=linux2.0headers
PKGVER=2.0.40
#SRCDEP="l/ http://www.mirror.ac.uk/mirror/ftp.kernel.org/pub/linux/kernel/v2.0/linux-${PKGVER}.tar.bz2"
SRCDEP="l/ http://www.mirrorservice.org/sites/ftp.kernel.org/pub/linux/kernel/v2.0/linux-${PKGVER}.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-TH: eg-tc-init
#DEP TC: <make> <patch> <grep>

#SRCXPATH=linux
SRCXPATH=linux-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}
