# 17/06/2006 (EARLIEST v0.2, c.08/05/2004)

PKGNAME=elhttp
PKGVER=0.22
PKGREV=
#SRCDEP="e/ http://www.cr0.net:8040/code/network/elhttp-${PKGVER}.tgz"
SRCDEP="e/ http://downloads.openwrt.org/sources/elhttp-0.22.tgz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
