# 2008-03-09 (EARLIEST v1.76, c.2002-10-31)

PKGNAME=syslinux
PKGVER=2.13
PKGREV=-eg1c
#PKGVER=3.62
#PKGREV=
#SRCDEP="s/ http://www.kernel.org/pub/linux/utils/boot/syslinux/syslinux-${PKGVER}.tar.bz2"
SRCDEP="s/ http://www.kernel.org/pub/linux/utils/boot/syslinux/Old/syslinux-${PKGVER}.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: (tc)perl

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
