# 19/12/2005 (EARLIEST v2.0, c.27/05/2004)

PKGNAME=etherdump
PKGVER=2.01
PKGREV=-eg1c
SRCDEP="e/ http://heanet.dl.sourceforge.net/sourceforge/psydev/etherdump-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
