# 2007-09-22 (EARLIEST v0.12.3, c.2005-04-05)

PKGNAME=pen
#PKGVER=0.16.0 (PREVIOUS)
#PKGVER=0.17.0 (frlx-0.9.3)
PKGVER=0.17.2
PKGREV=
SRCDEP="p/ http://siag.nu/pub/pen/pen-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
