# sys v2.5
# last modified WmT 2011-01-06
# STUBS scripts and configurations (c) and GPLv2 Wm. Towle 1999-2011

PKGNAME=sys
PKGVER=2.5
PKGREV=

BUILD_METHOD=SCRIPT

# ideally retrieved from corresponding kernel package :(
SRC1=http://www.ibiblio.org/pub/micro/pc-stuff/freedos/files/fdupdate/sys.zip
