# 15/12/2005 (EARLIEST v2.0, c.24/09/2005)

PKGNAME=lazyread
PKGVER=2.0
PKGREV=-eg1b
SRCDEP="l/ http://kent.dl.sourceforge.net/sourceforge/lazyread/lazyread-2.0.tar.gz"
#PREFIXES="MINIMAL UTILS"

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
