# 2008-01-05 (EARLIEST v1.5l, c.2003-05-19)

PKGNAME=man
#PKGVER=1.6c (freg-0.6.6-2)
#PKGVER=1.6d
#PKGVER=1.6e
PKGVER=1.6f
PKGREV=
#SRCDEP="m/ ftp://ftp.kernel.org/pub/linux/utils/man/man-${PKGVER}.tar.bz2"
SRCDEP="m/ http://primates.ximian.com/~flucifredi/man/man-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
