# 2008-04-05 (EARLIEST v0.9.9, since 2002-10-26)

PKGNAME=sanitc-uClibc-dev
#PKGVER=0.9.28
#PKGREV=-lch1b
PKGVER=0.9.28.3
PKGREV=
SRCDEP1="u/ http://www.uClibc.org/downloads/uClibc-${PKGVER}.tar.bz2"
SRCDEP2="u/ http://www.mirrorservice.org/sites/www.ibiblio.org/gentoo/distfiles/uClibc-0.9.28.3-patches-1.3.tar.bz2"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-TC: awk; tar; <linux2.0headers>; which
#DEP-FOR-TC: findutils (0.9.22)
#DEP-FOR-?: install
#
#SRCXPATH=uClibc-${PKGVER}
SRCXPATH=.
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
