# 10/07/2005 (EARLIEST v3.6.1p2, c.05/06/2003)

PKGNAME=openssh
PKGVER=4.1p1
PKGREV=
SRCDEP="o/ ftp://ftp.openbsd.org/pub/OpenBSD/OpenSSH/portable/openssh-${PKGVER}.tar.gz"
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#SRCXPATH=${PKGNAME}-${RELVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
