# 2008-06-01 (EARLIEST 1.3.0, c.2008-06-01)

PKGNAME=xserver-xorg-video-vesa
PKGVER=1.3.0
PKGREV=
#	http://xorg.freedesktop.org/archive/X11R7.3/src/everything/xorg-cf-files-1.0.2.tar.bz2
SRCDEP="x/ http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/main/x/xserver-xorg-video-vesa/xserver-xorg-video-vesa_1.3.0.orig.tar.gz"
PREFIXES=
#
#DEP:
# # REQ DC: bison
# # REQ DC: flex
#
SRCXPATH=${PKGNAME}-${PKGVER}
#SRCXPATH=xorg-server-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
