# 15/12/2005 (EARLIEST v0.64, c.12/06/2003)

PKGNAME=linuxsms
PKGVER=0.77
PKGREV=-eg1b
SRCDEP="l/ http://kent.dl.sourceforge.net/sourceforge/${PKGNAME}/${PKGNAME}-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP= 

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
