# 09/07/2006 (EARLIEST v?.??, 06/02/2006)

PKGNAME=bsd-games
PKGVER=2.13
PKGREV=
SRCDEP="b/ http://www.mirror.ac.uk/mirror/ftp.slackware.com/slackware-10.1/source/y/bsd-games/bsd-games-2.13.tar.gz"
#URL=http://www.mirror.ac.uk/mirror/ftp.slackware.com/slackware-10.1/source/y/bsd-games/bsd-games-login-fortune.csh
#URL=http://www.mirror.ac.uk/mirror/ftp.slackware.com/slackware-10.1/source/y/bsd-games/bsd-games-login-fortune.sh
#URL=http://www.mirror.ac.uk/mirror/ftp.slackware.com/slackware-10.1/source/y/bsd-games/fortunes-linuxcookie.tar.gz
#URL=http://www.mirror.ac.uk/mirror/ftp.slackware.com/slackware-10.1/source/y/bsd-games/fortunes-o.tar.gz
#URL=http://www.mirror.ac.uk/mirror/ftp.slackware.com/slackware-10.1/source/y/bsd-games/hangman-words.gz
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#SRCXPATH=.
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
