# 22/02/2007 (EARLIEST v22.5.5-beta2, c.12/06/2003)

PKGNAME=lilo
##PKGVER=22.7.1 (frlx-0.6.6)
#PKGVER=22.7.2 (frlx-0.6.8pre2)
#PKGREV=-fr1b
#PKGVER=22.7.3
PKGVER=22.8
PKGREV=
#	http://home.san.rr.com/johninsd/pub/linux/lilo/obsolete/lilo-22.6.1.src.tar.gz"
#	http://home.san.rr.com/johninsd/pub/linux/lilo/beta/lilo-${PKGVER}.src.tar.gz"
#	http://www.mirror.ac.uk/mirror/ftp.debian.org/debian/pool/main/l/lilo/lilo_22.7.3.orig.tar.gz
SRCDEP="l/ http://home.san.rr.com/johninsd/pub/linux/lilo/lilo-${PKGVER}.src.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: bin86

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
