# 21/09/2006 (EARLIEST v0.6, c.12/05/2003)

PKGNAME=cabextract
PKGVER=1.2
PKGREV=
SRCDEP="c/ http://www.kyz.uklinux.net/downloads/cabextract-${PKGVER}.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
