# 2008-09-01 (SINCE v4.0.1, c.2008-09-01)

PKGNAME=dhcpcd
PKGVER=4.0.1
PKGREV=
SRCDEP="d/ http://roy.marples.name/dhcpcd/dhcpcd-4.0.1.tar.bz2"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
