# 12/07/2006 (EARLIEST v2.3, c.12/06/2003)

PKGNAME=zip
#PKGVER=2.31
#PKGREV=-eg1b
PKGVER=2.32
PKGREV=
#SRCDEP1="z/ ftp://ftp.mirrorservice.org/sites/ftp.info-zip.org/pub/infozip/src/zip232.tar.gz"
SRCDEP1="z/ http://www.mirrorservice.org/sites/www.ibiblio.org/gentoo/distfiles/zip232.tar.gz"
#SRCDEP2="z/ ftp://ftp.mirrorservice.org/sites/ftp.info-zip.org/pub/infozip/src/zcrypt29.zip"
#SRCDEP2="z/ http://www.mirrorservice.org/sites/www.ibiblio.org/gentoo/distfiles/zcrypt29.zip"
SRCDEP2="z/ http://www.mirrorservice.org/sites/download.sourceforge.net/pub/sourceforge/f/fi/fink/direct_download/source/zcrypt29.zip"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}
#SRCXPATH=${PKGNAME}
#SRCXPATH=.

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
