# lha v1.14i		STUBS (c) and GPLv2 Wm. Towle 1999-2010
# last modified		2011-03-02 [ since v1.14i, c.2003-08-04 ]

PKGNAME=lha
PKGVER=1.14i
PKGREV=

BUILD_METHOD=SCRIPT

SRC1=http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/multiverse/l/lha/lha_1.14i.orig.tar.gz
SRCXPATH=${PKGNAME}-${PKGVER}
