# 17/10/2004 (EARLIEST v6.2, c.05/06/2003)

PKGNAME=vim
PKGVER=6.4
PKGREV=
SRCDEP="v/ ftp://ftp.vim.org/pub/vim/unix/vim-${PKGVER}.tar.bz2"
PREFIXES=
#
#DEP
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}`echo ${PKGVER} | sed 's/\.//'`
#
PACKAGE=${PKGNAME}-${PKGVER}${PRGREV}
