# 2008-08-18 (EARLIEST v5.2, c.08/11/2002)

PKGNAME=hdparm
#PKGVER=5.8	(previous stable)
#PKGVER=6.1	(previous devel)
#PKGVER=6.6
PKGVER=6.9
PKGREV=
#	http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/main/h/hdparm/hdparm_5.8.orig.tar.gz
#	http://kent.dl.sourceforge.net/sourceforge/hdparm/hdparm-${PKGVER}.tar.gz
SRCDEP="h/ http://www.mirrorservice.org/sites/download.sourceforge.net/pub/sourceforge/h/hd/hdparm/hdparm-6.9.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
