# hb_qdul-gcc v4.3.6	    	STUBS (c) and GPLv2 1999-2014
# last modified			2014-05-09

PKGNAME=hb_qdul-gcc
PKGVER=4.3.6
#PKGVER=4.4.7
PKGREV=

BUILD_METHOD=MAKEFILE

SRC1=http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/gcc/gcc-${PKGVER}/gcc-core-${PKGVER}.tar.bz2
SRC2=http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/gmp/gmp-4.3.2.tar.bz2
SRC3=http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/mpfr/mpfr-2.4.2.tar.bz2
