# hb_qdul-gcc v4.4.7	    	STUBS (c) and GPLv2 1999-2012
# last modified			2012-07-17

PKGNAME=hb_qdul-gcc
#PKGVER=4.3.6
PKGVER=4.4.7
PKGREV=

BUILD_METHOD=MAKEFILE

SRC1=http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/gcc/gcc-4.4.7/gcc-core-4.4.7.tar.bz2
SRC2=http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/gmp/gmp-4.3.2.tar.bz2
SRC3=http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/mpfr/mpfr-2.4.2.tar.bz2
