# 29/02/2004 (EARLIEST v0.9.19, c.05/06/2003)

PKGNAME=tcc
PKGVER=0.9.20
SRCDEP="t/ http://fabrice.bellard.free.fr/${PKGNAME}/${PKGNAME}-${PKGVER}.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
