# 10/02/2005 (EARLIEST v0.7, c.01/09/2003)

PKGNAME=pdc
PKGVER=0.9
SRCDEP="p/ http://www.redfelineninja.dsl.pipex.com/software/pdc-0.9.tar.gz"
#PREFIXES="MINIMAL UTILS"

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: bison, readline

SRCXPATH=${PKGNAME}-${PKGVER}
#SRCXPATH=${PKGNAME}

PACKAGE=${PKGNAME}-${PKGVER}
