# 2008-01-05 (EARLIEST v0.3.4, 2008-01-05)

PKGNAME=vitetris
PKGVER=0.3.4
PKGREV=
SRCDEP="v/ http://victornils.net/tetris/vitetris-0.3.4.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
