# 17/12/2005 (EARLIEST v0.2.12, c.23/03/2004)

PKGNAME=patchutils
PKGVER=0.2.30
PKGREV=-eg1b
#	http://cyberelk.net/tim/data/${PKGNAME}/stable/${PKGNAME}-${PKGVER}.tar.gz
SRCDEP="p/ http://cyberelk.net/tim/data/patchutils/stable/patchutils-0.2.30.tar.bz2"
PREFIXES=

#DEP-FOR-RT: bash

SRCXPATH=${PKGNAME}-${PKGVER}
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
