# 15/12/2005 (EARLIEST v1.4, c.23/10/2004)

PKGNAME=lget
PKGVER=1.5
PKGREV=-eg1c
#	http://heanet.dl.sourceforge.net/sourceforge/leahhttpd/lget-${PKGVER}.tar.bz2
SRCDEP="l/ http://heanet.dl.sourceforge.net/sourceforge/leahhttpd/lget-${PKGVER}.tar.gz"
PREFIXES=''

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
