# 17/12/2005 (EARLIEST v1.2, c.22/11/2003)

PKGNAME=uberkey
PKGVER=1.2
PKGREV=-eg2b
SRCDEP="u/ http://www.linuks.mine.nu/${PKGNAME}/${PKGNAME}-${PKGVER}.tar.bz2"
PREFIXES=

#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
