# 07/05/2006 (EARLIEST v0.1, c.30/01/2004)

PKGNAME=sysfence
#PKGVER=0.15 (previous - frlx-0.6.6-2 or sooner)
PKGVER=0.16
PKGREV=
SRCDEP="s/ http://kent.dl.sourceforge.net/sourceforge/sysfence/sysfence-${PKGVER}.tar.gz"
PREFIXES=
#
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
