# 18/07/2007 (EARLIEST v0.3, 14/11/2004)

PKGNAME=eg-tc-init
PKGVER=0.5.5
PKGREV=-eg1c
#SRCDEP=NONE
SRCDEP="e/ file://${TOPLEV}/config/package/e/eg-tc-init/${PKGVER}${PKGREV}/${PKGNAME}-${PKGVER}${PKGREV}.tgz"
PREFIXES=
#
DEP_TC_HOST="/bin/tar"
#DEP
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=build/toolchain
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
