# 10/02/2005 (EARLIEST v1.0, c.15/07/2003)

PKGNAME=smallvga-pong
PKGVER=1.0
PKGREV=-2
SRCDEP="s/ http://kent.dl.sourceforge.net/sourceforge/orangelin/smallvga-${PKGVER}.tar.gz"

PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=smallvga-${PKGVER}/pong
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
