# 16/07/2007 (EARLIEST v10.6, c.26/03/2004)

PKGNAME=mailx
#PKGVER=11.25 (freg-0.7.7-2)
#PKGREV=-eg1b
#PKGVER=12.1 (frlx-0.6.8)
#PKGVER=12.2
PKGVER=12.3
PKGREV=
SRCDEP="m/ http://kent.dl.sourceforge.net/sourceforge/heirloom/mailx-${PKGVER}.tar.bz2"
PREFIXES=

#DEP-FOR-DC: openssl
#DEP-FOR-RT: openssl

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
