# 05/02/2005 (EARLIEST v0.15, 05/02/2006)

PKGNAME=modplugplay
PKGVER=1.0
PKGREV=
SRCDEP="m/ http://www.linuks.mine.nu/modplugplay/modplugplay-1.0.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
