# 2007-08-06 (EARLIEST v0.3, 2007-03-05)

PKGNAME=ncdu
#PKGVER=0.3 (frlx-0.6.10)
#PKGVER=1.0
#PKGVER=1.1
#PKGVER=1.2
PKGVER=1.3
PKGREV=
SRCDEP="n/ http://dev.yorhel.nl/download/ncdu-${PKGVER}.tar.gz"
PREFIXES=

#DEP-FOR-TC: openssl, ncurses

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
