# 13/12/2005 (EARLIEST v5.0, c.06/04/2003)

PKGNAME=coreutils
#PKGVER=5.2.1
PKGVER=5.93
PKGREV=-eg1b
#	ftp://ftp.gnu.org/gnu/coreutils/coreutils-${PKGVER}.tar.bz2
#SRCDEP="c/ http://www.mirror.ac.uk/mirror/ftp.gnu.org/gnu/coreutils/coreutils-5.93.tar.bz2"
SRCDEP="c/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/coreutils/coreutils-5.93.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
