# 2007-12-02 (EARLIEST v4.08, c.2004-03-15)

PKGNAME=linux_logo
#PKGVER=4.08
#PKGREV=-eg1b
PKGVER=4.14
#PKGVER=5.0
PKGREV=-fr1a
SRCDEP="l/ http://www.deater.net/weave/vmwprod/linux_logo/linux_logo-${PKGVER}.tar.gz"
PREFIXES=

#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
