# mawk v1.3.4			STUBS (c) and GPLv2 1999-2012
# last modified			2014-05-02

PKGNAME=mawk
PKGVER=1.3.4
PKGREV=

BUILD_METHOD=MAKEFILE

#SRC1=http://SERVER/PATH/mawk-${PKGVER}.tgz
SRC1=ftp://invisible-island.net/mawk/mawk-1.3.4.tgz
