# 24/08/2005 (EARLIEST v1.1.4, c. 03/06/2003)

PKGNAME=zlib
PKGVER=1.2.3
PKGREV=
#	http://www.zlib.net/zlib-${PKGVER}.tar.gz
#	http://www.zlib.net/zlib-${PKGVER}.tar.bz2
SRCDEP="z/ http://kent.dl.sourceforge.net/sourceforge/libpng/zlib-1.2.3.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
