# 14/12/2005 (EARLIEST v0.12, c.15/12/2003)

PKGNAME=chrpath
PKGVER=0.13
PKGREV=-eg1c
#SRCDEP="c/ http://www.mirror.ac.uk/mirror/archive.ubuntu.com/ubuntu/pool/main/c/chrpath/chrpath_0.13.orig.tar.gz"
SRCDEP="c/ http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/main/c/chrpath/chrpath_0.13.orig.tar.gz"
PREFIXES=

#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
