# 2007-08-25 (EARLIEST v0.8.2, c.07/04/2005)

PKGNAME=rsyslog
#PKGVER=1.0.4
PKGVER=1.0.5
#PKGVER=1.12.1 (-eg1b, frlx-0.9.0pre1)
#PKGVER=1.12.3
#PKGVER=1.16.0
#PKGVER=1.19.0
#PKGVER=1.19.1
PKGREV=
#	http://www.monitorware.com/rsyslog/rsyslog-${PKGVER}.tar.gz
#	http://download.adiscon.com/rsyslog/rsyslog-${PKGVER}.tar.gz
SRCDEP="r/ http://download.rsyslog.com/rsyslog/rsyslog-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
