# 17/07/2005 (EARLIEST v4.0.4, c.21/10/2002)

PKGNAME=rpm
PKGVER=4.0.4
#	ftp://ftp.rpm.org/pub/rpm/dist/rpm-4.0.x/${PKGNAME}-${PKGVER}.tar.gz
SRCDEP="r/ http://www.mirror.ac.uk/mirror/ftp.rpm.org/pub/rpm/dist/rpm-4.1.x/rpm-4.1.tar.gz"
PREFIXES=
#
#TCDEP1= zlib[.a]
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
