# 18/11/2006 (EARLIEST v?.??, 06/02/2006)

PKGNAME=scanmem
PKGVER=0.03
PKGREV=
SRCDEP="s/ http://dev.gentoo.org/~taviso/files/scanmem-0.03.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
