# 17/12/2005

PKGNAME=patch
PKGVER=2.5.4
PKGREV=-eg2b
#SRCDEP="p/ http://www.mirror.ac.uk/mirror/ftp.gnu.org/gnu/${PKGNAME}/${PKGNAME}-${PKGVER}.tar.gz"
SRCDEP="p/ http://www.mirrorservice.org/sites/ftp.gnu.org/gnu/${PKGNAME}/${PKGNAME}-${PKGVER}.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
