# 17/12/2005 (EARLIEST v2.3.13, c.06/02/2004)

PKGNAME=xinetd
PKGVER=2.3.13
PKGREV=-eg1b
#	http://www.xinetd.org/xinetd-2.3.13.tar.gz
#SRCDEP="x/ http://www.mirror.ac.uk/mirror/ftp.debian.org/debian/pool/main/x/xinetd/xinetd_2.3.13.orig.tar.gz"
SRCDEP="x/ http://www.mirrorservice.org/sites/ftp.debian.org/debian/pool/main/x/xinetd/xinetd_2.3.13.orig.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
