# nui-ldso v1.9.9		[ since v1.9.9, c.????-??-?? ]
# last mod WmT, 2009-12-03	[ (c) and GPLv2 1999-2009 ]

PKG_SRC=${SRCDIR}/SW39/ldso.tgz

PKG_URLS=http://ftp.no.debian.org/pub/linux/slackware/slackware-3.9/slakware/a7/ldso.tgz

DEPS=""
METHOD=sh
