# nui-gmake v3.76.1		[ since v3.76.1, c.????-??-?? ]
# last mod WmT, 2009-12-03	[ (c) and GPLv2 1999-2009 ]

PKG_SRC=${SRCDIR}/SW39/gmake.tgz

PKG_URLS=http://ftp.no.debian.org/pub/linux/slackware/slackware-3.9/slakware/d1/gmake.tgz

DEPS="nui-libc nui-ldso"
METHOD=sh
