# nui-bzip2 v0.9.0b		[ since v0.9.0b, c.????-??-?? ]
# last mod WmT, 2010-04-11	[ (c) and GPLv2 1999-2010 ]

PKG_SRC=${SRCDIR}/SW39/bzip2.tgz

PKG_URLS=http://ftp.no.debian.org/pub/linux/slackware/slackware-3.9/slakware/a1/bzip2.tgz


DEPS="nui-libc nui-ldso"
METHOD=sh
