# nui-gcc v2.7.2.3		[ since v2.7.2.3, c.????-??-?? ]
# last mod WmT, 2009-12-03	[ (c) and GPLv2 1999-2009 ]

PKG_SRC=${SRCDIR}/SW39/gcc.tgz

PKG_URLS=http://ftp.no.debian.org/pub/linux/slackware/slackware-3.9/slakware/d1/gcc.tgz

DEPS="nui-libc nui-ldso"
METHOD=sh
