# nui-libc v5.4.46		[ since v5.4.46, c.????-??-?? ]
# last mod WmT, 2009-12-03	[ (c) and GPLv2 1999-2009 ]

PKG_SRC=${SRCDIR}/SW39/libc.tgz

PKG_URLS=http://ftp.no.debian.org/pub/linux/slackware/slackware-3.9/slakware/d1/libc.tgz

DEPS=""
METHOD=sh
