# 2008-06-01 (EARLIEST v0.10.0, c.2008-06-01)

PKGNAME=pixman
PKGVER=0.10.0
PKGREV=
SRCDEP="p/ http://www.mirrorservice.org/sites/archive.ubuntu.com/ubuntu/pool/main/p/pixman/pixman_0.10.0.orig.tar.gz"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: flex, bison

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
