# 2008-01-05 (EARLIEST v0.60.2, c.2002-10-11)

PKGNAME=busybox
#PKGVER=1.2.2.1
#PKGVER=1.4.1
#PKGVER=1.6.0
#PKGVER=1.6.1
#PKGVER=1.7.1
#PKGVER=1.7.2
#PKGVER=1.8.0
#PKGVER=1.8.1
#	PKGVER=1.9.0
PKGVER=1.8.2
PKGREV=
#SRCDEP="b/ http://www.busybox.net/downloads/legacy/busybox-0.60.5.tar.bz2"
SRCDEP="b/ http://busybox.net/downloads/busybox-${PKGVER}.tar.bz2"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC: kernel-headers
#DEP-FOR-TC: sed, awk, find, grep, tar
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
