# 06/08/2006 (EARLIEST v2.1, c.05/04/2005)

PKGNAME=minicom
PKGVER=2.1
#PKGVER=2.2-rc2
SRCDEP="m/ http://alioth.debian.org/download.php/123/minicom-2.1.tar.gz"
#SRCDEP="m/ http://alioth.debian.org/download.php/1721/minicom-2.2-rc2.tar.gz"
PREFIXES=
#
DEP_TC_HOST="/usr/bin/make"
#DEP
#
SRCXPATH=${PKGNAME}-${PKGVER}
#
PACKAGE=${PKGNAME}-${PKGVER}
