# 2008-10-12 (FROM INCOMING 2008-10-12)

PKGNAME=bftpd
PKGVER=2.3
PKGREV=
SRCDEP="b/ http://switch.dl.sourceforge.net/sourceforge/bftpd/bftpd-2.3.tar.gz"
PREFIXES=
#
#DEP-FOR-DC:
#DEP-FOR-TC:
#DEP-FOR-RT:
#
#SRCXPATH=${PKGNAME}-${PKGVER}
SRCXPATH=${PKGNAME}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
