# 19/05/2007

PKGNAME=uClibc
PKGVER=0.9.20
#PKGREV=-eg2g (13/03/2005)
PKGREV=-eg2k
SRCDEP="u/ http://www.uclibc.org/downloads/old-releases/uClibc-${PKGVER}.tar.bz2"
PREFIXES="RUNTIME WRAPPERS"

DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-TC: awk; tar; find; <linux2.0headers>; which

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
RUNTIME_PACKAGE=${PKGNAME}-rt-${PKGVER}${PKGREV}
WRAPPERS_PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
