# 22/10/2005 (EARLIEST v2.86, c.22/10/2005)

PKGNAME=sysvinit
PKGVER=2.86
PKGREV=
SRCDEP="s/ ftp://ftp.cistron.nl/pub/people/miquels/sysvinit/sysvinit-2.86.tar.gz"
PREFIXES=''
#
DEP_TC_HOST="/usr/bin/make"
#DEP-FOR-DC:
#
SRCXPATH=${PKGNAME}-${PKGVER}
#SRCXPATH=${PKGNAME}
#
PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
