# 2007-09-22 (EARLIEST v0.2.3, c.2003-10-05)

PKGNAME=sioux
PKGVER=0.2.7
PKGREV=-eg1b
#	http://heim.ifi.uio.no/~andreto/sioux/src/sioux-0.2.7.tar.bz2
#	ftp://mirror.linuxsoft.cz/pool/5282/sioux-0.2.7.tar.bz2
SRCDEP="s/ http://www.xn--tnnesen-q1a.org/files/sioux/sioux-0.2.7.tar.bz2"
PREFIXES=

DEP_TC_HOST="/usr/bin/make"
#DEP

SRCXPATH=${PKGNAME}-${PKGVER}

PACKAGE=${PKGNAME}-${PKGVER}${PKGREV}
